---
import Layout from '../layouts/Layout.astro';
//import '../styles.css';
import { Image, Picture } from "@astrojs/image/components";
import about_banner from '../../public/Images/about-banner.svg';
import twelve from '../../public/Images/g_12.svg';
import fifty from '../../public/Images/g_50.svg';
import ten from '../../public/Images/g_10.svg';
import two from '../../public/Images/g_2.svg';
import unique_approach from '../../public/Images/unique-approach.svg';
import mission from '../../public/Images/mission.svg';
import our_approach from '../../public/Images/our-approach.svg';
import in_action from '../../public/Images/in-action.svg';
import drive_to_innovation from '../../public/Images/drive-to-innovation.svg';
import right_arrow from '../../public/Images/right-arrow.svg';
import innovative_mind from '../../public/Images/innovative-mind.svg';
import continuous_learn from '../../public/Images/continuous-learn.svg';
import customer_center from '../../public/Images/customer-center.svg';
import ethical from '../../public/Images/ethical.svg';
import end_to_end from '../../public/Images/end-to-end.svg';
import adaptability from '../../public/Images/adaptability.svg';
import tree_plant from '../../public/Images/tree-plant.svg';
import ellipse from '../../public/Images/ellipse.svg';
import support_vrudhashram from '../../public/Images/support-vrudhashram.svg';
import support_dog from '../../public/Images/support-dog.svg';
import impactful_story from '../../public/Images/impactful-story.png';
import anand_thakker from "../../public/Images/anand_thakker.svg";
import kirit_gajera from "../../public/Images/kirit_gajera.svg";
import brilliant_working from "../../public/Images/brilliant_working.svg";
import brilliant_working_new from "../../public/Images/brilliant_working.jpg";
import cta_mobile from "../../public/Images/cta-mobile.svg";
import right from "../../public/Images/right.svg";

---

<Layout title="About Sanskar Technolabs | ERPNext software development company", keyword="erp implementation, Erpnext solution company, ERPnext development services, Erpnext solution company, ERPNext software development company, Servicenow implementation services", description=" Here’s the subtle glimpses about the journey of Sanskar Technolabs, The best ERPNext Implementation partner.", canonical_href="https://astro.sanskartechnolab.com/about">
	<section class="section-bg-right">
		<div
			class="hidden lg:flex h-[calc(100vh-10vh)] lg:py-[0rem] xl:py-[24rem] 2xl:py-[24rem] relative flex-wrap items-center " >
			<Image
				class="absolute right-0 w-7/12 lg:pr-[0rem] xl:pr-[0rem] 2xl:pr-[12rem] lg:pt-[6rem] xl:pt-0"
				src={about_banner}
				alt="banner image"
				width={1002} 
				height={616}
			/>
			<div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 flex container">
				<div class="w-7/12">
			<h1	class="lg:text-[2.75rem] xl:text-[3.5rem] 2xl:text-[3.5rem]  lg:mt-[-6rem] xl:mt-[-16rem] text-[#31393C] font-semibold lg:leading-[3.75rem] xl:leading-[4rem]">
						Efficient workflows.<br> Satisfied customers.<br> Productive Workforce. 
					</h1>
					<p class="text[#31393C] font-normal lg:text-base xl:text-lg mt-5 leading-7">
						Sanskar Technolabs is reshaping enterprise operations with the <br> best tech and an experienced team of professionals!	
					</p>
				</div>
			</div>
		</div>

		<div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 flex lg:hidden flex-wrap items-center justify-between pt-10 pb-5 h-[calc(100vh-9vh)]" >
			<div class="">
				<div class="text-[1.75rem] md:text-[3rem] text-[#31393C] font-semibold leading-9 md:leading-[3.5rem]">
						Efficient workflows.<br> Productive Workforce. <br> Satisfied customers.
				</div>
					<p class="text[#31393C] font-normal md:text-base mt-3 md:mt-5 leading-5 md:leading-6">
						Sanskar Technolabs is reshaping enterprise <br> operations with the best tech and an experienced <br> team of professionals!	
					</p>
			</div>
			<Image
				src={about_banner}
				alt="banner image"
				class="mb-12 md:mb-0 mt-5"
				width={1002} 
				height={616}
			/>
		</div>
	</section>

		<section
      class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[3.125rem] md:py-[2rem] lg:py-[4rem]"
    >
      <div class="md:text-center sm:text-left">
       <h2 class="text-center font-semibold text-[#31393C] text-2xl md:text-3xl lg:text-4xl leading-[2.25rem] md:leading-[2.50rem] lg:leading-[2.75rem]">Who are we?</h2>				
				<p class="mt-2 md:mt-3 lg:mt-4 text-center font-normal leading-4 md:leading-5 lg:leading-6 text-xs md:text-sm lg:text-base text-[#31393C]">Sanskar Technolab has been the leading ERPNEXT & ServiceNow implementation partner serving enterprises for the past 12 <br class="hidden md:hidden lg:block"> years. We have a dedicated team of over 50+ skilled developers, designers, and project managers who will understand <br class="hidden md:hidden lg:block"> clients' requirements and offer solutions accordingly.</p>
      </div>
	  <p class="pt-6 md:pt-8 lg:pt-12 pb-6 md:pb-8 lg:pb-12 text-center font-semibold text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] leading-7 md:leading-8 lg:leading-9 text-[#31393C]">Sneak Peek into our growing numbers!</p>

      <div class=" ">
        <div class="swiper-container !overflow-hidden">
          <div class="swiper-wrapper ml-0 md:ml-0">
            <div class="swiper-slide p-3">
              <div class="let-shadow w-auto md:w-64 h-64 p-5 grid justify-items-center">
							<Image class="" src={twelve} alt="12+ Years of Excellence" width={74} height={60} />	
							<p class="text-[3.5rem] md:text-[3.75rem] lg:text-[4rem] font-bold">12+</p>
							<p class="font-normal text-base">Years of Excellence</p>
				</div>
            </div>

            <div class="swiper-slide  p-3">
              <div class="let-shadow w-auto md:w-64 h-64 p-5 grid justify-items-center">
							<Image src={fifty} alt="12+ Years of Excellence" width={64} height={60} />	
							<p class="text-[3.5rem] md:text-[3.75rem] lg:text-[4rem] font-bold">50+</p>
							<p class="font-normal text-base">Dedicated team</p>
						</div>
            </div>

            <div class="swiper-slide p-3">
              <div class="let-shadow w-auto md:w-64 h-64 p-5 grid justify-items-center">
							<Image src={ten} alt="12+ Years of Excellence" width={61} height={61} />	
							<p class="text-[3.5rem] md:text-[3.75rem] lg:text-[4rem] font-bold">10+</p>
							<p class="font-normal text-base">Industries Served!</p>
						</div>
            </div>

            <div class="swiper-slide p-3">
              <div class="let-shadow w-auto md:w-64 h-64 p-5 grid justify-items-center">
							<Image src={two} alt="12+ Years of Excellence" width={60} height={60} />	
							<p class="text-[3.5rem] md:text-[3.75rem] lg:text-[4rem] font-bold">2</p>
							<p class="font-normal text-base">Work Hubs</p>
						</div>
            </div>

            <div class="block xl:hidden swiper-slide  p-3">
              <div class="let-shadow w-auto md:w-64 h-64 p-5 grid justify-items-center">
							<Image src={fifty} alt="12+ Years of Excellence" width={64} height={60} />	
							<p class="text-[3.5rem] md:text-[3.75rem] lg:text-[4rem] font-bold">50+</p>
							<p class="font-normal text-base">Dedicated team</p>
						</div>
            </div>

             <div class="block xl:hidden swiper-slide p-3">
              <div class="let-shadow w-auto md:w-64 h-64 p-5 grid justify-items-center">
							<Image src={ten} alt="12+ Years of Excellence" width={61} height={61} />	
							<p class="text-[3.5rem] md:text-[3.75rem] lg:text-[4rem] font-bold">10+</p>
							<p class="font-normal text-base">Industries Served!</p>
						</div>
            </div>
          </div>
        </div>
      </div>
      <div class="justify-center  flex gap-3 mt-5 -mb-7">
					<!-- <Image src={previousbtn} alt="previousbtn" id="prev" />
				<Image src={nextbtn} alt="nextbtn" id="next" /> -->
					<button
						class="prev-button rounded-full border border-[#3E96F4] p-3 text-[#3E96F4] hover:bg-[#3E96F4] hover:text-white"
						
					>
						<span class="sr-only">Previous Slide</span>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="h-3 w-3 rtl:rotate-180"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M15.75 19.5L8.25 12l7.5-7.5"></path>
						</svg>
					</button>

					<button
						class="next-button rounded-full border border-[#3E96F4] p-3 text-[#3E96F4] hover:bg-[#3E96F4] hover:text-white"

					>
						<span class="sr-only">Next Slide</span>
						<svg
							class="h-3 w-3 rtl:rotate-180"
							fill="none"
							stroke="currentColor"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M9 5l7 7-7 7"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"></path>
						</svg>
					</button>
				</div>
    </section>


		<section class="section-bg-left py-[3.125rem] md:py-[2rem] lg:py-[4rem]">
			<div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-10  mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
				<div>
					<h2 class="text-2xl md:text-3xl text-center md:text-center lg:text-start lg:text-4xl mr-0 md:mr-0 lg:mr-20 leading-[2rem] md:leading-[2.50rem] lg:leading-[2.75rem] font-semibold text-[#31393C]">Sanskar Technolab's unique approach to setting up enterprises for success!</h2>
					<div class="flex flex-wrap justify-center md:justify-center lg:justify-start">
						<Image class="flex flex-wrap justify-center items-center mt-10 md:mt-12 lg:mt-16" src={unique_approach} alt="Unique Approach" width={409} height={389} />
					</div>
				</div>

				<div class="ml-0 md:ml-0 lg:ml-[0rem] xl:ml-[-4.375rem]">
					<div class="flex gap-4 md:gap-4 lg:gap-6">
						<Image class="object-none object-left-top" src={mission} alt="Our Mission" width={48} height={48} />
						<div class="pb-2 md:pb-3 lg:pb-4">
							<p class="pb-2 text-base md:text-lg lg:text-xl leading-5 md:leading-6 lg:leading-7 font-semibold text-[#31393C]">Our Mission</p>
							<p class="pb-2 text-xs md:text-sm lg:text-base leading-4 md:leading-5 leading-6 font-normal text-[#31393C]">To be the guiding light for global brands in the digital world, addressing unique customers' needs by thoroughly understanding their pain points, challenges, and aspirations with innovative enterprise solutions.</p>							
						</div>
					</div>

					<div class="flex gap-4 md:gap-4 lg:gap-6">
						<Image class="object-none object-left-top" src={our_approach} alt="Our Approach" width={49} height={48} />
						<div class="pb-2 md:pb-3 lg:pb-4">
							<p class="pb-2 text-base md:text-lg lg:text-xl leading-5 md:leading-6 lg:leading-7 font-semibold text-[#31393C]">Our Approach</p>
							<p class="pb-2 text-xs md:text-sm lg:text-base leading-4 md:leading-5 leading-6 font-normal text-[#31393C]">We adopt a unique and client-centric approach to deliver desired and customized solutions by leveraging the best in class technology, and standard development trends, targeting their pain points and USP(unique selling point) for bringing the best to the table for our clients and their end users.</p>							
						</div>
					</div>

					<div class="flex gap-4 md:gap-4 lg:gap-6">
						<Image class="object-none object-left-top" src={in_action} alt="In Action" width={49} height={49} />
						<div class="pb-2 md:pb-3 lg:pb-4">
							<p class="pb-2 text-base md:text-lg lg:text-xl leading-5 md:leading-6 lg:leading-7 font-semibold text-[#31393C]">In Action</p>
							<p class="pb-2 text-xs md:text-sm lg:text-base leading-4 md:leading-5 leading-6 font-normal text-[#31393C]">We dive deep into our client's unique needs, leveraging deep industry knowledge, cutting-edge technology, and a sprinkle of creativity to craft customized IT solutions that solve our client's challenges and help them achieve a competitive edge, and bring their digital dreams to life.</p>							
						</div>
					</div>

					<div class="flex gap-4 md:gap-4 lg:gap-6">
						<Image class="object-none object-left-top" src={drive_to_innovation} alt="Drive To Innovation" width={48} height={34} />
						<div class="pb-0 md:pb-3 lg:pb-4">
							<p class="pb-2 text-base md:text-lg lg:text-xl leading-5 md:leading-6 lg:leading-7 font-semibold text-[#31393C]">Join Our Drive to Innovation</p>
							<p class="pb-0 md:pb-0 lg:pb-2 text-xs md:text-sm lg:text-base leading-4 md:leading-5 leading-6 font-normal text-[#31393C]">If you're seeking a trusted partner who understands the digital landscape, infuses innovation into every solution, and unlocks the full potential of your business, join us on this exciting IT adventure. Together, we'll develop a transformative solution for your business's success.</p>							
						</div>
					</div>
				</div>
			</div>
		</section>	

		<section class="section-bg-left py-[3.125rem] md:py-[6.25rem] lg:py-[3.125rem]">
            <div class="hidden lg:block md:max-w-7xl md:mx-auto md:px-24">
                <div
                    class="bg-partner bg-cover bg-no-repeat bg-center md:bg-contain md:bg-right h-96 grid p-16 pt-24 items-center"
                >
                    <h2 class="w-10/12 pr-16 lg:text-2xl xl:text-4xl lg:leading-[2.25rem] xl:leading-[2.75rem] text-white font-semibold">
									Partner with us to unleash the potential of the best tech for your business!
								</h2>
                    							<div
								class="text-white text-base font-semibold flex items-center gap-3 lg:-mt-20 xl:-mt-16 font-inter"
							>
							<div
										class="flex justify-between bg-white rounded-lg lg:px-4 xl:px-5 py-2 w-56" >
										<a href="/contact-us" class="text-[#3E96F4] font-semibold text-base font-inter">Book a free demo.</a>
										<Image src={right_arrow} alt="Drive To Innovation" width={6} height={12} />
									</div>
							</div>
                </div>
            </div>

            <div
                class="block lg:hidden md:max-w-7xl md:mx-auto md:px-24 mt-10 bg-[#3E96F4] pb-10"
            >
                <div class="mx-5">
                    <Image src={cta_mobile} alt="cta-mobile" />
                    <h2
                        class="text-2xl md:text-3xl lg:text-4xl !leading-[2rem] md:!leading-[2.75rem] text-white font-semibold"
                    >
                       Partner with us to unleash the potential of the best tech for your business!
                </h2>
                    	<div
								class="text-white text-base font-semibold flex items-center gap-3 mt-3 md:mt-5 font-inter"
							>
							<div
										class="flex justify-between bg-white rounded-lg px-4 py-2 w-56" >
										<a href="/contact-us" class="text-[#3E96F4] font-semibold text-base font-inter">Book a free demo.</a>
										<Image src={right_arrow} alt="Drive To Innovation" width={6} height={12} />
									</div>
							</div>
                </div>
            </div>
        </section>

		<section>
			<div class="mx-5 md:max-w-7xl py-[3.125rem] md:py-[2rem] lg:py-[4rem] md:mx-auto md:px-24">
				<h2 class="text-2xl md:text-3xl lg:text-4xl leading-[2rem] md:leading-[2.25rem] lg:leading-[2.75rem] pb-2 md:pb-3 lg:pb-4 text-center font-semibold text-[#31393C]">Our Core Values</h2>
				<p class="text-xs md:text-sm lg:text-base text-center text-[#000000] font-semibold leading-4 md:leading-5 lg:leading-6">Our Guiding Principles to drive the desired action.</p>
				<div class="grid  grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 mt-8 md:mt-10 lg:mt-14 mb-0 md:mb-0 lg:mb-0 gap-6 md:gap-10 lg:gap-14">
					<div class="flex flex-col items-center">
						<Image class="pb-1 md:pb-2 lg:pb-3" src={innovative_mind} alt="Innovative Mind" width={56} height={64} />
						<p class="pb-0 md:pb-0 lg:pb-1 text-[#31393C] leading-7 md:leading-8 lg:leading-9 text-base md:text-lg lg:text-xl font-semibold">Innovative minds!</p>
						<p class="text-center text-[#000000] leading-4 md:leading-5 lg:leading-6 text-xs md:text-sm lg:text-base font-normal">Serving excellence with innovation.</p>
					</div>
					<div class="flex flex-col items-center">
						<Image class="pb-1 md:pb-2 lg:pb-3" src={continuous_learn} alt="Continuous Learning" width={63} height={64} />
						<p class="pb-0 md:pb-0 lg:pb-1 text-[#31393C] leading-7 md:leading-8 lg:leading-9 text-base md:text-lg lg:text-xl font-semibold">Continuous Learning.</p>
						<p class="text-center text-[#000000] leading-4 md:leading-5 lg:leading-6 text-xs md:text-sm lg:text-base font-normal">Constantly Learning & Growing together!</p>
					</div>
					<div class="flex flex-col items-center">
						<Image class="pb-1 md:pb-2 lg:pb-3" src={customer_center} alt="Customer at the center" width={65} height={64} />
						<p class="pb-0 md:pb-0 lg:pb-1 text-center text-[#31393C] leading-7 md:leading-8 lg:leading-8 xl:leading-9 text-base md:text-lg lg:text-xl font-semibold">The customer at the center!</p>
						<p class="text-center text-[#000000] leading-4 md:leading-5 lg:leading-6 text-xs md:text-sm lg:text-base font-normal">Keeping our customers at the center.</p>
					</div>
					<div class="flex flex-col items-center">
						<Image class="pb-1 md:pb-2 lg:pb-3" src={ethical} alt="Ethical" width={71} height={64} />
						<p class="pb-0 md:pb-0 lg:pb-1 text-[#31393C] leading-7 md:leading-8 lg:leading-9 text-base md:text-lg lg:text-xl font-semibold">Ethical Standards.</p>
						<p class="text-center text-[#000000] leading-4 md:leading-5 lg:leading-6 text-xs md:text-sm lg:text-base font-normal">Transparency. Honesty. Integrity.</p>
					</div>
					<div class="flex flex-col items-center">
						<Image class="pb-1 md:pb-2 lg:pb-3" src={end_to_end} alt="End-to-end collaboration " width={64} height={64} />
						<p class="text-center pb-0 md:pb-0 lg:pb-1 text-[#31393C] leading-7 md:leading-8 lg:leading-8 xl:leading-9 text-base md:text-lg lg:text-xl font-semibold">End-to-end collaboration.</p>
						<p class="text-center text-[#000000] leading-4 md:leading-5 lg:leading-6 text-xs md:text-sm lg:text-base font-normal">Fostering a collaborative environment</p>
					</div>
					<div class="flex flex-col items-center">
						<Image class="pb-1 md:pb-2 lg:pb-3" src={adaptability} alt="Adaptability" width={60} height={64} />
						<p class="pb-0 md:pb-0 lg:pb-1 text-[#31393C] leading-7 md:leading-8 lg:leading-9 text-base md:text-lg lg:text-xl font-semibold">Adaptability</p>
						<p class="text-center text-center text-[#000000] leading-4 md:leading-5 lg:leading-6 text-xs md:text-sm lg:text-base font-normal">Adapting to emerging trends and customer preferences</p>
					</div>				
				</div>
			</div>
		</section>

		<section
					class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 text-center py-[3.125rem] md:py-[2rem] lg:py-[4rem]" >
					<div class="text-center">
						<h2
							class="text-2xl md:text-3xl lg:text-4xl lg:text-[2.25rem] text-[#31393C] font-semibold"
						>
							Our Team
						</h2>
						<p 
							class="text-[#31393C] text-base md:text-xl lg:text-2xl mt-2 md:mt-3 lg:mt-5 font-semibold"
						>
							The Top-notch management of Sanskar Technolabs
						</p>
						<p
							class="text-black text-xs md:text-sm lg:text-base font-semibold mt-1 md:mt-1 lg:mt-2"
						>
							Meet the Core Team who laid the foundation & driving
							Sanskar Technolabs to New Heights.
						</p>
					</div>
					<div
						class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-10 md;gap-10 lg:gap-28 mt-10 md:mt-10 lg:mt-12 text-[#31393C]"
					>
						<div class="grid justify-items-center text-[#31393C]">
							<Image src={anand_thakker} alt="Anand Thakker" />
							<div>
								<p class="text-sm md:text-base lg:text-lg font-semibold mt-6">
									Anand Thakker
								</p>
								<p class="text-xs md:text-xs lg:text-sm font-semibold">
									Founder & CEO at Sanskar Technolab
								</p>
							</div>
							<p class="text-xs md:text-sm lg:text-base mt-2 md:mt-2 lg:mt-4">
								Meet Anand Thakker, the visionary founder and
								CEO of Sanskar Technolab. With a decade of
								experience in providing innovative IT solutions
								to clients worldwide, Anand's leadership has
								taken the company to new heights. His unwavering
								dedication for innovation have been the driving
								force behind Sanskar Technolab's success and
								even helped businesses transform in the digital
								landscape.
							</p>
						</div>
						<div class="grid justify-items-center text-[#31393C]">
							<Image src={kirit_gajera} alt="Kirit Gajera" />
							<div>
								<p class="text-sm md:text-base lg:text-lg font-semibold mt-6">
									Kirit Gajera
								</p>
								<p class="text-xs md:text-xs lg:text-sm font-semibold">
									COO at Sanskar Technolab
								</p>
							</div>
							<p class="text-xs md:text-sm lg:text-base mt-2 md:mt-2 lg:mt-4">
								Meet Kirit Gajera, the COO at Sanskar Technolab.
								With over two decades of diverse work experience
								in project management, business accument,
								technology, marketing, customer service, human
								resources, and product development - Kirit
								brings a wealth of expertise to the table. He is
								committed to remaining at the forefront of
								technological innovation and providing
								cutting-edge solutions.
							</p>
						</div>
					</div>
		</section>

		<section class="py-[3.125rem] md:py-[2rem] lg:py-[4rem]">
			<div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
				<h2 class="text-center text-lg md:text-xl lg:text-2xl font-semibold mb-1 md:mb-1 lg:mb-2 mx-4 md:mx-20 lg:mx-48">Assets of Sanskar Technolabs - Brilliant Minds working to bring <br class="hidden md:hidden lg:hidden xl:block"> your ideas to life.</h2>
				<p class="text-center text-xs md:text-sm lg:text-base mb-6 md:mb-6 lg:mb-10">Our strength lies within Sanskar’s team who is constantly bringing out the best for our clients</p>
				<div class="flex justify-center">
					<Image src={brilliant_working_new} alt="Sanskar working" width={924} height={662} />
				</div>
			</div>
		</section>


		<section class="section-bg-center">
			<div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[3.125rem] md:py-[2rem] lg:py-[4rem]">
				<h2 class="text-center text-[#31393C] font-semibold text-2xl md:text-3xl lg:text-4xl leading-[1.75rem] md:leading-[2.25rem] lg:leading-[2.75rem] pb-4 md:pb-6 lg:pb-8">Empowering Communities: <br > Sanskar Technolab's Dual Mission of Business <br class="hidden md:block"> Excellence and Social Responsibility!</h2>
				<p class="text-center text-[#000000] leading-4 md:leading-5 lg:leading-6 text-xs md:text-sm lg:text-base font-normal pb-2 md:pb-3 lg:pb-4">At Sanskar Technolabs, we believe in the power of collective impact and the importance of giving <br class="hidden md:hidden lg:block" /> back to society. As part of our commitment to social responsibility, we have partnered with Best <br class="hidden md:hidden lg:block" /> Deed, a leading crowdfunding platform, to support causes that align with our values.</p>
				<p class="text-center text-[#31393C] leading-4 md:leading-5 lg:leading-6 text-xs md:text-sm lg:text-base font-semibold">Together, we have contributed to a range of initiatives close to our hearts...</p>
				<div class="grid  grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 my-4 md:my-10 lg:my-14">
					<div class="flex flex-col items-center ">
						<Image class="pt-2" src={tree_plant} alt="Tree Plantation Drive" width={215} height={201} />
						<Image class="" src={ellipse} alt="Ellipse" width={277} height={4} />
						<p class="pt-2 md:pt-3 lg:pt-4 text-[#31393C] leading-4 md:leading-5 lg:leading-6 text-xs md:text-sm lg:text-base font-semibold pb-10 md:pb-0 lg:pb-0">Tree Plantation Drive</p>
					</div>

					<div class="flex flex-col items-center">
						<Image class="" src={support_vrudhashram} alt="Support Vrudhashram" width={181} height={209} />
						<Image class="" src={ellipse} alt="Ellipse" width={277} height={4} />
						<p class="pt-2 md:pt-3 lg:pt-4 text-[#31393C] leading-4 md:leading-5 lg:leading-6 text-xs md:text-sm lg:text-base font-semibold ">Support to Vrudhashram</p>
					</div>
					
					<div class="flex flex-col items-center">
						<Image class="pt-12" src={support_dog} alt="Support dogs & bullock" width={232} height={162} />
						<Image class="" src={ellipse} alt="Ellipse" width={277} height={4} />
						<p class="pt-2 md:pt-3 lg:pt-4 text-[#31393C] leading-4 md:leading-5 lg:leading-6 text-xs md:text-sm lg:text-base font-semibold pb-6 md:pb-0 lg:pb-0">Support for stray dogs & bullock</p>
					</div>
				</div>
				<p class="hidden md:hidden lg:hidden xl:block text-center text-[#000000] leading-4 md:leading-5 lg:leading-6 text-xs md:text-sm lg:text-base font-normal">Through these collaborations, we aim to make a positive difference in the lives of those in need <br> and create a lasting impact on the communities we serve.</p>
				<p class="block md:block lg:block xl:hidden text-center text-[#000000] leading-4 md:leading-5 lg:leading-6 text-xs md:text-sm lg:text-base font-normal">Through these collaborations, we aim to make a positive difference in the lives of those in need and create a lasting impact on the communities we serve.</p>
			</div>
		</section>

		<section class="py-[3.125rem] md:py-[3.125rem] lg:py-[3.125rem] xl:py-[6.25rem]">
			<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-6 md:gap-8 lg:gap-10 xl:gap-0 mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
				 <div class="flex justify-center md:justify-center lg:justify-start">
            <Image class="" src={impactful_story} alt="Impactful Story" width={483} height={486} />
        </div>
				<div> 
					<p class="text-[#31393C] pb-1 font-semibold text-[1rem] md:text-[1.375rem] lg:text-[1.75rem] leading-7 md:leading-8 lg:leading-9">Our Impactful Story: </p>
					<h2 class="text-[#31393C] pb-2 md:pb-4 lg:pb-6 font-semibold  text-2xl md:text-3xl lg:text-4xl leading-[1.75rem] md:leading-[2.25rem] lg:leading-[2.75rem]">12 Years of Excellence & <br class="hidden md:hidden lg:hidden xl:block"> Innovation!</h2>
					<p class="text-[#31393C]  pb-2 md:pb-4 lg:pb-6 leading-4 md:leading-5 lg:leading-6 text-xs md:text-sm lg:text-base font-normal">Sanskar Technolabs was started 12 years ago with a clear mission & vision to leverage the best technologies and tools to offer out-of-the-box solutions for our client by adopting the best practices, target market preferences, and latest trends.</p>
					<p class="text-[#31393C]  pb-2 md:pb-4 lg:pb-6 leading-4 md:leading-5 lg:leading-6 text-xs md:text-sm lg:text-base font-normal"> From our inception, we have consistently pushed the boundaries of excellence, fueled by continuous innovation and a commitment to providing tailored solutions. Placing our clients at the heart of everything we do, we strive to create not just solutions, but experiences that resonate with their unique needs.</p>
					<p class="text-[#31393C]  pb-2 md:pb-4 lg:pb-6 leading-4 md:leading-5 lg:leading-6 text-xs md:text-sm lg:text-base font-normal">As we look ahead, our dedication to crafting desired solutions for both our clients and their end customers remains the same. ONWARDS & UPDWARDS! </p>
				</div>
			</div>
		</section>
</Layout>

<style>
  .bg-partner {
        background-image: url("../../public/Images/join-hand.svg");
	}
  .let-shadow {
            border-radius: 10px;
            border: 2px solid #fff;
            background: linear-gradient(135deg, #ecf5ff 0%, #fff 100%);
            box-shadow: 0px 0px 100px 0px rgba(62, 150, 244, 0.1) inset,
                4px 4px 4px 0px rgba(62, 150, 244, 0.15);
	}

	.section-bg-left {
		position: relative;
	}

	.section-bg-left::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 140rem;
		background-image: radial-gradient(ellipse at left, rgba(62, 150, 244, 0.10), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
		z-index: -1;
		margin-top: 13rem;
	}

	.section-bg-center {
		position: relative;
	}
	
	.section-bg-center::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 140rem;
		background-image: radial-gradient(rgba(62, 150, 244, 0.10), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
		background-origin: border-box;
		background-clip: padding-box, border-box;
		z-index: -1;
		margin-top: 12rem;
	}
	.section-bg-right {
		position: relative;
	}


	.section-bg-right::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 120rem;
		background-image: radial-gradient(ellipse at right, rgba(62, 150, 244, 0.09), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
		z-index: -1;
		margin-top: -20rem;
	}


	@media (max-width: 640px) {
	.section-bg-right::before {
		height: 80rem;
		margin-top: -10rem;
	}
	}

	@media (max-width: 768px) {
	.section-bg-right::before {
		height: 80rem; /* Adjust the height for smaller screens */
		margin-top: -10rem; /* Adjust the margin-top for smaller screens */
	}
	}

	@media (min-width: 1024px) {
	.section-bg-right::before {
		height: 80rem; /* Adjust the height for smaller screens */
		margin-top: -10rem; 
	}
	}
	
</style>

<script>
 document.addEventListener("DOMContentLoaded", function () {
          const swiper = new Swiper(".swiper-container", {
            loop: true,
            slidesPerView: 1,
            spaceBetween: 0,
            autoplay: {
              delay: 3000,
            },
            navigation: {
              nextEl: ".next-button",
              prevEl: ".prev-button",
            },
            breakpoints: {
              640: {
                slidesPerView: 1.5,
                centeredSlides: true,
              },
			  768: {
                centeredSlides: false,
                slidesPerView: 2,
              },
              1024: {
                centeredSlides: false,
                slidesPerView: 3,
              },
              1280: {
                centeredSlides: false,
                slidesPerView: 4,
              },
            },
          });
        });
</script>