---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import c_banner from "../../public/Images/careers_banner.png";
import right from "../../public/Images/right.svg";
import work_timing from "../../public/Images/work_timing.svg";
import five_day_working from "../../public/Images/5_day_working.svg";
import courses from "../../public/Images/courses.svg";
import training from "../../public/Images/training.svg";
import c_process from "../../public/Images/c_process.svg";
import bonus from "../../public/Images/bonus.svg";
import c_slider1 from "../../public/Images/c_slider1.png";
import c_slider2 from "../../public/Images/c_slider2.png";
import c_slider3 from "../../public/Images/c_slider3.png";
import c_slider4 from "../../public/Images/c_slider4.png";
import c_slider5 from "../../public/Images/c_slider5.png";
import c_map from "../../public/Images/c_map.svg";
import c_job from "../../public/Images/c_job.svg";
import c_user from "../../public/Images/c_user.svg";
import previousbtn from "../../public/Images/previousbtn.svg";
import nextbtn from "../../public/Images/nextbtn.svg";
import customer from "../../public/Images/customer.svg";
import correct from "../../public/Images/correct.svg";
import close from "../../public/Images/popup_close_btn.svg"
---

<Layout title="career">
  <main>
    <section
      class="section-bg-right hidden lg:flex h-[calc(100vh-10vh)] relative flex-wrap items-center"
    >
      <Image
        class="absolute right-0 w-5/12"
        src={c_banner}
        alt="banner image"
      />
      <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 flex">
        <div class="w-7/12">
          <h1
            class="text-5xl text-[#31393C] font-semibold lg:leading-[4rem] xl:leading-[4rem]"
          >
            Dare to dream big, dare to innovate, and let your career soar with
            us!
          </h1>
          <p
            class="text-[#31393C] leading-7 font-normal lg:text-base xl:text-lg mt-6"
          >
            Take charge of your career with Sanskar Technolab!
          </p>
          <div
            class="mt-7 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 md:w-72 sm:w-auto"
          >
            <a
              href="/contact-us"
              class="text-white text-base font-semibold font-inter"
              >View Recent Openings!</a
            >
            <Image src={right} width={6} height={12} alt="right arrow " />
          </div>
        </div>
      </div>
    </section>

    <section class="section-bg-right mt-10 md:flex lg:hidden">
      <div
        class="mx-5 md:max-w-7xl md:mx-auto md:px-24 h-[calc(100vh-10vh)] flex-wrap items-center"
      >
        <div class="">
          <div
            class="text-[1.75rem] md:text-[3rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold"
          >
            Dare to dream big, dare to innovate, and let your career soar with
            us!
          </div>
          <p
            class="text[#31393C] text-sm md:text-base leading-5 md:leading-6 mt-5"
          >
            Take charge of your career with Sanskar Technolab!
          </p>
          <div
            class="mt-5 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 w-auto md:w-72"
          >
            <a
              href="/contact-us"
              class="text-white text-base font-semibold font-inter"
              >View Recent Openings!</a
            >
            <Image src={right} width={6} height={12} alt="right arrow " />
          </div>
        </div>
        <Image src={c_banner} alt="banner image" width={737} height={509} />
      </div>
    </section>

    <section class="pb-[3.125rem] md:pb-[3.125rem] lg:pb-[6.25rem]">
      <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24">
        <div class="md:text-center sm:text-left text-[#31393C]">
          <h2 class="text-2xl md:text-3xl lg:text-4xl font-semibold">
            Sanskar Technolabs at a glance!
          </h2>
          <p class="text-xs md:text-sm lg:text-base mt-5 lg:mx-40 md:mx-20 mx-auto">
            Sanskar Technolabs is the leading ERPNext & ServiceNow
            implementation partner, with a growing team of over 50+ professional
            managers, developers, designers, consultants, marketors and writers.
          </p>
          <div
            class="text-lg md:text-xl lg:text-2xl font-semibold mt-8 md:mt-10 lg:mt-10"
          >
            Why Us?
          </div>
        </div>

        <div
          class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-14 md:gap-14 lg:gap-16 text-[#31393C] mt-10 md:mt-12 lg:mt-14"
        >
          <div class="flex flex-wrap gap-5">
            <Image
              src={work_timing}
              alt=""
              class="sm:w-auto md:w-2/12 self-start -mt-5"
            />
            <div class="w-full md:w-9/12">
              <div
                class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
              >
                Flexible Work Timings
              </div>
              <p class="text-xs md:text-sm lg:text-base">
                Work on your terms with our flexible work timings, empowering
                you to achieve a healthy work-life balance that suits your needs
                and maximizes your productivity.
              </p>
            </div>
          </div>
          <div class="flex flex-wrap gap-5">
            <Image
              src={five_day_working}
              alt=""
              width={64}
              height={64}
              class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
            />
            <div class="w-full md:w-9/12">
              <div
                class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
              >
                5 Days Working
              </div>
              <p class="text-xs md:text-sm lg:text-base">
                Enjoy a well-deserved work-life harmony with our 5-day work
                week, giving you more time to recharge, pursue personal
                passions, and create lasting memories with your loved ones.
              </p>
            </div>
          </div>
          <div class="flex flex-wrap gap-5">
            <Image
              src={courses}
              alt=""
              width={64}
              height={64}
              class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
            />
            <div class="w-full md:w-9/12">
              <div
                class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
              >
                Sponsorship for Courses & Events
              </div>
              <p class="text-xs md:text-sm lg:text-base">
                Expand your horizons and enhance your skills with our
                sponsorship for industry courses and events. It ensures
                continuous learning and professional growth on your journey with
                us.
              </p>
            </div>
          </div>
          <div class="flex flex-wrap gap-5">
            <Image
              src={training}
              alt=""
              width={64}
              height={64}
              class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
            />
            <div class="w-full md:w-9/12">
              <div
                class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
              >
                Hands-on Training
              </div>
              <p class="text-xs md:text-sm lg:text-base">
                Gain valuable hands-on experience through our comprehensive
                training programs, equipping you with the practical skills and
                knowledge needed to excel in your role and advance your career.
              </p>
            </div>
          </div>
          <div class="flex flex-wrap gap-5">
            <Image
              src={c_process}
              alt=""
              width={64}
              height={64}
              class="w-auto md:w-2/12 md:h-16 lg:w-2/12 self-start -mt-5"
            />
            <div class="w-full md:w-9/12">
              <div
                class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
              >
                Transparent & Seamless Appraisal Process
              </div>
              <p class="text-xs md:text-sm lg:text-base">
                Navigate your career path confidently with our transparent and
                seamless appraisal process, where your contributions are
                recognized and your growth is supported.
              </p>
            </div>
          </div>
          <div class="flex flex-wrap gap-5">
            <Image
              src={bonus}
              alt=""
              width={64}
              height={64}
              class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
            />
            <div class="w-full md:w-9/12">
              <div
                class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
              >
                Referral Bonus
              </div>
              <p class="text-xs md:text-sm lg:text-base">
                Share the opportunity and be rewarded! Refer talented
                individuals to join our team and enjoy a referral bonus as a
                token of our appreciation for helping us build an exceptional
                workforce.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="section-bg-center_career py-[3.125rem] md:py-[2rem] lg:py-[4rem]"
    >
      <div
        class="mx-5 md:max-w-7xl md:mx-auto md:px-24 text-[#31393C]"
        id="job"
      >
        <div
          class="text-left md:text-center font-semibold text-2xl md:text-3xl lg:text-4xl mb-8 md:mb-10 lg:mb-10"
        >
          Recent Job Openings!
        </div>

        <!-- <div
                    class="border border-[#B5CBE3] rounded text-sm md:text-sm lg:text-base  bg-white p-5 mx-auto md:mx-20 lg:mx-40 mb-5"
                >
                    <div class="font-semibold mb-2 md:mb-3 lg:mb-1">
                        Trainee Software Engineer (Python, JavaScript)
                    </div>
                    <div class="flex flex-wrap gap-2 md:gap-3 lg:gap-5 mt-3 md:mt-auto">
                        <div class="flex gap-1 md:gap-1 lg:gap-2 w-full md:w-auto">
                            <Image src={c_user} alt="user" />
                            <p>20</p>
                        </div>
                        <div class="flex gap-1 md:gap-1 lg:gap-2 w-full md:w-auto">
                            <Image src={c_job} alt="job" />
                            <p>0 Year</p>
                        </div>
                        <div class="flex gap-1 md:gap-1 lg:gap-2 w-full md:w-auto">
                            <Image src={c_map} alt="map" />
                            <p>Ahmedabad, Junagadh</p>
                        </div>
                    </div>
                </div>

                <div
                    class="border border-[#B5CBE3] text-sm md:text-sm lg:text-base rounded bg-white p-5 mx-auto md:mx-20 lg:mx-40 mb-5"
                >
                    <div class="font-semibold mb-2 md:mb-3 lg:mb-1">
                        ServiecNow Developer
                    </div>
                    <div class="flex flex-wrap gap-2 md:gap-3 lg:gap-5 mt-3 md:mt-auto">
                        <div class="flex gap-2 md:gap-1 lg:gap-2 w-full md:w-auto">
                            <Image src={c_user} alt="user" />
                            <p>1</p>
                        </div>
                        <div class="flex gap-1 md:gap-1 lg:gap-2 w-full md:w-auto">
                            <Image src={c_job} alt="job" />
                            <p>0-2 Years</p>
                        </div>
                        <div class="flex gap-1 md:gap-1 lg:gap-2 w-full md:w-auto">
                            <Image src={c_map} alt="map" />
                            <p>Ahmedabad, Junagadh</p>
                        </div>
                    </div>
                </div>

                <div
                    class="flex justify-between items-center border border-[#B5CBE3] text-sm md:text-sm lg:text-base rounded bg-white p-5 mx-auto md:mx-20 lg:mx-40 mb-5"
                >
                    <div>
                        <div class="font-semibold mb-2 md:mb-3 lg:mb-1">ERPNext Developer</div>
                        <div class="flex flex-wrap gap-2 md:gap-3 lg:gap-5 mt-3 md:mt-auto">
                            <div class="flex gap-1 md:gap-1 lg:gap-2 w-full md:w-auto">
                                <Image src={c_user} alt="user" />
                                <p>1</p>
                            </div>
                            <div class="flex gap-1 md:gap-1 lg:gap-2 w-full md:w-auto">
                                <Image src={c_job} alt="job" />
                                <p>3+ Years (Preferred)</p>
                            </div>
                            <div class="flex gap-1 md:gap-1 lg:gap-2 w-full md:w-auto">
                                <Image src={c_map} alt="map" />
                                <p>Ahmedabad, Junagadh</p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3"
                    >
                        <button
                            class="text-white text-base font-semibold font-inter"
                            >Apply Now</button
                        >
                    </div>
                </div> -->
        <!-- <div class="bg-white rounded-[10px] mx-5 md:max-w-7xl md:mx-auto md:px-24 absolute w-full h-20 z-10">

                </div> -->


        <!-- <button id="openPopup" class="px-4 py-2 bg-blue-500 text-white"
          >Open Popup</button
        > -->

        



      </div>
    </section>

    <!-- <section
            class="pt-[6.25rem] md:pt-[6.25rem] lg:pt-[12.5rem]"
        >
            <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 text-[#31393C] flex justify-between">
                <div
                    class="text-center font-semibold text-2xl md:text-3xl lg:text-4xl"
                >
                We work. We Learn. We Grow & Have Fun.
                </div>
                <div class="hidden md:flex">
                    <div class="flex justify-center gap-3">
                        <Image src={previousbtn} alt="previousbtn" id="preBtn" />
                        <Image src={nextbtn} alt="nextbtn" id="nextBtn" />
                    </div>
                </div>
            </div>
            <div
					id="carouselExampleCaptions"
					class="relative mx-5 md:max-w-7xl md:ml-auto md:mx-auto md:pl-24 mt-10"
					data-te-carousel-init
					data-te-carousel-slide
				>
					// Carousel indicators
					<div
						class="absolute bottom-0 left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
						data-te-carousel-indicators
					>
						<button
							type="button"
							data-te-target="#carouselExampleCaptions"
							data-te-slide-to="0"
							data-te-carousel-active
							class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
							aria-current="true"
							aria-label="Slide 1"></button>
						<button
							type="button"
							data-te-target="#carouselExampleCaptions"
							data-te-slide-to="1"
							class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
							aria-label="Slide 2"></button>
					</div>

					// Carousel items
					<div
						class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
					>
						// First item
						<div
							class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
							data-te-carousel-active
							data-te-carousel-item
							style="backface-visibility: hidden"
						>
							<div class="block flex gap-7">
								<div class="w-96">
                                    <Image src={c_slider1} alt="slider1" class="w-96" />
                                    <div class="we-work p-5 h-60">
                                        <div class="font-semibold text-base md:text-lg lg:text-xl">Culture at the core</div>
                                        <p class="text-xs md:text-sm lg:text-base">Sanskar Technolabs promotes an uplifting culture where we learn, have fun, and grow together!</p>
                                    </div>
                                </div>
								<div class="w-96">
                                    <Image src={c_slider2} alt="slider2" class="w-96" />
                                    <div class="we-work p-5 h-60">
                                        <div class="font-semibold text-base md:text-lg lg:text-xl">Converse & Grow</div>
                                        <p class="text-xs md:text-sm lg:text-base">The management and employees are always up for collaboration and conversation. Don't hold back—ask questions, seek clarity, and share your ideas freely.</p>
                                    </div>
                                </div>
								<div class="w-96">
                                    <Image src={c_slider3} alt="slider3" class="w-96" />
                                    <div class="we-work p-5 h-60">
                                        <div class="font-semibold text-base md:text-lg lg:text-xl">Collaborative Growth</div>
                                        <p class="text-xs md:text-sm lg:text-base">You grow. We grow! We thrive on a culture of shared learning. Together, we'll embark on a journey of continuous growth where knowledge is shared, skills are honed, and success is celebrated.</p>
                                    </div>
                                </div>
                                <div class="w-96">
                                    <Image src={c_slider1} alt="slider4" class="w-96" />
                                    <div class="we-work p-5 h-60">
                                        <div class="font-semibold text-base md:text-lg lg:text-xl">Take charge</div>
                                        <p class="text-xs md:text-sm lg:text-base">Take charge of your professional journey and pride in your work. At Sanskar Technolab, we empower you to take ownership of your projects and outcomes.</p>
                                    </div>
                                </div>
							</div>
						</div>
						// Second item
						<div
							class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
							data-te-carousel-item
							style="backface-visibility: hidden"
						>
                        <div class="w-96">
                            <Image src={c_slider1} alt="slider1" class="w-96" />
                            <div class="we-work p-5 h-60">
                                <div class="font-semibold text-base md:text-lg lg:text-xl">Culture at the core</div>
                                <p class="text-xs md:text-sm lg:text-base">Sanskar Technolabs promotes an uplifting culture where we learn, have fun, and grow together!</p>
                            </div>
                        </div>
						</div>
					</div>
				</div>

        </section> -->

    <section class="py-[3.125rem] md:py-[2rem] lg:py-[4rem]">
      <div class="mx-5 md:mx-auto md:max-w-7xl md:px-20">
        <div
          class="max-w-7xl items-end justify-between sm:flex sm:pe-6 lg:pe-8"
        >
          <div
            class="text-left md:text-center font-semibold text-2xl md:text-4xl mb-0 md:mb-2 lg:mb-2"
          >
            We work. We Learn. We Grow & Have Fun.
          </div>

          <div class="mt-8 flex gap-4 lg:mt-0 mb-0 md:mb-0 lg:mb-2">
            <button
              class="prev-button rounded-full border border-gray-600 p-3 text-gray-600 hover:bg-gray-600 hover:text-white"
            >
              <span class="sr-only">Previous Slide</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-5 w-5 rtl:rotate-180"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 19.5L8.25 12l7.5-7.5"></path>
              </svg>
            </button>

            <button
              class="next-button rounded-full border border-gray-600 p-3 text-gray-600 hover:bg-gray-600 hover:text-white"
            >
              <span class="sr-only">Next Slide</span>
              <svg
                class="h-5 w-5 rtl:rotate-180"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9 5l7 7-7 7"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"></path>
              </svg>
            </button>
          </div>
        </div>

        <div class="mt-8 lg:mx-0">
          <div class="swiper-container !overflow-hidden">
            <div class="swiper-wrapper">
              <div class="swiper-slide max-w-[26rem]">
                <div class="">
                  <Image src={c_slider1} alt="slider1" class="w-auto md:w-96" />
                  <div
                    class="we-work px-5 py-10 md:py-8 lg:py-5 h-52 w-full md:w-96"
                  >
                    <div
                      class="font-semibold text-base md:text-lg lg:text-xl mb-2"
                    >
                      Culture at the core
                    </div>
                    <p class="text-sm md:text-sm lg:text-base">
                      Sanskar Technolabs promotes an uplifting culture where we
                      learn, have fun, and grow together!
                    </p>
                  </div>
                </div>
              </div>

              <div class="swiper-slide max-w-[26rem]">
                <div class="">
                  <Image src={c_slider2} alt="slider1" class="w-auto md:w-96" />
                  <div
                    class="we-work px-5 py-10 md:py-8 lg:py-5 h-52 w-full md:w-96"
                  >
                    <div
                      class="font-semibold text-base md:text-lg lg:text-xl mb-2"
                    >
                      Converse & Grow
                    </div>
                    <p class="text-sm md:text-sm lg:text-base">
                      The management and employees are always up for
                      collaboration and conversation. Don't hold back—ask
                      questions, seek clarity, and share your ideas freely.
                    </p>
                  </div>
                </div>
              </div>

              <div class="swiper-slide max-w-[26rem]">
                <div class="">
                  <Image src={c_slider3} alt="slider1" class="w-auto md:w-96" />
                  <div
                    class="we-work px-5 py-10 md:py-8 lg:py-5 h-52 w-full md:w-96"
                  >
                    <div
                      class="font-semibold text-base md:text-lg lg:text-xl mb-2"
                    >
                      Collaborative Growth
                    </div>
                    <p class="text-sm md:text-sm lg:text-base">
                      You grow. We grow! We thrive on a culture of shared
                      learning. Together, we'll embark on a journey of
                      continuous growth where knowledge is shared, skills are
                      honed, and success is celebrated.
                    </p>
                  </div>
                </div>
              </div>

              <div class="swiper-slide max-w-[26rem]">
                <div class="">
                  <Image src={c_slider4} alt="slider1" class="w-auto md:w-96" />
                  <div
                    class="we-work px-5 py-10 md:py-8 lg:py-5 h-52 w-full md:w-96"
                  >
                    <div
                      class="font-semibold text-base md:text-lg lg:text-xl mb-2"
                    >
                      Take charge
                    </div>
                    <p class="text-sm md:text-sm lg:text-base">
                      Take charge of your professional journey and pride in your
                      work. At Sanskar Technolab, we empower you to take
                      ownership of your projects and outcomes.
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide max-w-[26rem]">
                <div class="">
                  <Image src={c_slider5} alt="slider1" class="w-auto md:w-96" />
                  <div
                    class="we-work px-5 py-10 md:py-8 lg:py-5 h-52 w-full md:w-96"
                  >
                    <div
                      class="font-semibold text-base md:text-lg lg:text-xl mb-2"
                    >
                      Embrace the true you
                    </div>
                    <p class="text-sm md:text-sm lg:text-base">
                      Embrace your inner trailblazer and unleash your
                      creativity. We foster an environment encouraging bold
                      ideas, out-of-the-box thinking, and relentless innovation.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="section-bg-left py-[3.125rem] md:py-[2rem] lg:py-[4rem]"
    >
      <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24">
        <div class="md:text-center sm:text-left mb-0 md:mb-10 lg:mb-10">
          <h2
            class="text-2xl md:text-3xl lg:text-4xl text-[#31393C] font-semibold"
          >
            What do our employees have to say about us?
          </h2>
          <p
            class="text-[#31393C] font-semibold mt-3 md:mt-3 lg:mt-5 text-xs md:text-sm lg:text-base"
          >
            Don't believe us? Hear it from SANSKAR FAMILY!
          </p>
        </div>

        <div class="c_slider">
          <div class="c_slides">
            <div class="p-4 c_slide">
              <div
                class="happy-customer-shadow bg-[#ffffff] md:p-10 p-5 rounded-[20px] h-[26rem] md:h-[23rem] lg:h-[23rem] mt-5"
              >
                <div
                  class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-5"
                >
                  <Image
                    class="md:pr-5"
                    src={customer}
                    alt="customer"
                  />
                  <div class="text-[#31393C]">
                    <p
                      class="text-base md:text-lg lg:text-xl leading-9 font-semibold my-3"
                    >
                      Osswal Infosystems
                    </p>
                    <p
                      class="text-xs md:text-sm lg:text-base pr-5"
                    >
                      Watch Mohit Nagori, Director of Osswal
                      Infosystems Pvt. Ltd., speak about his
                      company's journey with SAP and UBS. He
                      shares insights about our collaboration
                      and how to make a successful partnership
                      work!
                    </p>
                    <p
                      class="text-xs md:text-sm lg:text-base font-semibold mt-5"
                    >
                      Mohit Nagori
                    </p>
                    <p
                      class="text-[0.625rem] md:text-xs lg:text-sm"
                    >
                      Director, Osswal Infosystems Pvt. Ltd.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-4 c_slide">
              <div
                class="happy-customer-shadow bg-[#ffffff] md:p-10 p-5 rounded-[20px] h-[26rem] md:h-[23rem] lg:h-[23rem] mt-5"
              >
                <div
                  class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-5"
                >
                  <Image
                    class="md:pr-5"
                    src={customer}
                    alt="customer"
                  />
                  <div class="text-[#31393C]">
                    <p
                      class="text-base md:text-lg lg:text-xl leading-9 font-semibold my-3"
                    >
                      Osswal Infosystems 1
                    </p>
                    <p
                      class="text-xs md:text-sm lg:text-base pr-5"
                    >
                      Watch Mohit Nagori, Director of Osswal
                      Infosystems Pvt. Ltd., speak about his
                      company's journey with SAP and UBS. He
                      shares insights about our collaboration
                      and how to make a successful partnership
                      work!
                    </p>
                    <p
                      class="text-xs md:text-sm lg:text-base font-semibold mt-5"
                    >
                      Mohit Nagori
                    </p>
                    <p
                      class="text-[0.625rem] md:text-xs lg:text-sm"
                    >
                      Director, Osswal Infosystems Pvt. Ltd.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-4 c_slide">
              <div
                class="happy-customer-shadow bg-[#ffffff] md:p-10 p-5 rounded-[20px] h-[26rem] md:h-[23rem] lg:h-[23rem] mt-5"
              >
                <div
                  class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-5"
                >
                  <Image
                    class="md:pr-5"
                    src={customer}
                    alt="customer"
                  />
                  <div class="text-[#31393C]">
                    <p
                      class="text-base md:text-lg lg:text-xl leading-9 font-semibold my-3"
                    >
                      Osswal Infosystems 2
                    </p>
                    <p
                      class="text-xs md:text-sm lg:text-base pr-5"
                    >
                      Watch Mohit Nagori, Director of Osswal
                      Infosystems Pvt. Ltd., speak about his
                      company's journey with SAP and UBS. He
                      shares insights about our collaboration
                      and how to make a successful partnership
                      work!
                    </p>
                    <p
                      class="text-xs md:text-sm lg:text-base font-semibold mt-5"
                    >
                      Mohit Nagori
                    </p>
                    <p
                      class="text-[0.625rem] md:text-xs lg:text-sm"
                    >
                      Director, Osswal Infosystems Pvt. Ltd.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex justify-center gap-3 md:mt-10">
            <!-- <Image src={previousbtn} alt="previousbtn" id="prev" />
				<Image src={nextbtn} alt="nextbtn" id="next" /> -->
            <button
              class="rounded-full border border-gray-600 p-3 text-gray-600 hover:bg-gray-600 hover:text-white"
              id="prev"
            >
              <span class="sr-only">Previous Slide</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-5 w-5 rtl:rotate-180"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 19.5L8.25 12l7.5-7.5"></path>
              </svg>
            </button>

            <button
              class="rounded-full border border-gray-600 p-3 text-gray-600 hover:bg-gray-600 hover:text-white"
              id="next"
            >
              <span class="sr-only">Next Slide</span>
              <svg
                class="h-5 w-5 rtl:rotate-180"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9 5l7 7-7 7"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </section>

    <style>
      /*  slider */
      .c_slider {
        /* width: 400px; */
        overflow: hidden;
      }

      .c_slides {
        display: flex;
        width: 100%;
        transition: transform 0.3s ease-in-out;
      }

      .c_slide {
        width: 100%;
        flex-shrink: 0;
      }

      #prev,
      #next {
        margin-top: 10px;
      }

      .happy-customer-shadow {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
      }

      /* we work. we learn */
      .we-work {
        background: linear-gradient(135deg, #bfdeff 0%, #ecf5ff 100%);
      }

      .section-bg-left {
        position: relative;
      }

      .section-bg-left::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90rem;
        background-image: radial-gradient(
          ellipse at left,
          rgba(62, 150, 244, 0.1),
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        );
        z-index: -1;
        margin-top: -10rem;
      }

      .section-bg-right {
        position: relative;
      }

      .section-bg-right::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 140rem;
        background-image: radial-gradient(
          ellipse at right,
          rgba(62, 150, 244, 0.09),
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        );
        z-index: -1;
        margin-top: 8rem;
      }

      @media (max-width: 640px) {
        .section-bg-right::before {
          height: 80rem;
          margin-top: -10rem;
        }
      }

      @media (max-width: 768px) {
        .section-bg-right::before {
          height: 80rem;
          margin-top: -10rem;
        }
      }
      @media (max-width: 1024px) {
        .section-bg-right::before {
          height: 80rem;
          margin-top: -0rem;
        }
      }

      .section-bg-center_career {
        position: relative;
      }

      .section-bg-center_career::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 120rem;
        background-image: radial-gradient(
          rgba(62, 150, 244, 0.1),
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        );
        background-origin: border-box;
        background-clip: padding-box, border-box;
        z-index: -1;
        margin-top: 12rem;
      }

      #popup{
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
      }

    </style>

    <script>
      // Slides
      // Get the slider elements
      const slider = document.querySelector(".c_slider");
      const slides = document.querySelector(".c_slides");
      const prevBtn = document.querySelector("#prev");
      const nextBtn = document.querySelector("#next");

      // Initialize variables
      let slideIndex = 0;
      const slideWidth = slider.clientWidth;
      let autoSlideInterval;

      // Move slides to specified index
      const moveToSlide = (index) => {
        slides.style.transform = `translateX(-${slideWidth * index}px)`;
      };

      // Move to next slide
      const nextSlide = () => {
        slideIndex++;
        if (slideIndex >= slides.children.length) {
          slideIndex = 0;
        }
        moveToSlide(slideIndex);
      };

      // Move to previous slide
      const prevSlide = () => {
        slideIndex--;
        if (slideIndex < 0) {
          slideIndex = slides.children.length - 1;
        }
        moveToSlide(slideIndex);
      };

      // Start auto sliding
      const startAutoSlide = () => {
        autoSlideInterval = setInterval(nextSlide, 3000); // Change slide every 3 seconds
      };

      // Stop auto sliding
      const stopAutoSlide = () => {
        clearInterval(autoSlideInterval);
      };

      // Attach event listeners to buttons
      nextBtn.addEventListener("click", () => {
        nextSlide();
        stopAutoSlide();
      });
      prevBtn.addEventListener("click", () => {
        prevSlide();
        stopAutoSlide();
      });

      // Start auto slide on page load
      startAutoSlide();
      // scroll next
      // document
      //     .getElementById("nextScrollButton")
      //     .addEventListener("click", () => {
      //         // Get the container element by its ID
      //         const containerElement = document.getElementById("scrollContainer");

      //         // Calculate the scroll amount
      //         const scrollAmount = containerElement.offsetWidth;

      //         // Perform horizontal scroll using the scrollBy method
      //         containerElement.scrollBy({
      //             top: 0,
      //             left: scrollAmount,
      //             behavior: "smooth",
      //         });
      //     });

      // // scroll pre.
      // document.getElementById("preScrollButton").addEventListener("click", () => {
      //     // Get the container element by its ID
      //     const containerElement = document.getElementById("scrollContainer");

      //     // Calculate the scroll amount
      //     const scrollAmount = -containerElement.offsetWidth;

      //     // Perform horizontal scroll using the scrollBy method
      //     containerElement.scrollBy({
      //         top: 0,
      //         left: scrollAmount,
      //         behavior: "smooth",
      //     });
      // });

      document.addEventListener("DOMContentLoaded", function () {
        const swiper = new Swiper(".swiper-container", {
          loop: true,
          slidesPerView: 1,
          spaceBetween: 10,
          autoplay: {
            delay: 3000,
          },
          navigation: {
            nextEl: ".next-button",
            prevEl: ".prev-button",
          },
          breakpoints: {
            640: {
              slidesPerView: 1.5,
              centeredSlides: true,
            },
            1024: {
              centeredSlides: false,
              slidesPerView: 3,
            },
          },
        });
      });

      const response = await fetch(
        'https://sanskar.frappe.cloud/api/resource/Job Opening?filters=[["publish" , "=", 1]]&fields=["name", "job_title", "designation", "requiered_employee", "location", "requiered_experience"]'
      );
      const responseData = await response.json();

      const apiData = responseData.data; // Assuming the array of job openings is in a property named 'data'

      if (apiData == "") {
        var cardContainer = document.createElement("div");
        cardContainer.classList.add("font-semibold", "text-center");
        cardContainer.textContent = "Currently No Any Job Opening.";
        document.getElementById("job").appendChild(cardContainer);
      }

      apiData.forEach((jobOpening) => {
        // console.log("jobopenigng", jobOpening);

        // var cardContainer = document.createElement('div');
        // cardContainer.classList.add('border', 'border-[#B5CBE3]', 'text-sm', 'md:text-sm', 'lg:text-base', 'rounded', 'bg-white', 'p-5', 'mx-auto', 'md:mx-20', 'lg:mx-40', 'mb-5');

        // // Create and append the job title element
        // var jobTitle = document.createElement('a');
        // jobTitle.classList.add('font-semibold', 'mb-2', 'md:mb-3', 'lg:mb-1', "hover:text-blue-500");
        // jobTitle.textContent = jobOpening.job_title || "";
        // jobTitle.href= jobOpening.job_title

        // // jobTitle.textContent = jobOpening.designation || "";
        // // jobTitle.href= jobOpening.designation
        // cardContainer.appendChild(jobTitle);

        // // Create and append the details section
        // var detailsSection = document.createElement('div');
        // detailsSection.classList.add('flex', 'flex-wrap', 'gap-2', 'md:gap-3', 'lg:gap-5', 'mt-3', 'md:mt-auto');

        // // Create and append the user info
        // var userDiv = document.createElement('div');
        // userDiv.classList.add('flex', 'gap-2', 'md:gap-1', 'lg:gap-2', 'w-full', 'md:w-auto');

        // var userImage = document.createElement('img');
        // userImage.src = "c_user.svg?f=svg&w=14&h=14&href=%2F%40astroimage%2Fhome%2Fnilesh-pithiya%2FAstro%2FAstro%2Fsanskar%2Fpublic%2Fc_user.svg"; // Replace with actual image source
        // userImage.alt = 'user';
        // userDiv.appendChild(userImage);

        // var userCount = document.createElement('p');
        // userCount.textContent = jobOpening.requiered_employee || 0;
        // userDiv.appendChild(userCount);

        // detailsSection.appendChild(userDiv);

        // // Create and append the job info
        // var jobDiv = document.createElement('div');
        // jobDiv.classList.add('flex', 'gap-1', 'md:gap-1', 'lg:gap-2', 'w-full', 'md:w-auto');

        // var jobImage = document.createElement('img');
        // jobImage.src = 'c_job.svg?f=svg&w=15&h=14&href=%2F%40astroimage%2Fhome%2Fnilesh-pithiya%2FAstro%2FAstro%2Fsanskar%2Fpublic%2Fc_job.svg'; // Replace with actual image source
        // jobImage.alt = 'job';
        // jobDiv.appendChild(jobImage);

        // var jobYears = document.createElement('p');
        // jobYears.textContent = jobOpening.requiered_experience || 0;
        // jobDiv.appendChild(jobYears);

        // detailsSection.appendChild(jobDiv);

        // // Create and append the location info
        // var locationDiv = document.createElement('div');
        // locationDiv.classList.add('flex', 'gap-1', 'md:gap-1', 'lg:gap-2', 'w-full', 'md:w-auto');

        // var locationImage = document.createElement('img');
        // locationImage.src = 'c_map.svg?f=svg&w=14&h=14&href=%2F%40astroimage%2Fhome%2Fnilesh-pithiya%2FAstro%2FAstro%2Fsanskar%2Fpublic%2Fc_map.svg'
        // locationImage.alt = 'map';
        // locationDiv.appendChild(locationImage);

        // var locationText = document.createElement('p');
        // locationText.textContent = jobOpening.location || "unknown";
        // locationDiv.appendChild(locationText);

        // detailsSection.appendChild(locationDiv);

        // cardContainer.appendChild(detailsSection);

        // // Append the whole card to the document body or another container
        // document.getElementById("job").appendChild(cardContainer);

        // new =============================================== new ================================

        // Create the main container div
        const mainContainer = document.createElement("div");
        mainContainer.classList.add(
          "flex",
          "justify-between",
          "items-center",
          "border",
          "border-[#B5CBE3]",
          "text-sm",
          "md:text-sm",
          "lg:text-base",
          "rounded",
          "bg-white",
          "p-5",
          "mx-auto",
          "md:mx-20",
          "lg:mx-40",
          "mb-5"
        );

        // Create the left content div
        const leftContent = document.createElement("div");

        // Create and append the first sub-container in the left content
        const subContainer1 = document.createElement("div");
        subContainer1.classList.add(
          "font-semibold",
          "mb-2",
          "md:mb-3",
          "lg:mb-1"
        );
        subContainer1.textContent = jobOpening.job_title || "";
        leftContent.appendChild(subContainer1);

        // Create and append the second sub-container in the left content
        const subContainer2 = document.createElement("div");
        subContainer2.classList.add(
          "flex",
          "flex-wrap",
          "gap-2",
          "md:gap-3",
          "lg:gap-5",
          "mt-3",
          "md:mt-auto"
        );

        // Helper function to create image elements
        function createImage(src, alt) {
          const image = document.createElement("img");
          image.src = src;
          image.alt = alt;
          return image;
        }

        // Create and append the user section
        const userSection = document.createElement("div");
        userSection.classList.add(
          "flex",
          "gap-1",
          "md:gap-1",
          "lg:gap-2",
          "w-full",
          "md:w-auto"
        );
        userSection.appendChild(
          createImage(
            "https://sanskar.frappe.cloud/files/c_user.svg",
            "user"
          )
        );
        const userText = document.createElement("p");
        userText.textContent = jobOpening.requiered_employee || 0;
        userSection.appendChild(userText);
        subContainer2.appendChild(userSection);

        // Create and append the job section
        const jobSection = document.createElement("div");
        jobSection.classList.add(
          "flex",
          "gap-1",
          "md:gap-1",
          "lg:gap-2",
          "w-full",
          "md:w-auto"
        );
        jobSection.appendChild(
          createImage(
            "https://sanskar.frappe.cloud/files/c_job.svg",
            "job"
          )
        );
        const jobText = document.createElement("p");
        jobText.textContent = jobOpening.requiered_experience || 0;
        jobSection.appendChild(jobText);
        subContainer2.appendChild(jobSection);

        // Create and append the location section
        const locationSection = document.createElement("div");
        locationSection.classList.add(
          "flex",
          "gap-1",
          "md:gap-1",
          "lg:gap-2",
          "w-full",
          "md:w-auto"
        );
        locationSection.appendChild(
          createImage(
            "https://sanskar.frappe.cloud/files/c_map.svg",
            "map"
          )
        );
        const locationText = document.createElement("p");
        locationText.textContent = jobOpening.location || "unknown";
        locationSection.appendChild(locationText);
        subContainer2.appendChild(locationSection);

        leftContent.appendChild(subContainer2);

        // Append the left content to the main container
        mainContainer.appendChild(leftContent);

        // Create the right content div
        const rightContent = document.createElement("div");
        rightContent.classList.add(
          "flex",
          "justify-between",
          "bg-[#3E96F4]",
          "rounded-lg",
          "px-3",
          "md:px-3",
          "lg:px-5",
          "py-2",
          "md:py-2",
          "lg:py-3"
        );

        // Create the "Apply Now" button
        const applyButton = document.createElement("button");
        applyButton.classList.add(
          "text-white",
          "text-base",
          "font-semibold",
          "font-inter",
          "openPopup"
        );
        applyButton.setAttribute("id",`openPopup${jobOpening.name}`);
        applyButton.textContent = "Apply Now";


        // =================================== popup code start =====================================

        // Add a click event listener to the "Apply Now" button
        applyButton.addEventListener("click", () => {

          var popup = document.getElementById("popup");
          if(popup){
            popup.remove();
          }

          fetch(`https://sanskar.frappe.cloud/api/method/get_job_detail?name=${jobOpening.name}`)
          .then((response) => response.json())
          .then((data) => {
            // Process the JSON data here
            const jobDetail = data.data

            // console.log("asdf", jobDetail)

            // Create a div element

          const popupDiv = document.createElement('div');
          popupDiv.id = 'popup';
          popupDiv.className = 'absolute text-[#31393C] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-[10px] p-6 shadow-md';

          // Create the close button div
          const closeButtonDiv = document.createElement('div');
          closeButtonDiv.className = 'absolute top-4 right-4';
          closeButtonDiv.id = 'closePopup';

          // Create the close image element
          const closeImage = document.createElement('img');
          closeImage.src = 'https://sanskar.frappe.cloud/files/popup_close_btn.svg';
          closeImage.alt = 'close';

          // Append the close image element to the close button div
          closeButtonDiv.appendChild(closeImage);

          // Create the job title paragraph
          const jobTitleParagraph = document.createElement('p');
          jobTitleParagraph.className = 'text-lg md:text-xl lg:text-2xl !leading-[36px] md:!leading-[40px] lg:!leading-[44px] font-semibold';
          // jobTitleParagraph.textContent = 'ERPNext Developer';
          jobTitleParagraph.textContent = jobDetail.job_title

          // jobTitleParagraph.textContent = jobDetail.name

          // Create the experience and location details div
          const experienceLocationDiv = document.createElement('div');
          experienceLocationDiv.className = 'flex flex-wrap';

          // Create the experience paragraph
          const experienceParagraph = document.createElement('p');
          experienceParagraph.className = 'text-base md:text-lg lg:text-xl !leading-7 md:!leading-8 lg:!leading-9';
          experienceParagraph.innerHTML = `Experience: <strong>${jobDetail.requiered_experience || "0"}</strong> |`;

          // Create the location paragraph
          const locationParagraph = document.createElement('p');
          locationParagraph.className = 'text-base md:text-lg lg:text-xl !leading-7 md:!leading-8 lg:!leading-9';
          locationParagraph.innerHTML = `Location: <strong>${jobDetail.location || "unknown"}</strong>`;

          // Append the experience and location paragraphs to the experienceLocationDiv
          experienceLocationDiv.appendChild(experienceParagraph);
          experienceLocationDiv.appendChild(locationParagraph);

          // Create the Skills Required div
          const skillsRequiredDiv = document.createElement('div');
          skillsRequiredDiv.className = 'mt-5 font-semibold text-xs md:text-sm lg:text-base';
          skillsRequiredDiv.textContent = 'Skills Required:';

          // Create an array of skill items
          // const skills = [
          //   'Operating System: Linux.',
          //   'Version Control: Git.',
          //   'Languages and Tools: Python, Javascript, HTML, CSS, Bootstrap, jQuery, Jinja.',
          //   'Technologies & Framework: Frappe/ ERPNext, Mysql/ Mariadb, AWS/ Azure deployment, CI/ CD, Node.js, Redis.',
          //   'Minimum 3 years of Experience in ERPNext Development.',
          //   'Strong Foundational Knowledge of Frappe framework.',
          //   'Team Player, Curiosity to learn new things.',
          //   'Strong analytical problem-solving, excellent programming and software design skill.'
          // ];

          // Create the skills list div
          const skillsListDiv = document.createElement('div');
          // skillsListDiv.className = 'flex gap-2';

          // Create skill items and append them to the skillsListDiv
          jobDetail.skill.forEach(skill => {
            const skillItemDiv = document.createElement('div');
            skillItemDiv.className = 'flex gap-2';

            const skillImage = document.createElement('img');
            skillImage.src = 'https://sanskar.frappe.cloud/files/correct.svg';
            skillImage.alt = 'correct';

            const skillParagraph = document.createElement('p');
            skillParagraph.className = 'text-xs md:text-sm lg:text-base !leading-6 md:!leading-7 lg:!leading-8';
            skillParagraph.textContent = skill.skill;

            skillItemDiv.appendChild(skillImage);
            skillItemDiv.appendChild(skillParagraph);
            skillsListDiv.appendChild(skillItemDiv);
          });

          // Create the Responsibilities and Duties div
          const responsibilitiesDiv = document.createElement('div');
          responsibilitiesDiv.className = 'mt-5 font-semibold text-xs md:text-sm lg:text-base';
          responsibilitiesDiv.textContent = 'Responsibilities and Duties:';

          // Create an array of responsibilities items
          // const responsibilities = [
          //   'Writing functional and development specifications.',
          //   'Produce clean and efficient code with proper comments based on the specifications.',
          //   'Do automated unit and functional testing.',
          //   'Actively participate and contribute to open-source communities.',
          //   'Understand ERPNext and Frappe framework thoroughly.'
          // ];

          // Create the responsibilities list div
          const responsibilitiesListDiv = document.createElement('div');
          // responsibilitiesListDiv.className = 'flex gap-2';

          // Create responsibility items and append them to the responsibilitiesListDiv
          jobDetail.responsibilities_and_duties.forEach(responsibility => {
            const responsibilityItemDiv = document.createElement('div');
            responsibilityItemDiv.className = 'flex gap-2';

            const responsibilityImage = document.createElement('img');
            responsibilityImage.src = 'https://sanskar.frappe.cloud/files/correct.svg';
            responsibilityImage.alt = 'correct';

            const responsibilityParagraph = document.createElement('p');
            responsibilityParagraph.className = 'text-xs md:text-sm lg:text-base !leading-6 md:!leading-7 lg:!leading-8';
            responsibilityParagraph.textContent = responsibility.responsibilities_and_dutie;

            responsibilityItemDiv.appendChild(responsibilityImage);
            responsibilityItemDiv.appendChild(responsibilityParagraph);
            responsibilitiesListDiv.appendChild(responsibilityItemDiv);
          });

          // Create the border div
          const borderDiv = document.createElement('div');
          borderDiv.className = 'w-full border border-[#D9D9D9] my-5';

          // Create the "Apply for this job" paragraph
          const applyParagraph = document.createElement('p');
          applyParagraph.className = 'text-lg md:text-xl lg:text-2xl !leading-[36px] md:!leading-[40px] lg:!leading-[44px] font-semibold';
          applyParagraph.textContent = 'Apply for this job';

          // Create the job application form
          const jobApplicationForm = document.createElement('form');
          jobApplicationForm.id = 'job_application_form';
          jobApplicationForm.className = 'mt-5';

          const div = document.createElement('div');
          div.className = 'grid grid-cols-3 gap-3 md:gap-3 lg:gap-5';

          // Create the input fields for job application form
          const inputFieldNames = ['Full Name', 'Email', 'Phone', 'City'];
          inputFieldNames.forEach(fieldName => {
            const inputField = document.createElement('input');
            inputField.className = 'rounded-[3px]';
            inputField.type = 'text';
            inputField.placeholder = fieldName + '*';
            inputField.name = fieldName.toLowerCase().replace(/\s+/g, '_');
            div.appendChild(inputField);
          });

          // Create the file input field for job application form
          const fileInputField = document.createElement('input');
          fileInputField.className = 'rounded-[3px] flex flex-wrap';
          fileInputField.type = 'file';
          fileInputField.name = 'file';
          fileInputField.id = 'fileInput';
          div.appendChild(fileInputField);

          // Create the submit button for job application form
          const submitButton = document.createElement('button');
          submitButton.className = 'w-44 bg-[#3E96F4] rounded text-white md:text-sm text-xs lg:text-base font-semibold p-2 mt-5';
          submitButton.type = 'submit';
          submitButton.textContent = 'Submit Application';
          

          jobApplicationForm.appendChild(div)
          jobApplicationForm.appendChild(submitButton);

          // Append all the elements to the popupDiv
          popupDiv.appendChild(closeButtonDiv);
          popupDiv.appendChild(jobTitleParagraph);
          popupDiv.appendChild(experienceLocationDiv);
          popupDiv.appendChild(skillsRequiredDiv);
          popupDiv.appendChild(skillsListDiv);
          popupDiv.appendChild(responsibilitiesDiv);
          popupDiv.appendChild(responsibilitiesListDiv);
          popupDiv.appendChild(borderDiv);
          popupDiv.appendChild(applyParagraph);
          popupDiv.appendChild(jobApplicationForm);
          // Append the popupDiv to the document body
          document.getElementById("job").appendChild(popupDiv);
           // const openPopupButton = document.getElementById(`openPopup${jobOpening.name}`);
        const closePopupButton = document.getElementById('closePopup');
        const popup = document.getElementById('popup');

        // openPopupButton.addEventListener('click', () => {
        //     popup.classList.remove('hidden');
        // });

        closePopupButton.addEventListener('click', () => {
            popup.classList.add('hidden');
        });

        var form = document.getElementById("job_application_form");
          form.addEventListener("submit", handleContactForm);

          })
          .catch((error) => {
            // Handle any errors that occurred during the API call
            console.error(error);
          });


          



          //  = ============================  end popup =================================

          // alert(`clicked ${jobOpening.name}`)
          // Create the popup container
        //   const popupContainer = document.createElement("div");
        //   popupContainer.classList.add(
        //     "popup",
        //     "active",
        //     "absolute",
        //     "top-0",
        //     "left-72",
        //     "z-10",
        //     "bg-gray-500"
        //   );

        //   // Create the popup content
        //   const popupContent = document.createElement("div");
        //   popupContent.classList.add("popup-content");

        //   // Add content to the popup
        //   const popupTitle = document.createElement("h2");
        //   popupTitle.textContent = "Job Application for " + jobOpening.name;
        //   popupContent.appendChild(popupTitle);

        //   const popupDescription = document.createElement("p");
        //   popupDescription.textContent = "Enter your application details here.";
        //   popupContent.appendChild(popupDescription);

        //   // Add a form for application details (example)
        //   const popupForm = document.createElement("form");
        //   // ... (Add form fields and submit button here)
        //   popupContent.appendChild(popupForm);

        //   // Append the popup content to the popup container
        //   popupContainer.appendChild(popupContent);

        //   // Append the popup container to the document body
        //   document.body.appendChild(popupContainer);
        //   // document.getElementById("job").appendChild(popupContainer);
        });

        // =================================== popup code end =====================================

        rightContent.appendChild(applyButton);

        // Append the right content to the main container
        mainContainer.appendChild(rightContent);

        // Append the main container to the document body
        // document.body.appendChild(mainContainer);
        document.getElementById("job").appendChild(mainContainer);

        function blinkBorder(element) {
			let intervalId;
			let isRed = false;

			intervalId = setInterval(() => {
			isRed = !isRed;
			element.style.backgroundColor = isRed ? '#ffdddd' : 'transparent';
			}, 500); // 500ms interval for blinking

			element.dataset.blinkIntervalId = intervalId;
		}

		function stopBlinkBorder(element) {
			const intervalId = element.dataset.blinkIntervalId;
			if (intervalId) {
			clearInterval(intervalId);
			element.dataset.blinkIntervalId = null;
			}
		}

        function handleContactForm(e) {       
          // console.log("job opening name", jobOpening.name)

          e.preventDefault();
		
		const fullNameInput = document.querySelector('input[name="full_name"]');
		const emailInput = document.querySelector('input[name="email"]');
		const phoneInput = document.querySelector('input[name="phone"]');
		const cityInput = document.querySelector('input[name="city"]');

		const fullNameValue = fullNameInput.value.trim();
		const emailNameValue = emailInput.value.trim();
		const phoneNameValue = phoneInput.value.trim();
		const cityNameValue = cityInput.value.trim();

		function stopBlinkForInputs(inputElements) {
		inputElements.forEach(input => {
			stopBlinkBorder(input);
		});
		}

		function blinkInputs(inputElements) {
		inputElements.forEach(input => {
			blinkBorder(input);
		});
		}

			if (fullNameValue === '') {
			blinkBorder(fullNameInput);
			}

			if (emailNameValue === '') {
			blinkBorder(emailInput);
			}
			if (phoneNameValue === '') {
			blinkBorder(phoneInput);
			}
			if (cityNameValue === '') {
			blinkBorder(cityInput);
			}

			fullNameInput.addEventListener('focus', () => {
			stopBlinkForInputs([fullNameInput, emailInput,phoneInput,cityInput]);
			});

			emailInput.addEventListener('focus', () => {
			stopBlinkForInputs([fullNameInput, emailInput,phoneInput,cityInput]);
			});

			phoneInput.addEventListener('focus', () => {
			stopBlinkForInputs([fullNameInput, emailInput,phoneInput,cityInput]);
			});

			cityInput.addEventListener('focus', () => {
			stopBlinkForInputs([fullNameInput, emailInput,phoneInput,cityInput]);
			});

          
          const fileInput = document.getElementById('fileInput');
          const file = fileInput.files[0];

          const xhr = new XMLHttpRequest();
            const url = 'https://sanskar.frappe.cloud/api/method/upload_file'; // Replace with your API endpoint URL

            xhr.open('POST', url, true);
            xhr.setRequestHeader('Accept', 'application/json');
            // xhr.setRequestHeader('Content-Type', 'application/json')
            
            // Set up event listeners for XHR
            xhr.onload = function() {
            
              if (xhr.status === 200) {  
                  var raw_data = JSON.parse(xhr.response)
                  var file_url = raw_data.message.file_url
                  const formData = new FormData(e.target);
                  const data = Object.fromEntries(formData.entries());
                  formData.set("data", JSON.stringify(data));
                  var fullname = data.fullname;
                  var email = data.email;
                  var phone = data.phone;
                  var city = data.city;

                  console.log("data real", data)
                  console.log("data", fullname, email, phone, city, file_url)

                  fetch("https://sanskar.frappe.cloud/api/resource/Job Applicant",{
                      method: 'POST',
                      headers: {
                          'Accept': 'application/json',
                          'Content-Type': 'application/json',
                      },
                      body: JSON.stringify({
                          job_title: jobOpening.name,
                          applicant_name: fullname,
                          email_id: email,
                          phone_number: phone,
                          current_location: city,
                          resume_attachment: file_url
                      })
                      }).then((res) => {
                      if(res.status === 200){
                          // alert("You have been registered successfully.")
                          window.location.href="/thank-you"
                      }
                      else{
                          alert("failed")
                      }
                  }).catch((error) => {
                      console.log(error)
                  })

                } 
                else {
                      alert('File upload failed. Please try again later.');
                }
              };
                
                xhr.onerror = function() {
                    alert('An error occurred while uploading the file.');
                };

                const formData = new FormData();
                formData.append('file', file);

                xhr.send(formData);

                e.preventDefault();


          
        }

        //new over =========================================== new over ===========================
      });

             
    </script>
  </main>
</Layout>
