---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import gpt_banner from "../../public/Images/gpt_banner.svg";
import right from "../../public/Images/right.svg";
import implimentation_solution from "../../public/Images/implimentation_solution.svg";
import openapi_chatgpt_solution from "../../public/Images/openapi_chatgpt_solution.svg";
import nlp_development from "../../public/Images/nlp_development.svg";
import chatbox_development from "../../public/Images/chatbox_development.svg";
import content_generation from "../../public/Images/content_generation.svg";
import optimization_training from "../../public/Images/optimization_training.svg";
import gpt_integration_bg from "../../public/Images/gpt_integration_bg.svg";
import gpt_integration_icon from "../../public/Images/gpt_integration_icon.svg";
import voice_interface from "../../public/Images/voice_interface.svg";
import gpt_strategy from "../../public/Images/gpt_strategy.svg"
import down_arrow from "../../public/Images/down-arrow.svg";
import up_arrow from "../../public/Images/up-arrow.svg"; 
import banner_openapi from "../../public/Images/banner-openapi.svg"; 
import banner_person from "../../public/Images/banner-person.svg"; 
import banner_send from "../../public/Images/banner-send.svg"; 
import gpt_NLP from "../../public/Images/gpt_NLP.svg"
import gpt_chatbot from "../../public/Images/gpt_chatbot.svg"
import gpt_generation from "../../public/Images/gpt_generation.svg"
import gpt_voice from "../../public/Images/gpt_voice.svg"
import gpt_training from "../../public/Images/gpt_training.svg"
import hire_gpt_dev from "../../public/Images/hire_gpt_dev.svg"
import small_hire_gpt_dev from "../../public/Images/small_hire_gpt_dev.svg"
---

<Layout title="Sanskar Technolabs. Best ChatGPT integration services provider!", keyword="Servicenow implementation services, erp implementation partner, erpnext implementation, erp implementation companies, ERPNext software development company, Erpnext solution company, ServiceNow company, ServiceNow implementation partner, Servicenow implementation services, Servicenow implementation solutions", description="Hire our experienced OPEN AI developers to integrate ChatGPT in your business process and take your business to new heights.", canonical_href="https://astro.sanskartechnolab.com/chatgpt-integration">
    <section
            class="section-bg-right hidden lg:flex h-[calc(100vh-10vh)] relative flex-wrap items-center" >
            <Image
                class="absolute right-0 w-5/12"
                src={gpt_banner}
                alt="banner image"
            />
            <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 flex container">
                <div class="w-7/12">
                    <h1
                        class="lg:text-4xl xl:text-5xl text-[#31393C] font-semibold lg:leading-[3.5rem] xl:leading-[4rem]"
                    >
                       Unleash the potential of GPT-4 with Sanskar Technolab’s skilled team
            of GPT developers!
                    </h1>

                   <div class="flex flex-wrap lg:gap-5 gap-10 my-8">
                        <div class="flex gap-2 items-center">
                        <Image                        
                          src={banner_openapi}
                          alt="Banner Openapi"
                      />
                          <p class="text-center font-bold text-xl">OpenAI</p>                          
                        </div>

                      <div class="flex bg-[#F3F3F3] w-98 border border-[#B4B7B8] rounded-md">
                        <div class="flex items-center px-1 gap-2"> 
                          <div class="bg-[#3E96F4] rounded-md p-1">
                            <Image src={banner_person} alt="Banner Person" />
                          </div>
                           <p  class="auto-typing text-xs font-bold text-[#31393C] w-60 xl:w-78"></p>
                         
                        </div>
                         <!-- <div class="flex gap-2 items-center px-2">  -->
                          <Image            
                            src={banner_send}
                            alt="Banner Send"
                            class="mr-2"
                          />                          
                        <!-- </div> -->
                      </div>
                  </div>

                    <p class="text[#31393C] lg:text-base xl:text-lg mt-5">
                       Leverage the power of chatgpt to accelerate your business growth and
            enhanced customer satisfaction.
                    </p>
                </div>
            </div>
        </section>

        <section class="section-bg-right mt-10 md:flex lg:hidden">
            <div
                class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 flex flex-wrap items-center justify-evenly h-[calc(100vh-10vh)]"
            >
                <div class="">
                    <div
                        class="text-3xl md:text-4xl text-[#31393C] font-semibold md:leading-[3rem]"
                    >
                        Unleash the potential of GPT-4 with Sanskar Technolab’s skilled team
            of GPT developers!
                    </div>
                    <p
                        class="text-[#31393C] leading-6 md:leading-7 text-sm md:text-base mt-3 md:mt-5"
                    >
                       Leverage the power of chatgpt to accelerate your business growth and
            enhanced customer satisfaction.
                    </p>
                      <div class="md:flex lg:hidden flex flex-wrap gap-6 my-3">
                        <div class="flex gap-2 items-center">
                        <Image                        
                          src={banner_openapi}
                          alt="Banner Openapi"
                      />
                          <p class="text-center font-bold text-xl">OpenAI</p>                          
                        </div>

                      <div class="flex bg-[#F3F3F3] w-98 border border-[#B4B7B8] rounded-md">
                        <div class="flex items-center p-1 gap-2"> 
                          <div class="bg-[#3E96F4] rounded-md p-1">
                            <Image src={banner_person} alt="Banner Person" />
                          </div>
                           <p class="auto-typing text-xs font-bold text-[#31393C] w-60"></p>
                         
                        </div>
                         <div class="flex bg-[#F3F3F3] gap-2 items-center px-2"> 
                          <Image            
                            src={banner_send}
                            alt="Banner Send"
                          />                          
                        </div>
                      </div>
                  </div>
                </div>
                <Image src={gpt_banner} alt="banner image" class="mt-5" />
            </div>
        </section>

    <!-- Sanskar Technolabs - Your Trusted Partner for GPT-4 -->
    <section
      class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 mt-[3rem] md:mt-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
      <div class="md:text-center sm:text-left">
        <h2
          class="text-2xl md:text-3xl lg:text-4xl !leading-[2rem] md:!leading-[2.25rem] lg:!leading-[2.75rem] text-[#31393C] font-semibold"
        >
          Sanskar Technolabs - Your Trusted Partner for GPT-4 <br
            class="hidden md:block"
          /> implementation solutions!
        </h2>
        <p class="font-semibold text-sm md:text-base mt-3 md:mt-4 lg:mt-5">
          Are you ready to harness the transformative capabilities of GPT-4 to
          take your business to <br class="hidden md:block" /> new heights of accelerated
          growth and unparalleled customer satisfaction?
        </p>
      </div>
      <div
        class="flex flex-wrap justify-center md:justify-center lg:justify-center gap-5 mt-10 md:mt-16 lg:mt-20"
      >
        <Image
          class="w-8/12 md:w-8/12 lg:w-4/12"
          src={implimentation_solution}
          alt="implimentation solution"
        />
        <div
          class="sm:w-full md:w-full lg:w-7/12 text-[#31393C] lg:pl-10 sm:pl-0"
        >
          <p class="text-xs md:text-sm lg:text-base mb-3 md:mb-3 lg:mb-5 font-semibold">
            Well, the skilled team of GPT & OpenAI developers at Sanskar Technolabs has got you covered! 
          </p>
          <p class="text-xs md:text-sm lg:text-base mb-3 md:mb-3 lg:mb-5">
            Sanskar Technolab is introducing groundbreaking GPT-4 Integration services, curated to leverage the power of advanced language models and revolutionize audience engagement. 
          </p>
          <p class="text-xs md:text-sm lg:text-base mb-3 md:mb-3 lg:mb-5">
            With our deep expertise in AI integration and natural language processing, we offer a range of tailored services aimed at enhancing your applications and tapping into GPT-4's unmatched potential. 
          </p>
          <p class="text-xs md:text-sm lg:text-base">
            Our team of open AI and chatgpt app developers, understand your busines requirement thoroughly and offer you tailored solutions that align with your business objectives and target market, while generating desired solutions.
          </p>
        </div>
      </div>
    </section>

    <!-- Hire our dedicated chatgpt and OpenAI -->
    <section
      class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
    
      <div class="md:text-center sm:text-left">
        <h2
          class="text-2xl md:text-3xl lg:text-4xl !leading-[2rem] md:!leading-[2.25rem] lg:!leading-[2.75rem] text-[#31393C] font-semibold"
        >
        Hire our dedicated chatgpt and OpenAI <br class="hidden md:block" /> developers for following solutions!
        </h2>
      </div>
      <div
        class="flex flex-wrap justify-center md:justify-center lg:justify-center gap-5"
      > 
      <div
        class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 justify-items-center md:justify-center lg:justify-center gap-5 lg:mx-20 mt-10 md:mt-16 lg:mt-20"
      >
        <Image class="w-8/12 md:w-8/12 lg:w-auto"
          src={openapi_chatgpt_solution}
          alt="Openapi Chatgpt Solution"
        />
        <div
          class="text-[#31393C] lg:pl-10 sm:pl-0"
        >
          <p class="text-base md:text-lg lg:text-xl  mb-3 md:mb-3 lg:mb-5 font-semibold">
            GPT-4 Integration Strategy:
          </p>
          <p class="text-xs md:text-sm lg:text-base mb-3 md:mb-3 lg:mb-5">
            Unlock the potential of GPT-4 for your business with our strategic guidance. We'll assess your specific needs and use cases to develop a tailored integration strategy that maximizes the benefits of this powerful language model.
          </p>
          <p class="text-xs md:text-sm lg:text-base mb-3 md:mb-3 lg:mb-5 font-semibold">
            Sanskar Technolab can help you leverage GPT-4 effectively, leading to following benefits:
          </p>
          <ul class=" list-disc text-xs md:text-sm lg:text-base ml-7">
            <li>Enhance customer support.</li>
            <li>Automated content generation.</li>
            <li>Create personalized conversational experiences.</li>
          </ul>
        </div>
      </div>
      </div>
    </section>


    <!-- Natural Language Processing (NLP) Development -->
    <section
      class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
    <div
        class="flex flex-wrap justify-center md:justify-center lg:justify-center gap-5"
      > 
      <div
        class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 justify-items-center md:justify-center lg:justify-center gap-5 lg:mx-20"
      >       
      <Image
        src={nlp_development}
        alt="NLP Development" class="w-8/12 md:w-8/12 lg:w-auto flex md:flex lg:hidden"
      />
        <div
          class="text-[#31393C] lg:pl-10 sm:pl-0"
        >
          <p class="text-base md:text-lg lg:text-xl mb-3 md:mb-3 lg:mb-5 font-semibold">
            Natural Language Processing (NLP) Development:
          </p>
          <p class="text-xs md:text-sm lg:text-base mb-3 md:mb-3 lg:mb-5">
            Leverage the capabilities of GPT-4 to understand and process natural language inputs with exceptional accuracy. Our experienced OpenAI & ChatGPT developers will integrate GPT-4 into your applications. These seamless NLP integrations leads to Enhanced user experiences and streamlined operations.
          </p>
          <p class="text-xs md:text-sm lg:text-base mb-3 md:mb-3 lg:mb-5 font-semibold">
            We leverage advanaced NLP algorithms to enable
          </p>
          <ul class=" list-disc text-xs md:text-sm lg:text-base ml-7">
            <li>Human-like conversations</li>
            <li>Effotless language translation</li>
            <li>Sentiment analysis</li>
            <li>Chatbot interactions</li>
          </ul>
        </div>
        <Image
        src={nlp_development}
        alt="NLP Development" class="w-8/12 md:w-8/12 lg:w-auto hidden md:hidden lg:flex"
      />
      </div>
      </div>
    </section>

    <!-- Custom Chatbot Development -->
    <section
      class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
    <div
        class="flex flex-wrap justify-center md:justify-center lg:justify-center gap-5"
      > 
      <div
        class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 justify-items-center md:justify-center lg:justify-center gap-5 lg:mx-20"
      >
        <Image class="w-8/12 md:w-8/12 lg:w-auto"
          src={chatbox_development}
          alt="Chatbox Development"
        />
        <div
          class="text-[#31393C] lg:pl-10 sm:pl-0"
        >
          <p class="text-base md:text-lg lg:text-xl mb-3 md:mb-3 lg:mb-5 font-semibold">
            Custom Chatbot Development:
          </p>
          <p class="text-xs md:text-sm lg:text-base mb-3 md:mb-3 lg:mb-5">
            Create intelligent and dynamic chatbots that provide personalized and engaging interactions. Our skilled OpenAI and chatgpt developers will utilize GPT-4's language understanding and generation abilities to develop user-freindly chatbots. From customer support to lead generation, our chatbots powered by GPT-4 will enhance user satisfaction and boost efficiency.
          </p>
          <p class="text-xs md:text-sm lg:text-base mb-3 md:mb-3 lg:mb-5 font-semibold">
            ChatGPT chatbots can seamlessly: 
          </p>
          <ul class=" list-disc text-xs md:text-sm lg:text-base ml-7">
            <li>Manage complex queries</li>
            <li>Deliver contextual responses</li>
            <li>Provide accurate recommendations.</li>
          </ul>
        </div>
      </div>
      </div>
    </section>

    <!-- Content Generation and Summarization: -->
    <section
      class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
    <div
        class="flex flex-wrap justify-center md:justify-center lg:justify-center gap-5 "
      > 
      <div
        class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 justify-items-center md:justify-center lg:justify-center gap-5 lg:mx-20"
      >       
       <Image
        src={content_generation}
        alt="Content Generation" class="w-8/12 md:w-8/12 lg:w-auto flex md:flex lg:hidden"
      />
        <div
          class="text-[#31393C] lg:pl-10 sm:pl-0"
        >
          <p class="text-base md:text-lg lg:text-xl mb-3 md:mb-3 lg:mb-5 font-semibold">
            Content Generation and Summarization:
          </p>
          <p class="text-xs md:text-sm lg:text-base mb-3 md:mb-3 lg:mb-5">
            Businesses can even automate content creation with the assistance of GPT-4. GPT-4 can assist in summarizing large volumes of text, extracting key information, and providing concise summaries for improved efficiency and knowledge management. The integration services from Sanskar’s openAI developers enable you to leverage the language generation capabilities of GPT-4 to generate personalized content.
          </p>
          <p class="text-xs md:text-sm lg:text-base mb-3 md:mb-3 lg:mb-5 font-semibold">
            We leverage advanaced NLP algorithms to enable ChatGPT-4 & OpenAI, through which businesses can - 
          </p>
          <ul class=" list-disc text-xs md:text-sm lg:text-base ml-7">
            <li>Automatically generate articles</li>
            <li>Blog posts</li>
            <li>Product descriptions</li>
          </ul>
        </div>
        <Image
        src={content_generation}
        alt="Content Generation" class="w-8/12 md:w-8/12 lg:w-auto hidden md:hidden lg:flex"
      />
      </div>
      </div>
    </section>

    <!-- Voice Interface Integration: -->
    <section
      class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
    <div
        class="flex flex-wrap justify-center md:justify-center lg:justify-center gap-5"
      > 
      <div
        class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 justify-items-center md:justify-center lg:justify-center gap-5 lg:mx-20"
      >
        <Image class="w-8/12 md:w-8/12 lg:w-auto"
          src={voice_interface}
          alt="Voice Interface"
        />
        <div
          class="text-[#31393C] lg:pl-10 sm:pl-0"
        >
          <p class="text-base md:text-lg lg:text-xl mb-3 md:mb-3 lg:mb-5 font-semibold">
            Voice Interface Integration:
          </p>
          <p class="text-xs md:text-sm lg:text-base mb-3 md:mb-3 lg:mb-5">
            Enrich your applications with voice interfaces powered by GPT-4. We'll integrate GPT-4's natural language understanding and voice generation capabilities to enable voice-controlled interactions, and voice-based content generation.
          </p>
          <p class="text-xs md:text-sm lg:text-base mb-3 md:mb-3 lg:mb-5 font-semibold">
            With the power of GPT-4 voice integration, businesses can -
          </p>
          <ul class=" list-disc text-xs md:text-sm lg:text-base ml-7">
            <li>Enhance accessibility</li>
            <li>Improve user experiences</li>
            <li>Enable hands-free interactions</li>
          </ul>
        </div>
      </div>
      </div>
    </section>

    <!-- Content Generation and Summarization -->
    <section
      class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
    <div
        class="flex flex-wrap justify-center md:justify-center lg:justify-center gap-5"
      > 
      <div
        class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 justify-items-center md:justify-center lg:justify-center gap-5 lg:mx-20"
      >
     <Image 
        src={optimization_training}
        alt="Optimization Training" class="w-8/12 md:w-8/12 lg:w-auto flex md:flex lg:hidden "
      />   
        <div
          class="text-[#31393C] lg:pl-10 sm:pl-0"
        >
          <p class="text-base md:text-lg lg:text-xl mb-3 md:mb-3 lg:mb-5 font-semibold">
            Continuous Optimization and Training:
          </p>
          <p class="text-xs md:text-sm lg:text-base mb-3 md:mb-3 lg:mb-5">
            Our commitment to your success doesn't end with integration. We provide ongoing optimization and training services to ensure your GPT-4 integration operates at peak performance. Our team is always available to address any concerns and optimize your GPT-4 integration for optimal results.
          </p>
          <p class="text-xs md:text-sm lg:text-base mb-3 md:mb-3 lg:mb-5 font-semibold">
            After the best-in-class integration from chatgpt app developers, we will even help you -
          </p>
          <ul class=" list-disc text-xs md:text-sm lg:text-base ml-7">
            <li>Monitor performance</li>
            <li>Fine-tune the model</li>
            <li>Incorporate feedback</li>
          </ul>
        </div>
        <Image
        src={optimization_training}
        alt="Optimization Training" class="w-8/12 md:w-8/12 lg:w-auto hidden md:hidden lg:flex"
      />
      </div>
      </div>
    </section>

    <!-- Sanskar Technolab's GPT-4 Integration Services.  -->
    <!--<section
      class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[3.125rem] md:py-[2rem] lg:py-[4rem]"
    >   
        <Image 
        src={gpt_integration_bg} 
        alt="boostside"
      />
      <Image
      src={gpt_integration_icon} 
      alt="boostside"
    />
      </div>
    </section>-->

            <section
                class="section-bg-right1 py-[2rem] md:py-[2rem] lg:py-[4rem]"
            >
                <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
                    <div
                        class="bg-[#31393C] flex flex-wrap items-center flex-col-reverse md:flex-col-reverse lg:flex-row rounded-[1.25rem] bg-cta bg-right bg-no-repeat lg:relative"
                    >
                        <div
                            class="lg:w-8/12 md:w-full sm:w-full px-5 md:px-12 lg:px-12 pb-5 md:pb-12 lg:pb-5 pt-2 md:pt-0 lg:pt-5 z-10"
                        >
                            <h2
                                class="text-2xl md:text-3xl lg:text-4xl text-white font-semibold  !leading-[2rem] md:!leading-[2.50rem] lg:!leading-[2.75rem]"
                            >
                                 Experience the future of natural language processing with Sanskar Technolab’ GPT-4 Integration services.
                            </h2>
                            <div
                                class="mt-5 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 w-auto md:w-8/12 lg:w-10/12 xl:w-7/12 "
                            >
                                <a
                                    href="/contact-us"
                                    class="text-white font-semibold text-base font-inter"
                                    >Hire ChatGPT developers right away!</a
                                >
                                <Image src={right} alt="right" class="ml-0" />
                            </div>
                        </div>
                        <div class="lg:w-4/12 md:w-full sm:w-full z-10">
                            <Image
                                class="hidden lg:block rounded-[1.25rem]"
                                src={gpt_integration_icon}
                                alt="GPT Integration Icon"
                            />
                            <Image
                                class="block lg:hidden sm:w-full p-5 md:p-12 md:rounded-[4rem] rounded-[2rem]"
                                src={gpt_integration_icon}
                                alt="Manufacturing Opration"
                            />
                        </div>
                    </div>
                </div>
            </section>
      <section
                        class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
                    >
                        <div
                            class="hidden bg-[#EBF5FF] rounded-[20px] text-[#31393C] p-5"
                        >
                            <h2
                                class="text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] lg:text-center font-semibold mb-5 ml-3 leading-9"
                            >
                                Frequently Asked Questions (FAQs)
                            </h2>
                            <div class="flex flex-wrap">
                                <div class="sm:w-full md:w-5/12 lg:w-5/12">
                                    <div
                                        class="bg-white rounded-l-lg p-3 mb-3"
                                        id="faq11"
                                    >
                                        <button
                                            class="text-sm md:text-sm lg:text-base leading-[22px] text-left"
                                            id="faq1"
                                        >
                                            What are some popular use cases of GPT-4?
                                        </button>
                                    </div>
                                    <div
                                        class="bg-white bg-opacity-70 rounded-l-lg p-3 mb-3"
                                        id="faq21"
                                    >
                                        <button
                                            class="text-sm md:text-sm lg:text-base leading-[22px] text-left"
                                            id="faq2"
                                        >
                                           Can GPT-4 understand and interact with visual inputs?
                                        </button>
                                    </div>
                                    <div
                                        class="bg-white bg-opacity-70 rounded-l-lg p-3 mb-3"
                                        id="faq31"
                                    >
                                        <button
                                            class="text-sm md:text-sm lg:text-base leading-[22px] text-left"
                                            id="faq3"
                                        >
                                           Can we use GPT-4 be in the finance industry?
                                        </button>
                                    </div>
                                    <div
                                        class="bg-white bg-opacity-70 rounded-l-lg p-3 mb-3"
                                        id="faq41"
                                    >
                                        <button
                                            class="text-sm md:text-sm lg:text-base leading-[22px] text-left"
                                            id="faq4"
                                        >
                                            What role can GPT-4 play in education?
                                        </button>
                                    </div>
                                    <div
                                        class="bg-white bg-opacity-70 rounded-l-lg p-3 mb-3"
                                        id="faq51"
                                    >
                                        <button
                                            class="text-sm md:text-sm lg:text-base leading-[22px] text-left"
                                            id="faq5"
                                        >
                                            How can GPT-4 benefit customer service operations?
                                        </button>
                                    </div>
                                     <div
                                        class="bg-white bg-opacity-70 rounded-l-lg p-3 mb-3"
                                        id="faq61"
                                    >
                                        <button
                                            class="text-sm md:text-sm lg:text-base leading-[22px] text-left"
                                            id="faq6"
                                        >
                                            Can GPT-4 enhance the shopping experience in online shops?
                                        </button>
                                    </div>
                                     <div
                                        class="bg-white bg-opacity-70 rounded-l-lg p-3 mb-3"
                                        id="faq71"
                                    >
                                        <button
                                            class="text-sm md:text-sm lg:text-base leading-[22px] text-left"
                                            id="faq7"
                                        >
                                           How can we utilize GPT-4 as an information desk chatbot for various industries?
                                        </button>
                                    </div>
                                     <div
                                        class="bg-white bg-opacity-70 rounded-l-lg p-3 mb-3"
                                        id="faq81"
                                    >
                                        <button
                                            class="text-sm md:text-sm lg:text-base leading-[22px] text-left"
                                            id="faq8"
                                        >
                                           How can GPT-4 support sales and business development representatives?
                                        </button>
                                    </div>
                                     <div
                                        class="bg-white bg-opacity-70 rounded-l-lg p-3 mb-3"
                                        id="faq91"
                                    >
                                        <button
                                            class="text-sm md:text-sm lg:text-base leading-[22px] text-left"
                                            id="faq9"
                                        >
                                            Can GPT-4 summarize sales calls and extract valuable insights?
                                        </button>
                                    </div>
                                     <div
                                        class="bg-white bg-opacity-70 rounded-l-lg p-3 mb-3"
                                        id="faq101"
                                    >
                                        <button
                                            class="text-sm md:text-sm lg:text-base leading-[22px] text-left"
                                            id="faq10"
                                        >
                                            What can GPT-4-powered personal assistants do?
                                        </button>
                                    </div>
                                </div>

                                <div
                                    class="sm:w-full md:w-7/12 lg:w-7/12 bg-white  rounded-[10px] p-8"
                                    id="faq1_c"
                                >
                                    <p
                                        class="text-lg md:text-lg lg:text-xl font-semibold mb-7"
                                    >
                                        What are some popular use cases of GPT-4?
                                    </p>
                                    <p class="text-base mb-7">
                                        GPT-4 has a wide range of applications for businesses, which includes question answering, developing chatbots, querying tabular data, interacting with APIs, extraction of structured information from text, summarization, and understanding images.
                                    </p>
                                </div>

                                <div
                                    class="hidden sm:w-full md:w-7/12 lg:w-7/12 bg-white  rounded-[10px] p-8"
                                    id="faq2_c"
                                >
                                    <p
                                        class="text-lg md:text-lg lg:text-xl leading-9 font-semibold mb-7"
                                    >
                                        Can GPT-4 understand and interact with visual inputs?
                                    </p>
                                    <p class="text-base mb-7">
                                        Yes, GPT-4 has the capability to process visual inputs and understand images, enabling applications such as image analysis, image recognition, and generating content based on visual prompts, while opening up new opportunities for enhanced decision-making and customer experiences.
                                    </p>
                                </div>

                                <div
                                    class="hidden sm:w-full md:w-7/12 lg:w-7/12 bg-white  rounded-[10px] p-8"
                                    id="faq3_c"
                                >
                                    <p
                                        class="text-lg md:text-lg lg:text-xl leading-9 font-semibold mb-7"
                                    >
                                        Can we use GPT-4 be in the finance industry?
                                    </p>
                                    <p class="text-base mb-7">
                                       Yes, surely! You can use  GPT-4 in the finance industry for automated customer service, fraud detection, personalized investment recommendations, automated financial reporting, among other applications.
                                    </p>
                                </div>

                                <div
                                    class="hidden sm:w-full md:w-7/12 lg:w-7/12 bg-white  rounded-[10px] p-8"
                                    id="faq4_c"
                                >
                                    <p
                                        class="text-lg md:text-lg lg:text-xl leading-9 font-semibold mb-7"
                                    >
                                        What role can GPT-4 play in education?
                                    </p>
                                    <p class="text-base mb-7">
                                       GPT-4 can beneficial in education industry as well. It enhance education businesses by offering personalized learning recommendations, improving accessibility for disabled students, assisting in learning assessment, and enhancing the overall learning experience.
                                    </p>
                                </div>
                                <div
                                    class="hidden sm:w-full md:w-7/12 lg:w-7/12 bg-white  rounded-[10px] p-8"
                                    id="faq5_c"
                                >
                                    <p
                                        class="text-lg md:text-lg lg:text-xl leading-9 font-semibold mb-7"
                                    >
                                       How can GPT-4 benefit customer service operations?
                                    </p>
                                    <p class="text-base mb-7">
                                        For customer service, GPT-4 can automate customer support, offer personalized recommendations, and provide language support in customer interactions, leading to more efficient and effective customer service.
                                    </p>
                                </div>
                                 <div
                                    class="hidden sm:w-full md:w-7/12 lg:w-7/12 bg-white  rounded-[10px] p-8"
                                    id="faq6_c"
                                >
                                    <p
                                        class="text-lg md:text-lg lg:text-xl leading-9 font-semibold mb-7"
                                    >
                                       Can GPT-4 enhance the shopping experience in online shops?
                                    </p>
                                    <p class="text-base mb-7">
                                        In online shops, GPT-powered chatbots can engage in natural language conversations with customers, help them find the right products based on their preferences, and provide personalized recommendations, making the shopping experience more interactive and satisfying.
                                    </p>
                                </div>
                                <div
                                    class="hidden sm:w-full md:w-7/12 lg:w-7/12 bg-white  rounded-[10px] p-8"
                                    id="faq7_c"
                                >
                                    <p
                                        class="text-lg md:text-lg lg:text-xl leading-9 font-semibold mb-7"
                                    >
                                      How can we utilize GPT-4 as an information desk chatbot for various industries?
                                    </p>
                                    <p class="text-base mb-7">
                                        GPT-4 can serve as an information desk chatbot in sectors like banking, insurance, healthcare, and government, where it can answer customer questions and provide relevant information from company-specific content, such as FAQs,  knowledge base articles, blogs, etc.
                                    </p>
                                </div>
                                <div
                                    class="hidden sm:w-full md:w-7/12 lg:w-7/12 bg-white  rounded-[10px] p-8"
                                    id="faq8_c"
                                >
                                    <p
                                        class="text-lg md:text-lg lg:text-xl leading-9 font-semibold mb-7"
                                    >
                                       How can GPT-4 support sales and business development representatives?
                                    </p>
                                    <p class="text-base mb-7">
                                        In sales and business development, GPT-4 can assist professionals by personalizing outreach emails, automating lead capture and qualification, nurturing leads through drip campaigns, scheduling meetings, and segmenting customers based on their responses.
                                    </p>
                                </div>
                                 <div
                                    class="hidden sm:w-full md:w-7/12 lg:w-7/12 bg-white  rounded-[10px] p-8"
                                    id="faq9_c"
                                >
                                    <p
                                        class="text-lg md:text-lg lg:text-xl leading-9 font-semibold mb-7"
                                    >
                                       Can GPT-4 summarize sales calls and extract valuable insights?
                                    </p>
                                    <p class="text-base mb-7">
                                        Yes, GPT-4, in combination with transcription services like OpenAI Whisper, can automatically transcribe and summarize sales calls, extracting key points, action items, sentiments expressed during the conversation, and even analyze sales calls to identify customer sentiments and extract important information for the business to make data-driven decisions.
                                    </p>
                                </div>
                                 <div
                                    class="hidden sm:w-full md:w-7/12 lg:w-7/12 bg-white  rounded-[10px] p-8"
                                    id="faq10_c"
                                >
                                    <p
                                        class="text-lg md:text-lg lg:text-xl leading-9 font-semibold mb-7"
                                    >
                                       What can GPT-4-powered personal assistants do?
                                    </p>
                                    <p class="text-base mb-7">
                                       GPT-4-based personal assistants can take actions on behalf of users, remember interactions for future reference, and have knowledge about user data, providing personalized and seamless assistance.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div
                            x-data="{ accordion: 0 }"
                            class="grid gap-5 bg-[#EBF5FF] rounded-[20px] text-[#31393C] p-3 md:p-4 lg:p-5 shadow drop-shadow-sm"
                        >
                            <p
                                class="text-[1.25rem] md:text-[1.50rem] lg:text-[1.75rem] font-semibold ml-3 leading-9"
                            >
                                Frequently Asked Questions (FAQs)
                            </p>
                            <div class="bg-white rounded-2xl">
                                <div
                                    class="flex justify-between p-4"
                                    @click="accordion = accordion == 0 ? 1 : 0"
                                >
                                    <div
                                        class="text-sm md:text-sm lg:text-base cursor-pointer mr-1 md:mr-0"
                                    >
                                        What are some popular use cases of GPT-4?
                                    </div>
                                    <Image
                                        :class="accordion === 1 ? 'block' : 'hidden'"
                                        src={down_arrow}
                                        alt="down-arrow"
                                    />
                                    <Image
                                        :class="accordion !== 1 ? 'block' : 'hidden'"
                                        src={up_arrow}
                                        alt="up-arrow"
                                    />
                                </div>
                                <div
                                    class="overflow-hidden bg-white rounded-b-[10px]"
                                    :class="accordion !== 0 ? 'h-0' : 'border-t-2'"
                                >
                                    <div
                                        class="w-full bg-white  rounded-[10px] p-5"
                                        id="faq1_c"
                                    >
                                        <p
                                            class="text-xs md:text-sm lg:text-base"
                                        >
                                           GPT-4 has a wide range of applications for businesses, which includes question answering, developing chatbots, querying tabular data, interacting with APIs, extraction of structured information from text, summarization, and understanding images.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-white rounded-2xl">
                                <div
                                    class="flex justify-between p-4"
                                    @click="accordion = accordion == 2 ? 0 : 2"
                                >
                                    <div
                                        class="text-sm md:text-sm lg:text-base cursor-pointer mr-1 md:mr-0"
                                    >
                                       Can GPT-4 understand and interact with visual inputs?
                                    </div>
                                    <Image
                                        :class="accordion !== 2 ? 'block' : 'hidden'"
                                        src={down_arrow}
                                        alt="down-arrow"
                                    />
                                    <Image
                                        :class="accordion === 2 ? 'block' : 'hidden'"
                                        src={up_arrow}
                                        alt="up-arrow"
                                    />
                                </div>
                                <div
                                    class="overflow-hidden bg-white rounded-b-[10px]"
                                    :class="accordion !== 2 ? 'h-0' : 'border-t-2'"
                                >
                                    <p
                                        class="text-xs md:text-sm lg:text-base p-5"
                                    >
                                       Yes, GPT-4 has the capability to process visual inputs and understand images, enabling applications such as image analysis, image recognition, and generating content based on visual prompts, while opening up new opportunities for enhanced decision-making and customer experiences.
                                    </p>
                                </div>
                            </div>
                            <div class="bg-white rounded-2xl">
                                <div
                                    class="flex justify-between p-4"
                                    @click="accordion = accordion == 3 ? 0 : 3"
                                >
                                    <div
                                        class="text-sm md:text-sm lg:text-base cursor-pointer mr-1 md:mr-0"
                                    >
                                        Can we use GPT-4 be in the finance industry?
                                    </div>
                                    <Image
                                        :class="accordion !== 3 ? 'block' : 'hidden'"
                                        src={down_arrow}
                                        alt="down-arrow"
                                    />
                                    <Image
                                        :class="accordion === 3 ? 'block' : 'hidden'"
                                        src={up_arrow}
                                        alt="up-arrow"
                                    />
                                </div>
                                <div
                                    class="overflow-hidden bg-white rounded-b-[10px]"
                                    :class="accordion !== 3 ? 'h-0' : 'border-t-2'"
                                >
                                    <p
                                        class="text-xs md:text-sm lg:text-base p-5"
                                    >
                                       Yes, surely! You can use  GPT-4 in the finance industry for automated customer service, fraud detection, personalized investment recommendations, automated financial reporting, among other applications.
                                    </p>
                                </div>
                            </div>
                            <div class="bg-white rounded-2xl">
                                <div
                                    class="flex justify-between p-4"
                                    @click="accordion = accordion == 4 ? 0: 4"
                                >
                                    <div
                                        class="text-sm md:text-sm lg:text-base cursor-pointer mr-1 md:mr-0"
                                    >
                                       What role can GPT-4 play in education?
                                    </div>
                                    <Image
                                        :class="accordion !== 4 ? 'block' : 'hidden'"
                                        src={down_arrow}
                                        alt="down-arrow"
                                    />
                                    <Image
                                        :class="accordion === 4 ? 'block' : 'hidden'"
                                        src={up_arrow}
                                        alt="up-arrow"
                                    />
                                </div>
                                <div
                                    class="overflow-hidden bg-white rounded-b-[10px]"
                                    :class="accordion !== 4 ? 'h-0' : 'border-t-2'"
                                >
                                    <p
                                        class="text-xs md:text-sm lg:text-base p-5"
                                    >
                                        GPT-4 can beneficial in education industry as well. It enhance education businesses by offering personalized learning recommendations, improving accessibility for disabled students, assisting in learning assessment, and enhancing the overall learning experience.
                                    </p>
                                </div>
                            </div>
                            <div class="bg-white rounded-2xl">
                                <div
                                    class="flex justify-between p-4"
                                    @click="accordion = accordion == 5 ? 0: 5"
                                >
                                    <div
                                        class="text-sm md:text-sm lg:text-base cursor-pointer mr-1 md:mr-0"
                                    >
                                        How can GPT-4 benefit customer service operations?
                                    </div>
                                    <Image
                                        :class="accordion !== 5 ? 'block' : 'hidden'"
                                        src={down_arrow}
                                        alt="down-arrow"
                                    />
                                    <Image
                                        :class="accordion === 5 ? 'block' : 'hidden'"
                                        src={up_arrow}
                                        alt="up-arrow"
                                    />
                                </div>
                                <div
                                    class="overflow-hidden bg-white rounded-b-[10px]"
                                    :class="accordion !== 5 ? 'h-0' : 'border-t-2'"
                                >
                                    <p
                                        class="text-xs md:text-sm lg:text-base p-5"
                                    >
                                        For customer service, GPT-4 can automate customer support, offer personalized recommendations, and provide language support in customer interactions, leading to more efficient and effective customer service.
                                    </p>
                                </div>
                            </div>
                            <div class="bg-white rounded-2xl">
                                <div
                                    class="flex justify-between p-4"
                                    @click="accordion = accordion == 6 ? 0: 6"
                                >
                                    <div
                                        class="text-sm md:text-sm lg:text-base cursor-pointer mr-1 md:mr-0"
                                    >
                                        Can GPT-4 enhance the shopping experience in online shops?
                                    </div>
                                    <Image
                                        :class="accordion !== 6 ? 'block' : 'hidden'"
                                        src={down_arrow}
                                        alt="down-arrow"
                                    />
                                    <Image
                                        :class="accordion === 6 ? 'block' : 'hidden'"
                                        src={up_arrow}
                                        alt="up-arrow"
                                    />
                                </div>
                                <div
                                    class="overflow-hidden bg-white rounded-b-[10px]"
                                    :class="accordion !== 6 ? 'h-0' : 'border-t-2'"
                                >
                                    <p
                                        class="text-xs md:text-sm lg:text-base p-5"
                                    >
                                      In online shops, GPT-powered chatbots can engage in natural language conversations with customers, help them find the right products based on their preferences, and provide personalized recommendations, making the shopping experience more interactive and satisfying.
                                    </p>
                                </div>
                            </div>
                            <div class="bg-white rounded-2xl">
                                <div
                                    class="flex justify-between p-4"
                                    @click="accordion = accordion == 7 ? 0: 7"
                                >
                                    <div
                                        class="text-sm md:text-sm lg:text-base cursor-pointer mr-1 md:mr-0"
                                    >
                                        How can we utilize GPT-4 as an information desk chatbot for various industries?
                                    </div>
                                    <Image
                                        :class="accordion !== 7 ? 'block' : 'hidden'"
                                        src={down_arrow}
                                        alt="down-arrow"
                                    />
                                    <Image
                                        :class="accordion === 7 ? 'block' : 'hidden'"
                                        src={up_arrow}
                                        alt="up-arrow"
                                    />
                                </div>
                                <div
                                    class="overflow-hidden bg-white rounded-b-[10px]"
                                    :class="accordion !== 7 ? 'h-0' : 'border-t-2'"
                                >
                                    <p
                                        class="text-xs md:text-sm lg:text-base p-5"
                                    >
                                      GPT-4 can serve as an information desk chatbot in sectors like banking, insurance, healthcare, and government, where it can answer customer questions and provide relevant information from company-specific content, such as FAQs,  knowledge base articles, blogs, etc.
                                    </p>
                                </div>
                            </div>
                            <div class="bg-white rounded-2xl">
                                <div
                                    class="flex justify-between p-4"
                                    @click="accordion = accordion == 8 ? 0: 8"
                                >
                                    <div
                                        class="text-sm md:text-sm lg:text-base cursor-pointer mr-1 md:mr-0"
                                    >
                                        How can GPT-4 support sales and business development representatives?
                                    </div>
                                    <Image
                                        :class="accordion !== 8 ? 'block' : 'hidden'"
                                        src={down_arrow}
                                        alt="down-arrow"
                                    />
                                    <Image
                                        :class="accordion === 8 ? 'block' : 'hidden'"
                                        src={up_arrow}
                                        alt="up-arrow"
                                    />
                                </div>
                                <div
                                    class="overflow-hidden bg-white rounded-b-[10px]"
                                    :class="accordion !== 8 ? 'h-0' : 'border-t-2'"
                                >
                                    <p
                                        class="text-xs md:text-sm lg:text-base p-5"
                                    >
                                      In sales and business development, GPT-4 can assist professionals by personalizing outreach emails, automating lead capture and qualification, nurturing leads through drip campaigns, scheduling meetings, and segmenting customers based on their responses.
                                    </p>
                                </div>
                            </div>
                            <div class="bg-white rounded-2xl">
                                <div
                                    class="flex justify-between p-4"
                                    @click="accordion = accordion == 9 ? 0: 9"
                                >
                                    <div
                                        class="text-sm md:text-sm lg:text-base cursor-pointer mr-1 md:mr-0"
                                    >
                                       Can GPT-4 summarize sales calls and extract valuable insights?
                                    </div>
                                    <Image
                                        :class="accordion !== 9 ? 'block' : 'hidden'"
                                        src={down_arrow}
                                        alt="down-arrow"
                                    />
                                    <Image
                                        :class="accordion === 9 ? 'block' : 'hidden'"
                                        src={up_arrow}
                                        alt="up-arrow"
                                    />
                                </div>
                                <div
                                    class="overflow-hidden bg-white rounded-b-[10px]"
                                    :class="accordion !== 9 ? 'h-0' : 'border-t-2'"
                                >
                                    <p
                                        class="text-xs md:text-sm lg:text-base p-5"
                                    >
                                      Yes, GPT-4, in combination with transcription services like OpenAI Whisper, can automatically transcribe and summarize sales calls, extracting key points, action items, sentiments expressed during the conversation, and even analyze sales calls to identify customer sentiments and extract important information for the business to make data-driven decisions.
                                    </p>
                                </div>
                            </div>
                            <div class="bg-white rounded-2xl">
                                <div
                                    class="flex justify-between p-4"
                                    @click="accordion = accordion == 10 ? 0: 10"
                                >
                                    <div
                                        class="text-sm md:text-sm lg:text-base cursor-pointer mr-1 md:mr-0"
                                    >
                                        What can GPT-4-powered personal assistants do?
                                    </div>
                                    <Image
                                        :class="accordion !== 10 ? 'block' : 'hidden'"
                                        src={down_arrow}
                                        alt="down-arrow"
                                    />
                                    <Image
                                        :class="accordion === 10 ? 'block' : 'hidden'"
                                        src={up_arrow}
                                        alt="up-arrow"
                                    />
                                </div>
                                <div
                                    class="overflow-hidden bg-white rounded-b-[10px]"
                                    :class="accordion !== 10 ? 'h-0' : 'border-t-2'"
                                >
                                    <p
                                        class="text-xs md:text-sm lg:text-base p-5"
                                    >
                                     GPT-4-based personal assistants can take actions on behalf of users, remember interactions for future reference, and have knowledge about user data, providing personalized and seamless assistance.
                                    </p>
                                </div>
                            </div>
                        </div>
          </section>
<style>
 .section-bg-right {
                    position: relative;
                    }

                    .section-bg-right::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 140rem;
                        background-image: radial-gradient(ellipse at right, rgba(62, 150, 244, 0.09), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
                        z-index: -1;
                        margin-top: 8rem;
                    }

                    @media (max-width: 640px) {
                    .section-bg-right::before {
                        height: 60rem;
                        margin-top: -10rem;
                    }
                    }

                    @media (max-width: 768px) {
                    .section-bg-right::before {
                        height: 80rem;
                        margin-top: -10rem; 
                    }
                    }
                    @media (max-width: 1024px) {
                    .section-bg-right::before {
                        height: 80rem;
                        margin-top: -0rem; 
                    }
                    }


</style>
                <script>
                    // show and hide faq content
                    // show faq1
                    const faq1 = document.getElementById("faq1");
                    faq1.addEventListener("click", show_faq1);

                   function show_faq1() {
                        document.getElementById("faq21").classList.remove("!bg-white");
                        document.getElementById("faq31").classList.remove("!bg-white");
                        document.getElementById("faq41").classList.remove("!bg-white");
                        document.getElementById("faq51").classList.remove("!bg-white");

                        document.getElementById("faq1_c").classList.remove("hidden");
                        document.getElementById("faq2_c").classList.remove("!block");
                        document.getElementById("faq3_c").classList.remove("!block");
                        document.getElementById("faq4_c").classList.remove("!block");
                        document.getElementById("faq5_c").classList.remove("!block");
                        document.getElementById("faq6_c").classList.remove("!block");
                        document.getElementById("faq7_c").classList.remove("!block");
                        document.getElementById("faq8_c").classList.remove("!block");
                        document.getElementById("faq9_c").classList.remove("!block");
                        document.getElementById("faq10_c").classList.remove("!block");
                    }

                    // show faq2
                    const faq2 = document.getElementById("faq2");
                    faq2.addEventListener("click", show_faq2);

                    function show_faq2() {
                        document.getElementById("faq21").classList.add("!bg-white");
                        document.getElementById("faq11").classList.add("!bg-white", "!bg-opacity-70");
                        document.getElementById("faq31").classList.remove("!bg-white");
                        document.getElementById("faq41").classList.remove("!bg-white");
                        document.getElementById("faq51").classList.remove("!bg-white");


                        document.getElementById("faq1_c").classList.add("hidden");
                        document.getElementById("faq3_c").classList.remove("!block");
                        document.getElementById("faq4_c").classList.remove("!block");
                        document.getElementById("faq5_c").classList.remove("!block");
                        document.getElementById("faq6_c").classList.remove("!block");
                        document.getElementById("faq7_c").classList.remove("!block");
                        document.getElementById("faq8_c").classList.remove("!block");
                        document.getElementById("faq9_c").classList.remove("!block");
                        document.getElementById("faq10_c").classList.remove("!block");
                        document.getElementById("faq5_c").classList.remove("!block");
                        document.getElementById("faq2_c").classList.add("!block");
                    }

                    //show faq3
                    const faq3 = document.getElementById("faq3");
                    faq3.addEventListener("click", show_faq3);

                    function show_faq3() {
                        document.getElementById("faq31").classList.add("!bg-white");
                        document.getElementById("faq11").classList.add("!bg-white", "!bg-opacity-70");
                        document.getElementById("faq21").classList.remove("!bg-white");
                        document.getElementById("faq41").classList.remove("!bg-white");
                        document.getElementById("faq51").classList.remove("!bg-white");

                        document.getElementById("faq1_c").classList.add("hidden"); 
                        document.getElementById("faq2_c").classList.remove("!block");
                        document.getElementById("faq4_c").classList.remove("!block");
                        document.getElementById("faq5_c").classList.remove("!block");
                        document.getElementById("faq6_c").classList.remove("!block");
                        document.getElementById("faq7_c").classList.remove("!block");
                        document.getElementById("faq8_c").classList.remove("!block");
                        document.getElementById("faq9_c").classList.remove("!block");
                        document.getElementById("faq10_c").classList.remove("!block");
                        document.getElementById("faq5_c").classList.remove("!block");
                        document.getElementById("faq3_c").classList.add("!block");
                    }

                    // show faq4
                    const faq4 = document.getElementById("faq4");
                    faq4.addEventListener("click", show_faq4);

                    function show_faq4() {
                        document.getElementById("faq41").classList.add("!bg-white");
                        document.getElementById("faq11").classList.add("!bg-white", "!bg-opacity-70");
                        document.getElementById("faq21").classList.remove("!bg-white");
                        document.getElementById("faq31").classList.remove("!bg-white");
                        document.getElementById("faq51").classList.remove("!bg-white");

                        document.getElementById("faq1_c").classList.add("hidden");
                        document.getElementById("faq2_c").classList.remove("!block");
                        document.getElementById("faq3_c").classList.remove("!block");
                        document.getElementById("faq5_c").classList.remove("!block");
                        document.getElementById("faq6_c").classList.remove("!block");
                        document.getElementById("faq7_c").classList.remove("!block");
                        document.getElementById("faq8_c").classList.remove("!block");
                        document.getElementById("faq9_c").classList.remove("!block");
                        document.getElementById("faq10_c").classList.remove("!block");
                        document.getElementById("faq4_c").classList.add("!block");
                    }

                    // show faq5
                    const faq5 = document.getElementById("faq5");
                    faq5.addEventListener("click", show_faq5);

                    function show_faq5() {
                        document.getElementById("faq51").classList.add("!bg-white");
                        document.getElementById("faq11").classList.add("!bg-white", "!bg-opacity-70");
                        document.getElementById("faq21").classList.remove("!bg-white");
                        document.getElementById("faq31").classList.remove("!bg-white");
                        document.getElementById("faq41").classList.remove("!bg-white");

                        document.getElementById("faq1_c").classList.add("hidden");
                        document.getElementById("faq2_c").classList.remove("!block");
                        document.getElementById("faq3_c").classList.remove("!block");
                        document.getElementById("faq4_c").classList.remove("!block");
                        document.getElementById("faq6_c").classList.remove("!block");
                        document.getElementById("faq7_c").classList.remove("!block");
                        document.getElementById("faq8_c").classList.remove("!block");
                        document.getElementById("faq9_c").classList.remove("!block");
                        document.getElementById("faq10_c").classList.remove("!block");
                        document.getElementById("faq5_c").classList.add("!block");
                    }

                    // show faq6
                      const faq6 = document.getElementById("faq6");
                      faq6.addEventListener("click", show_faq6);

                      function show_faq6() {
                        document.getElementById("faq61").classList.add("!bg-white");
                        document.getElementById("faq11").classList.add("!bg-white", "!bg-opacity-70");
                        document.getElementById("faq21").classList.remove("!bg-white");
                        document.getElementById("faq31").classList.remove("!bg-white");
                        document.getElementById("faq41").classList.remove("!bg-white");
                        document.getElementById("faq51").classList.remove("!bg-white");

                        document.getElementById("faq1_c").classList.add("hidden");
                        document.getElementById("faq2_c").classList.remove("!block");
                        document.getElementById("faq3_c").classList.remove("!block");
                        document.getElementById("faq4_c").classList.remove("!block");
                        document.getElementById("faq5_c").classList.remove("!block");
                        document.getElementById("faq7_c").classList.remove("!block");
                        document.getElementById("faq8_c").classList.remove("!block");
                        document.getElementById("faq9_c").classList.remove("!block");
                        document.getElementById("faq10_c").classList.remove("!block");
                        document.getElementById("faq6_c").classList.add("!block");
                    }

                    // show faq7
                      const faq7 = document.getElementById("faq7");
                      faq7.addEventListener("click", show_faq7);

                      function show_faq7() {
                        document.getElementById("faq71").classList.add("!bg-white");
                        document.getElementById("faq11").classList.add("!bg-white", "!bg-opacity-70");
                        document.getElementById("faq21").classList.remove("!bg-white");
                        document.getElementById("faq31").classList.remove("!bg-white");
                        document.getElementById("faq41").classList.remove("!bg-white");
                        document.getElementById("faq51").classList.remove("!bg-white");
                        document.getElementById("faq61").classList.remove("!bg-white");

                        document.getElementById("faq1_c").classList.add("hidden");
                        document.getElementById("faq2_c").classList.remove("!block");
                        document.getElementById("faq3_c").classList.remove("!block");
                        document.getElementById("faq4_c").classList.remove("!block");
                        document.getElementById("faq5_c").classList.remove("!block");
                        document.getElementById("faq6_c").classList.remove("!block");
                        document.getElementById("faq8_c").classList.remove("!block");
                        document.getElementById("faq9_c").classList.remove("!block");
                        document.getElementById("faq10_c").classList.remove("!block");
                        document.getElementById("faq7_c").classList.add("!block");
                    }

                    // show faq8
                      const faq8 = document.getElementById("faq8");
                      faq8.addEventListener("click", show_faq8);

                      function show_faq8() {
                        document.getElementById("faq81").classList.add("!bg-white");
                        document.getElementById("faq11").classList.add("!bg-white", "!bg-opacity-70");
                        document.getElementById("faq21").classList.remove("!bg-white");
                        document.getElementById("faq31").classList.remove("!bg-white");
                        document.getElementById("faq41").classList.remove("!bg-white");
                        document.getElementById("faq51").classList.remove("!bg-white");
                        document.getElementById("faq61").classList.remove("!bg-white");
                        document.getElementById("faq71").classList.remove("!bg-white");

                        document.getElementById("faq1_c").classList.add("hidden");
                        document.getElementById("faq2_c").classList.remove("!block");
                        document.getElementById("faq3_c").classList.remove("!block");
                        document.getElementById("faq4_c").classList.remove("!block");
                        document.getElementById("faq5_c").classList.remove("!block");
                        document.getElementById("faq6_c").classList.remove("!block");
                        document.getElementById("faq7_c").classList.remove("!block");
                        document.getElementById("faq9_c").classList.remove("!block");
                        document.getElementById("faq10_c").classList.remove("!block");
                        document.getElementById("faq8_c").classList.add("!block");
                    }

                    // show faq9
                      const faq9 = document.getElementById("faq9");
                      faq9.addEventListener("click", show_faq9);

                      function show_faq9() {
                        document.getElementById("faq91").classList.add("!bg-white");
                        document.getElementById("faq11").classList.add("!bg-white", "!bg-opacity-70");
                        document.getElementById("faq21").classList.remove("!bg-white");
                        document.getElementById("faq31").classList.remove("!bg-white");
                        document.getElementById("faq41").classList.remove("!bg-white");
                        document.getElementById("faq51").classList.remove("!bg-white");
                        document.getElementById("faq61").classList.remove("!bg-white");
                        document.getElementById("faq71").classList.remove("!bg-white");
                        document.getElementById("faq81").classList.remove("!bg-white");
                        document.getElementById("faq101").classList.remove("!bg-white");

                        document.getElementById("faq1_c").classList.add("hidden");
                        document.getElementById("faq2_c").classList.remove("!block");
                        document.getElementById("faq3_c").classList.remove("!block");
                        document.getElementById("faq4_c").classList.remove("!block");
                        document.getElementById("faq5_c").classList.remove("!block");
                        document.getElementById("faq6_c").classList.remove("!block");
                        document.getElementById("faq7_c").classList.remove("!block");
                        document.getElementById("faq8_c").classList.remove("!block");
                        document.getElementById("faq10_c").classList.remove("!block");
                        document.getElementById("faq9_c").classList.add("!block");
                    }

                     // show faq10
                      const faq10 = document.getElementById("faq10");
                      faq10.addEventListener("click", show_faq10);

                      function show_faq10() {
                        document.getElementById("faq101").classList.add("!bg-white");
                        document.getElementById("faq11").classList.add("!bg-white", "!bg-opacity-70");
                        document.getElementById("faq21").classList.remove("!bg-white");
                        document.getElementById("faq31").classList.remove("!bg-white");
                        document.getElementById("faq41").classList.remove("!bg-white");
                        document.getElementById("faq51").classList.remove("!bg-white");
                        document.getElementById("faq61").classList.remove("!bg-white");
                        document.getElementById("faq71").classList.remove("!bg-white");
                        document.getElementById("faq81").classList.remove("!bg-white");
                        document.getElementById("faq91").classList.remove("!bg-white");

                        document.getElementById("faq1_c").classList.add("hidden");
                        document.getElementById("faq2_c").classList.remove("!block");
                        document.getElementById("faq3_c").classList.remove("!block");
                        document.getElementById("faq4_c").classList.remove("!block");
                        document.getElementById("faq5_c").classList.remove("!block");
                        document.getElementById("faq6_c").classList.remove("!block");
                        document.getElementById("faq7_c").classList.remove("!block");
                        document.getElementById("faq8_c").classList.remove("!block");
                        document.getElementById("faq9_c").classList.remove("!block");
                        document.getElementById("faq10_c").classList.add("!block");
                    }

                const texts = [
                  "How does this alliance help my business?"
                ];

                const delayBetweenCharacters = 100;
                const typingDelay = 1000;

                function autoTypeCharacterByCharacter(element, text) {
                  let i = 0;
                  const typeEffect = setInterval(() => {
                    element.textContent += text.charAt(i);
                    i++;
                    if (i >= text.length) {
                      clearInterval(typeEffect); // Clear the interval to stop typing
                      setTimeout(() => {
                        element.textContent = ""; // Reset the text content after typing the full text
                        autoTypeCharacterByCharacter(element, text); // Start the next typing loop after the typingDelay
                      }, typingDelay);
                    }
                  }, delayBetweenCharacters);
                }

                document.addEventListener("DOMContentLoaded", function () {
                  const autoTypingElements = document.querySelectorAll(".auto-typing");

                  for (let i = 0; i < autoTypingElements.length; i++) {
                    autoTypeCharacterByCharacter(autoTypingElements[i], texts[i % texts.length]);
                  }
                });          
                    </script>
</Layout>

