---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import advantis_logo from "../../public/Images/advantis-quarts-logo.png";
import AQ_Success_Story from "../../public/Images/AQ_Success_Story.png";
import advantis_quarts from "../../public/Images/advantis_quarts.svg";
import export_manufacturing_inventory from "../../public/Images/export_manufacturing_inventory.png";
import our_work_vector1 from "../../public/Images/our_work_vector1.png";
import AQ_no_megic_thumb from "../../public/Images/AQ_no_megic_thumb.png";
import AQ_no_megic_megnet from "../../public/Images/AQ_no_megic_megnet.png";
import AQ_no_megic_coin from "../../public/Images/AQ_no_megic_coin.png";
import AQ_no_megic_meter from "../../public/Images/AQ_no_megic_meter.png";
import AQ_feature1 from "../../public/Images/AQ_feature1.png";
import AQ_feature2 from "../../public/Images/AQ_feature2.png";
import AQ_feature3 from "../../public/Images/AQ_feature3.png";
import AQ_feature4 from "../../public/Images/AQ_feature4.png";
import AQ_feature5 from "../../public/Images/AQ_feature5.png";
import AQ_feature7 from "../../public/Images/AQ_feature7.png";
import client_loved_group from "../../public/Images/client_loved_group.png";
import client_loved_group2 from "../../public/Images/client_loved_group2.png";
import client_loved_union from "../../public/Images/client_loved_union.png";
import client_loved_vector from "../../public/Images/client_loved_vector.png";
import AQ_challenges1 from "../../public/Images/AQ_challenges1.png";
import AQ_challenges2 from "../../public/Images/AQ_challenges2.png";
import AQ_challenges3 from "../../public/Images/AQ_challenges3.png";
import AQ_challenges4 from "../../public/Images/AQ_challenges4.png";
import AQ_challenges5 from "../../public/Images/AQ_challenges5.png";
import AQ_challenges6 from "../../public/Images/AQ_challenges6.png";
import ba_Procurement_Inventory from "../../public/Images/ba_Procurement_Inventory.png";
import ba_Visibility_of_Operations from "../../public/Images/ba_Visibility_of_Operations.png";
import ba_Finance_Management from "../../public/Images/ba_Finance_Management.png";
import ba_Better_supplier_management from "../../public/Images/ba_Better_supplier_management.png";
import before_after_head from "../../public/Images/before_after_head.png";
import slider_AQ_accounting from "../../public/Images/slider_AQ_accounting.png";
import slider_AQ_buying from "../../public/Images/slider_AQ_buying.png";
import slider_AQ_Hr_payoff from "../../public/Images/slider_AQ_Hr_payoff.png";
import slider_AQ_inventory from "../../public/Images/slider_AQ_inventory.png";
import slider_AQ_manufacturing from "../../public/Images/slider_AQ_manufacturing.png";
import slider_AQ_sales from "../../public/Images/slider_AQ_sales.png";
import slider_purchase_fms from "../../public/Images/slider_purchase_fms.png";
import slider_AQ_quality_inspection from "../../public/Images/slider_AQ_quality_inspection.png";
---

<Layout
	title="ERPNext and ServiceNow Consulting, Implementation and Development Specialist | Sanskar Technolab"
	,
	keyword="ERPNext partner, ERPNext development, ERP software development, ERPNext implementation services, ERPNext implementation partner in India, ERPNext development in India, ERP consulting services, ERP deployment services, ERP software development company, ERPNext Integration services,	ERPNext implementation partners, ERPNext implementation, erp implementation partner, erp implementation companies, ERPNext software development company, Hire ERPNext developers, ERPNext development services , Erpnext solution company, Frappe ERPNext , Erpnext software , ERPNext open-source, ServiceNow company, ServiceNow implementation partner, Servicenow implementation services, Servicenow implementation solutions"
	,
	description="We are among the leading ERPNext development companies offering ERPNext solutions to scale & succeed."
	,
	canonical_href="https://sanskartechnolab.com/"
>

	<!-- Heading intro start  -->
    <section
        class="hidden lg:flex section-bg h-[90vh] xl:h-[75vh] flex items-center banner-bg py-[2rem] md:py-[2rem] lg:py-[4rem]"
    >
        <div
            class="flex flex-wrap items-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
        >
            <div class="w-full md:w-6/12">
                <h1
				  class="text-[1.75rem] md:text-[2.25rem] lg:text-[2.7rem] !leading-[2.25rem] md:!leading-[3.5rem] lg:leading-[4rem] text-[#31393C] font-extrabold"
			  >
				Success Story: Universal Platform on ERPNext for Manufacturing & Export Giant.
                </h1>
                <p
                    class="text[#31393C] text-sm md:text-base leading-5 md:leading-6 mt-5"
                >
				Our client Advantis Quartz, the renowned natural stone manufacturer, has reached out to Sanskar Technolabs, an
				official ERPNext partner to better optimize their workflows and streamline processes.
                </p>
            </div>

            <Image
                loading="eager"
                src={AQ_Success_Story}
                alt="AQ_Success_Story"
                class="w-full md:w-6/12 lg:p-10 md:p-8"
            />
        </div>
    </section>

    <section class="section-bg flex items-center md:flex lg:hidden banner-bg py-[2rem] md:py-[2rem] lg:py-[4rem] ">
        <div
            class="flex flex-wrap items-center mx-5 gap-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
        >
            <div class="w-full lg:w-6/12 mt-5">
                <div
                    class="text-[1.5rem] md:text-[2.25rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold"
                >
				Success Story: Universal Platform on ERPNext for Manufacturing & Export Giant.
                </div>
                <p
                    class="text[#31393C] text-sm md:text-base leading-5 md:leading-6 mt-5"
                >
				Our client Advantis Quartz, the renowned natural stone manufacturer, has reached out to Sanskar Technolabs, an
				official ERPNext partner to better optimize their workflows and streamline processes.
                </p>
               
            </div>

            <Image loading="eager" src={AQ_Success_Story} alt="farm" class="w-full mb-5" />
        </div>
    </section>
    <!-- Heading intro end  -->

	<!-- Subtle Glimpses of the Project. start -->
<section class="section-bg-left1  py-[2rem] md:py-[2rem] lg:py-[4rem]">
<section
	class=" mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
	<div class=" sm:text-left">
		<h2
			class="text-2xl md:text-3xl lg:text-4xl font-bold  text-[#3E96F4] "
		>
		Subtle Glimpses of the Project.
		</h2>
	</div>
		<div class="grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 mt-10 sm:gap-5">
			<div><Image
				loading="eager"
				src={advantis_quarts}
				alt="advantis_quarts"
				class="h-[116px] w-[164px]"
			/></div>
			<div>
				<p class="mt-3 lg:mt-0 lg:ms-[-100px] text-xs md:text-sm lg:text-base "> Advantis Quartz, the Flagship brand in India is the leading manufacturer of raw materials for quarries and its engineering, whilst exporting its high-end products to various countries across the world. Struggling with disjointed workflows, lesser employee efficiency, and errors in the process, they reached out to Sanskar Technolabs for the development of a universal platform to manage end-to-end business operations.</p>
			</div>
			
			<div class="sm:w-full md:w-full  text-xs md:text-sm lg:text-base text-[#31393C] mt-5 md:mt-5 lg:mt-0 lg:ms-10">
				<p class="font-bold">
					Client Location </p>
				<p>	Udaipur, Rajasthan.
				</p><br>
				<p class="font-bold ">
					Tech-Stack</p>
				<p>	Web Server: Frappe Cloud </p><p>Database: MySQL (Maria DB)</p> ERPNext Version: 14.13.0 
				</p>
			</div>
			<div class="sm:w-full md:w-full text-xs md:text-sm lg:text-base text-[#31393C] mt-5 md:mt-5 lg:mt-0">
				<p class="font-bold">
					Industry </p>
				<p>	Manufacturing & Export
				</p><br>
				<p class="font-bold ">
					Project Methodology</p>
				<p>Agile Scrum Methodology
				</p>
			</div>
			
		</div>
	</div>	
	</div>
</section></section>

	<!-- Clients Vision & Mission!-->

<section class=" py-[2rem] md:py-[2rem] lg:py-[4rem]  mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
	<div class="container mx-auto">
	<div class=" p-0 client_vision_border max-w-[1300px] rounded-lg md:mx-14">
		<div class="rounded-[25px] h-full grid lg:grid-cols-2 md:grid-cols-1">
			<div class=''>
			<Image
				loading="eager"
				src={export_manufacturing_inventory}
				alt="export_manufacturing_inventory"
				class="client_vision_image"
			/></div>
			<div class="p-5"><p class="mt-2 lg:mt-10 font-bold text-2xl md:text-3xl lg:text-4xl text-[#3E96F4]">
			Clients Vision & Mission!</p><br>
			<p class="text-xs md:text-sm lg:text-base">Advantis Quartz (Advance Surfaces) is a high-end flagship brand owned by two significant Natural Stones enterprises, The Mumal Marble Group and The Arihant Group, two of the world’s most well-known natural stone businesses.<br><br>

			Lokesh Modi, the accounts head at Advantis Quartz reached out to Sanskar Technolabs with their challenges when it comes to managing manufacturing, inventory, exports, etc, looking for a solution to have one universal platform in place to simplify their business processes and optimize operations.
			</p></div>
			
	</div>
</div>
</section>

	<!-- Our work -->
	
<section
class="grid justify-items-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem] gap md:text-center sm:text-left "
>
<div class="text-left sm:text-center md:text-center lg:text-center">
	<h2
		class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-bold"
	>
	Our Work!
	</h2>
	<p
		class="text-[#31393C] items-center mx-0 md:mx-5 lg:mx-20 xl:mx-56 text-xs md:text-sm lg:text-base mt-5 "
	>
	Lokesh Modi, the Accounts Department Head reached out to the team at Sanskar Technolab through their website. We have connected with their team management, and employees and even visited the site to understand their business requirements to offer solutions accordingly.  
	</p>
</div>
<div>
	<Image loading="eager" src={our_work_vector1} alt="our_work_vector1" class="mt-10 lg:mt-16"/>
</div>

<div class="items-center mx-0 md:mx-5 lg:mx-20 xl:mx-56">
	<div
		class="text-[#31393C] text-xs md:text-sm lg:text-base mt-10 lg:mt-16 "
	>
	Our team has prepared a detailed sheet with every task and timeline for end-to-end ERPNext module implementation such as accounting, purchase, inventory, manufacturing, sales, and HR and payroll.						
	</div>
	
</div>
</section>

<!-- Using the Numbers Magic:
Here’s what our client has achieved! -->
<section class="section-bg-right1 ">
<section class=" py-[2rem] md:py-[2rem] lg:py-[4rem] mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
<div class="container max-w-[1300px] ">
	<div class=" mt-3 md:mt-5 lg:mt-0 items-center">
		<h2 class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold flex justify-center mx-auto">Using the Numbers Magic:<br class="hidden md:block lg:block"/>Here’s what our client has achieved!</h2>
		<div class="container grid md:grid-cols-2 lg:grid-cols-4 gap-7 mt-5 lg:mt-14 md:mt-10 mx-auto">
			<div class="container number_megic_shadow p-5 mx-auto ">
				<div class="flex justify-end">
					<Image
						loading="eager"
						src={AQ_no_megic_meter}
						alt="AQ_no_megic_meter"
						class=""
					/>
				</div>
				<p class="text-[#31393C] text-[4rem] leading-[4.75rem] font-bold">21%</p>
				<p class="text-[#31393C] ">Increase in employee efficiency with one universal solution to manage business workflows.</p>
			</div>

			<div class="container number_megic_shadow p-5 ">
				<div class="flex justify-end">
					<Image
						loading="eager"
						src={AQ_no_megic_coin}
						alt="AQ_no_megic_coin"
						class=""
					/>
				</div>
				<p class="text-[#31393C] text-[4rem] leading-[4.75rem] font-bold">15%</p>
				<p class="text-[#31393C] ">Over 15% cost savings with better process and module management.</p>
			</div>

			<div class="container number_megic_shadow p-5">
				<div class="flex justify-end">
					<Image
						loading="eager"
						src={AQ_no_megic_megnet}
						alt="AQ_no_megic_megnet"
						class=""
					/>
				</div>
				<p class="text-[#31393C] text-[4rem] leading-[4.75rem] font-bold ">78%</p>
				<p class="text-[#31393C] ">Increase in employee retention due to automated processes.</p>
			</div>

			<div class="container number_megic_shadow p-5 ">
				<div class="flex justify-end ">
					<Image
						loading="eager"
						src={AQ_no_megic_thumb}
						alt="AQ_no_megic_thumb"
						class=""
					/>
				</div>
				<p class="text-[#31393C] text-[4rem] leading-[4.75rem] font-bold ">54%</p>
				<p class="text-[#31393C] ">Boost in Customer Satisfaction due to better quality assurance and structured processes.</p>
			</div>
		</div>
	</div>
</div>
</section>
</section>

	
	<!-- features  -->

<section class=" py-[2rem] md:py-[2rem] lg:py-[4rem] mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
<div class="container max-w-[1300px] mx-auto">
	<div class=" mt-3 md:mt-5 lg:mt-0 items-center">
		<h2 class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold flex justify-center mx-auto text-center">Some of the out-of-the-box features we have <br class="hidden md:block lg:block"/>implemented for our client!</h2>
		<div class="container grid md:grid-cols-2 lg:grid-cols-3 bg-[#FFFFFF] gap-y-20 gap-x-10 mt-24 mx-auto" >
			<div class="container feature_shadow p-5 mx-auto">
				<div class="flex justify-center mt-[-60px]">
					<Image
						loading="eager"
						src={AQ_feature1}
						alt="AQ_feature1"
						class=""
					/>
				</div>
				<p class="text-[#31393C] font-bold flex justify-center text-base lg:text-lg mt-5">Automating the bonuses</p>
				<p class="text-[#31393C]  flex justify-center text-sm md:text-sm lg:text-base mt-3">Increase in employee efficiency with one universal solution to manage business workflows.
				</p>
			</div>

			<div class="container feature_shadow p-5 mx-auto">
				<div class="flex justify-center mt-[-60px]">
					<Image
						loading="eager"
						src={AQ_feature2}
						alt="AQ_feature2"
						class=""
					/>
				</div>
				<p class="text-[#31393C]  font-bold flex justify-center text-base lg:text-lg mt-5">Gratuity calculations made easy</p>
				<p class="text-[#31393C]  flex justify-center text-sm md:text-sm lg:text-base mt-3">ERPNext ensures automated and accurate gratuity calculations.</p>
			</div>

			<div class="container feature_shadow p-5 mx-auto">
				<div class="flex justify-center mt-[-60px]">
					<Image
						loading="eager"
						src={AQ_feature3}
						alt="AQ_feature3"
						class=""
					/>
				</div>
				<p class="text-[#31393C] font-bold flex justify-center text-base lg:text-lg mt-5">Conversations at the core</p>
				<p class="text-[#31393C] flex justify-center text-sm md:text-sm lg:text-base mt-3">Precise unit conversion management and smooth transitions between units, leading to better inventory management and sales accuracy.</p>
			</div>

			<div class="container feature_shadow p-5 mx-auto">
				<div class="flex justify-center mt-[-60px]">
					<Image
						loading="eager"
						src={AQ_feature4}
						alt="AQ_feature4"
						class=""
					/>
				</div>
				<p class="text-[#31393C] flex justify-center text-base lg:text-lg font-bold mt-5">Automated Re-ordering</p>
				<p class="text-[#31393C] flex justify-center text-sm md:text-sm lg:text-base mt-3">Optimized inventory levels with automated re-order functionalities.</p>
			</div>

			<div class="container feature_shadow p-5 mx-auto">
				<div class="flex justify-center mt-[-60px]">
					<Image
						loading="eager"
						src={AQ_feature5}
						alt="AQ_feature5"
						class=""
					/>
				</div>
				<p class="text-[#31393C] flex justify-center text-base lg:text-lg font-bold mt-5">Serial-number-wise tracks</p>
				<p class="text-[#31393C] flex justify-center text-sm md:text-sm lg:text-base mt-3">Serial-number-wise inventory management for precise control and enhanced visibility over every single item in the inventory.</p>
			</div>
			
			<div class="container feature_shadow p-5 mx-auto">
				<div class="flex justify-center mt-[-60px]">
					<Image
						loading="eager"
						src={AQ_feature7}
						alt="AQ_feature7"
						class=""
					/>
				</div>
				<p class="text-[#31393C] flex justify-center text-base lg:text-lg font-bold mt-5">Supplier Grading Scorecard</p>
				<p class="text-[#31393C] flex justify-center text-sm md:text-sm lg:text-base mt-3">Developed customized supplier scorecard for grading based on key parameters such as material quality, delivery time, user ratings, and payment terms considered for comprehensive supplier assessment.</p>
			</div>

		</div>
	</div>
</div>
</section>

		
	
<!-- Range of Modules slider start -->
<section class="section-bg-left1 py-[2rem] md:py-[2rem] lg:py-[4rem]">
<section class=" mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0  ">

	<div class="md:text-center sm:text-left">
		<h2 class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-semibold mb-2 md:mb-3 lg:mb-4 text-center">
		The Range of Modules we have implemented for<br class="hidden md:block lg:block">
		our client!
		</h2>
	<!-- </div> -->

	<div
		id="carouselExampleIndicators"
		class="relative"
		data-te-carousel-init
		data-te-carousel-slide
		data-te-ride="carousel"
		>
		<!--Carousel indicators-->
		<div
			class="absolute -bottom-[3.5rem] md:-bottom-[4rem] lg:-bottom-[4rem] left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0 gap-4"
			data-te-carousel-indicators
		>
			<button
				type="button"
				data-te-target="#carouselExampleIndicators"
				data-te-slide-to="0"
				data-te-carousel-active
				class="mx-[3px] box-content h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer  border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
				aria-current="true"
				aria-label="Slide 1"></button>
			<button
				type="button"
				data-te-target="#carouselExampleIndicators"
				data-te-slide-to="1"
				class="mx-[3px] box-content h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer  border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
				aria-label="Slide 2"></button>
			<button
				type="button"
				data-te-target="#carouselExampleIndicators"
				data-te-slide-to="2"
				class="mx-[3px] box-content  h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer  border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
				aria-label="Slide 3"></button>
			<button
				type="button"
				data-te-target="#carouselExampleIndicators"
				data-te-slide-to="3"
				class="mx-[3px] box-content  h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
				aria-label="Slide 4"></button>
			<button
				type="button"
				data-te-target="#carouselExampleIndicators"
				data-te-slide-to="4"
				class="mx-[3px] box-content  h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
				aria-label="Slide 5"></button>
			<button
				type="button"
				data-te-target="#carouselExampleIndicators"
				data-te-slide-to="5"
				class="mx-[3px] box-content  h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
				aria-label="Slide 6"></button>
			<button
				type="button"
				data-te-target="#carouselExampleIndicators"
				data-te-slide-to="6"
				class="mx-[3px] box-content  h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
				aria-label="Slide 7"></button>
			<button
				type="button"
				data-te-target="#carouselExampleIndicators"
				data-te-slide-to="7"
				class="mx-[3px] box-content  h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
				aria-label="Slide 8"></button>
		</div>

		<!--Carousel items-->
		<div
			class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
		>
			<!--First item-->
			<div
				class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
				data-te-carousel-item
				data-te-carousel-active
			>
			<div class=" sm:min-h-[31rem] md:min-h-[45rem] lg:min-h-[27rem] block flex flex-wrap mt-5 gap-5">
				<Image loading="eager"  class="sm:w-full md:w-full lg:w-7/12" src={slider_AQ_accounting} alt="slider image 1" />
					
				<div class="sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left">
					<div class=" font-semibold text-base md:text-lg lg:text-xl mt-3 md:mt-10 mb-2 md:mb-3 lg:mb-1">Account Module</div>
					<p class="text-xs md:text-sm lg:text-base">In the Account Module, Advancis Quartz relies on ERPNext for effective payment
						and bill tracking, management of payables and receivables, and monitoring
						overdue times. ERPNext&#39;s robust features contribute to streamlined financial
						processes, enhancing overall business operations.</p>
					<ul class="text-xs md:text-sm lg:text-base list-disc ml-7 mt-5">
						<li>Payment and bill tracking</li>
						<li>Management of payables and receivables </li>
						<li>Monitoring of overdue times</li>
						<li>Multi-currency billing system for seamless management with export
							countries.</li>
						
					</ul>
				</div>
			</div>
			</div>
			<!--Second item-->
			<div
				class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
				data-te-carousel-item
			>
			<div class=" sm:min-h-[31rem] md:min-h-[45rem] lg:min-h-[27rem] block flex flex-wrap mt-5 gap-5">
				<Image loading="eager"  class="sm:w-full md:w-full lg:w-7/12" src={slider_AQ_buying} alt="slider image 2" />
					
				<div class="sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left">
					<div class=" font-semibold text-base md:text-lg lg:text-xl mt-3 md:mt-10 mb-2 md:mb-3 lg:mb-1">Buying Module</div>
					<p class="text-xs md:text-sm lg:text-base">Sanskar Technolabs has successfully implemented the ERPNext Buying Module,
						to optimize our client’s entire procurement process. The system facilitates the
						seamless creation of material requests, obtaining quotations from diverse
						suppliers, and tracking the entire lifecycle of orders and received materials.</p>
					<ul class="text-xs md:text-sm lg:text-base list-disc ml-7 mt-5">
						<li>Material request and quotation tracking from multiple suppliers</li>
						<li>Compare prices and quality from various suppliers, ensuring informed
							decision-making</li>
						<li>Purchase order and material received tracking</li>
						<li>Real-time tracking of raw material gate in &amp; out</li>
						<li>Quality inspection and sampling tracking</li>
						<li>Payment status monitoring</li>
						<li>Customized dashboard for comprehensive monitoring</li>
					</ul>
				</div>
			</div>
			</div>
			<!--Third item-->
			<div
				class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
				data-te-carousel-item
			>
			<div class=" sm:min-h-[31rem] md:min-h-[45rem] lg:min-h-[27rem] block flex flex-wrap mt-5 gap-5">
				<Image loading="eager"  class="sm:w-full md:w-full lg:w-7/12" src={slider_AQ_Hr_payoff} alt="slider image 3" />
					
				<div class="sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left">
					<div class=" font-semibold text-base md:text-lg lg:text-xl mt-3 md:mt-10 mb-2 md:mb-3 lg:mb-1">HR &amp; Payroll Module</div>
					<p class="text-xs md:text-sm lg:text-base">Sanskar Technolabs implemented ERPNext for comprehensive HR and payroll
						management of our client, overseeing 70 employees. The system handles
						outdoor duty tracking, leave management, salary, payroll, performance
						management, increments, employee data management, document submission
						reminders, training needs identification, recruitment flow, job postings, help ticket
						management, employee grievances, gate pass issuance, visitor management,
						and status tracking.</p>
					<ul class="text-xs md:text-sm lg:text-base list-disc ml-7 mt-5">
						<li>Employee management with diverse functionalities</li>
						<li>Comprehensive HR and payroll features</li>
						<li>Streamlined processes for various HR-related tasks</li>
						
					</ul>
				</div>
			</div>
			</div>
			<!-- Fourth item -->
			<div
				class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
				data-te-carousel-item
			>
			<div class=" sm:min-h-[31rem] md:min-h-[45rem] lg:min-h-[27rem] block flex flex-wrap mt-5 gap-5">
				<Image loading="eager"  class="sm:w-full md:w-full lg:w-7/12" src={slider_AQ_inventory} alt="slider image 4" />
					
				<div class="sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left">
					<div class=" font-semibold text-base md:text-lg lg:text-xl mt-3 md:mt-10 mb-2 md:mb-3 lg:mb-1">Inventory Module</div>
					<p class="text-xs md:text-sm lg:text-base">The ERPNext Inventory Module helps our client streamline the meticulous
						management of raw material, spare parts, and finished goods inventory. With the
						system accommodating different units of measurement for inventory and selling,
						ERPNext ensures accurate and effective tracking and control.</p>
					<ul class="text-xs md:text-sm lg:text-base list-disc ml-7 mt-5">
						<li>Raw material, spare parts, and finished goods inventory management</li>
						<li>Effective management of different units of measurement for inventory and
							selling</li>
					
					</ul>
				</div>
			</div>

			</div>
			<!-- Fifth item -->
			<div
				class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
				data-te-carousel-item
			>
			<div class=" sm:min-h-[31rem] md:min-h-[45rem] lg:min-h-[27rem] block flex flex-wrap mt-5 gap-5">
				<Image loading="eager"  class="sm:w-full md:w-full lg:w-7/12" src={slider_AQ_manufacturing} alt="slider image 5" />
					
				<div class="sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left">
					<div class=" font-semibold text-base md:text-lg lg:text-xl mt-3 md:mt-10 mb-2 md:mb-3 lg:mb-1">Manufacturing Module</div>
					<p class="text-xs md:text-sm lg:text-base">Sanskar Technolabs has even implemented the manufacturing module as well to
						help our client better align production with sales orders and different product
						qualities. The end-to-end ERPNext system ensures optimal inventory
						management by tracking raw materials and maintaining inventory based on
						quality. With ERPNext, we have automated the process of checking slab
						availability and manufacturing the remaining quantity as per client requirements.</p>
					<ul class="text-xs md:text-sm lg:text-base list-disc ml-7 mt-5">
						<li>Manufacturing based on sales orders and quality specifications</li>
						<li>Efficient inventory management and raw material tracking </li>
						<li>Automated tracking of raw material requirements</li>
						<li>Streamlined manufacturing processes</li>
					</ul>
				</div>
			</div>
			</div>

			<!-- sixth item -->
			<div
				class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
				data-te-carousel-item
			>
			<div class=" sm:min-h-[31rem] md:min-h-[45rem] lg:min-h-[27rem] block flex flex-wrap mt-5 gap-5">
				<Image loading="eager"  class="sm:w-full md:w-full lg:w-7/12" src={slider_AQ_sales} alt="slider image 6" />
					
				<div class="sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left">
					<div class=" font-semibold text-base md:text-lg lg:text-xl mt-3 md:mt-10 mb-2 md:mb-3 lg:mb-1">Selling Module</div>
					<p class="text-xs md:text-sm lg:text-base">The selling module includes tracking sales orders, managing manufactured
						products based on grading requirements, and ensuring comprehensive gate pass
						management with weight tracking for meticulous control over the products and
						sales transactions.</p>
					<ul class="text-xs md:text-sm lg:text-base list-disc ml-7 mt-5">
						<li>Sales tracking and order fulfillment</li>
						<li>Grading of manufactured products</li>
						<li>Gate pass management with weight tracking</li>
						<li>Quotation for different countries in their specific currencies and moving
							forward accordingly.</li>
					</ul>
				</div>
			</div>
			</div>

			<!-- seven item -->
			<div
				class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
				data-te-carousel-item
			>
			<div class=" sm:min-h-[31rem] md:min-h-[45rem] lg:min-h-[27rem] block flex flex-wrap mt-5 gap-5">
				<Image loading="eager"  class="sm:w-full md:w-full lg:w-7/12" src={slider_AQ_quality_inspection} alt="slider image 7" />
					
				<div class="sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left">
					<div class=" font-semibold text-base md:text-lg lg:text-xl mt-3 md:mt-10 mb-2 md:mb-3 lg:mb-1">Quality Inspection Module</div>
					<p class="text-xs md:text-sm lg:text-base">The ERPNext Quality Inspection Module for Advantis Quartz includes a two-
						phase QA process, incorporating real-time tracking and customizable QC
						templates. It ensures that products adhere to stringent quality standards, with
						parameters tailored to the specific requirements of the customer.</p>
					<ul class="text-xs md:text-sm lg:text-base list-disc ml-7 mt-5">
						<li>Two-phase QA process with real-time tracking</li>
						<li>Customizable QC templates for parameter checking</li>
						<li>Gate pass management with weight tracking</li>
						<li>Assurance of stringent quality standards</li>
					</ul>
				</div>
			</div>
			</div>

			<!-- eight item -->
			<div
				class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
				data-te-carousel-item
			>
			<div class=" sm:min-h-[31rem] md:min-h-[45rem] lg:min-h-[27rem] block flex flex-wrap mt-5 gap-5">
				<Image loading="eager"  class="sm:w-full md:w-full lg:w-7/12" src={slider_purchase_fms} alt="slider image 8" />
					
				<div class="sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left">
					<div class=" font-semibold text-base md:text-lg lg:text-xl mt-3 md:mt-10 mb-2 md:mb-3 lg:mb-1">Purchase FMS (Financial Management System)</div>
					<p class="text-xs md:text-sm lg:text-base">Sanskar Technolabs utilizes ERPNext to generate a comprehensive Purchase
						FMS report, offering a detailed overview of financial transactions associated with
						the procurement process.</p>
					<ul class="text-xs md:text-sm lg:text-base list-disc ml-7 mt-5">
						<li>This report includes material requests, pricing, purchase orders, material
							received, approval notes, and other financial aspects, providing a holistic
							financial perspective.</li>
						<li>Financial overview of material requests, pricing, purchase orders, and
							approvals</li>
						<li>Detailed insights into financial transactions related to the procurement
							process.</li>
					</ul>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
</section>
</section>
<!-- slider end -->
	

<!-- BEFORE VS AFTER -->
<section class=" mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]">
	<div class="container text-center  mt-5 md:mt-10 lg:mt-0">
		<h2 class="text-[#3E96F4] font-semibold text-2xl md:text-3xl lg:text-4xl">
			Before vs After: Courtesy Sanskar Technolab’s <br class="hidden md:block lg:block">
			ERPNext  Implementation!	
		</h2>
	</div>
<div class="hidden md:block bg-[#DFEFFF] rounded-xl max-w-[1300px] mx-auto my-auto px-5 py-5 lg:py-10 mt-10">
	
	<Image
	loading="eager"
	src={before_after_head}
	alt="before_after_head"
	class="m-auto"
	/>
	<div class="bg-white rounded-xl grid grid-cols-3 text-xs md:text-sm lg:text-base mt-5 ">
		<p class=" mx-auto text-center basis-1/3 my-auto p-4">Procurement and inventory management were heavily reliant on manual processes, leading to inefficiencies and time delays.</p>
		<div class="flex flex-col my-auto  p-2 md:p-3 lg:p-4 before_after_shadow">
		<Image
		loading="eager"
		src={ba_Procurement_Inventory}
		alt="before_after1"
		class="items-center mx-auto"
			/>
			<p class="mt-2 font-bold m-auto">Procurement & <br class="hidden md:block lg:hidden">Inventory</p>
		</div>
		<p class="m-auto text-center basis-1/3 p-4">After ERPNext implementation, procurement processes and real-time inventory tracking are automated, leading to reduced manual efforts and time consumption.</p>

	</div>
	<div class="bg-white rounded-xl grid grid-cols-3  text-xs md:text-sm lg:text-base mt-5 ">
		<p class=" m-auto text-center basis-1/3 p-4">Lack of real-time data visibility poses a problem for decision-making, making it challenging to respond swiftly to market demands.</p>
		<div class="flex flex-col my-auto  p-2 md:p-3 lg:p-4 before_after_shadow">
		<Image
		loading="eager"
		src={ba_Visibility_of_Operations}
		alt="before_after2"
		class=" items-center mx-auto"
			/>
		<p class="m-auto mt-2 font-bold"> Visibility of <br class="hidden md:block lg:hidden">Operations</p>
		</div>
		<p class="m-auto text-center basis-1/3 p-4">ERPNext provided comprehensive real-time data visibility through intuitive dashboards and graphical representation, empowering quick and informed decision-making for improved agility.</p>
		
	</div>
	<div class="bg-white rounded-xl grid grid-cols-3 text-xs md:text-sm lg:text-base mt-5 ">
		<p class=" m-auto text-center basis-1/3 p-4">Supplier performance evaluation lacked a structured approach, resulting in inconsistent material quality and delivery delays.</p>
		<div class="flex flex-col before_after_shadow my-auto  p-2 md:p-3 lg:p-4">
		<Image
		loading="eager"
		src={ba_Better_supplier_management}
		alt="before_after3"
		class="items-center mx-auto"
			/>
		<p class="lg:mt-2 font-bold m-auto ">Better supplier <br class="hidden md:block lg:hidden">management</p>
		</div>
		<p class="m-auto text-center basis-1/3 p-4">The introduction of ERPNext's supplier scorecard enhanced the assessment of material quality, delivery times, and payment terms, ensuring a consistent and reliable supply chain.</p>

	</div>
	<div class="bg-white rounded-xl grid grid-cols-3 text-xs md:text-sm lg:text-base mt-5 ">
		<p class=" m-auto text-center basis-1/3 p-4">Financial tracking relied on multiple systems, leading to complexity and difficulty in monitoring payables and receivables.</p>
		<div class="flex flex-col before_after_shadow my-auto  p-2 md:p-3 lg:p-4">
		<Image
		loading="eager"
		src={ba_Finance_Management}
		alt="before_after4"
		class="items-center mx-auto"
			/>
			<p class="lg:mt-2 font-bold m-auto">Finance <br class="hidden md:block lg:hidden">Management</p>
		</div>
		<p class="basis-1/3 text-center m-auto p-4">Centralized financial tracking in ERPNext streamlined the monitoring of payables and receivables that too in different currencies as per requirement, simplifying overall financial management.</p>

	</div>
	
</div>
<!-- for small screen -->
<div class="block md:hidden table-fixed w-full text-left md:mt-14 lg:mt-20 text-[#31393C] astro-DEDTLRN5 px-5">
	<div class="mt-5">
		<div class="text-base md:text-lg lg:text-xl font-semibold p-3 astro-DEDTLRN5">Procurement & Inventory</div>
		<div class="text-base md:text-lg lg:text-xl bg-[#F6FBFF] p-3 astro-DEDTLRN5">
		<p class="text-sm font-semibold mb-1 astro-DEDTLRN5">Before</p>
		<p class="text-xs md:text-sm lg:text-base !leading-5 astro-DEDTLRN5">Procurement and inventory management were heavily reliant on manual processes, leading to inefficiencies and time delays.</p>
		</div>
		<div class="text-base md:text-lg lg:text-xl bg-[#DFEFFF] p-3 border-b border-[#ADBDCD] astro-DEDTLRN5">
		<p class="text-sm font-semibold mb-1 astro-DEDTLRN5">After</p>
		<p class="text-xs md:text-sm lg:text-base !leading-5 astro-DEDTLRN5">After ERPNext implementation, procurement processes and real-time inventory tracking are automated, leading to reduced manual efforts and time consumption.</p>
		</div>
	</div>

	<div class="mt-5 astro-DEDTLRN5">
		<div class="text-base md:text-lg lg:text-xl font-semibold p-3 astro-DEDTLRN5">Better supplier management</div>
		<div class="text-base md:text-lg lg:text-xl bg-[#F6FBFF] p-3 astro-DEDTLRN5">
		<p class="text-sm font-semibold mb-1 astro-DEDTLRN5">Before</p>
		<p class="text-xs md:text-sm lg:text-base !leading-5 astro-DEDTLRN5">Supplier performance evaluation lacked a structured approach, resulting in inconsistent material quality and delivery delays.</p>
		</div>
		<div class="text-base md:text-lg lg:text-xl bg-[#DFEFFF] p-3 border-b border-[#ADBDCD] astro-DEDTLRN5">
		<p class="text-sm font-semibold mb-1 astro-DEDTLRN5">After</p>
		<p class="text-xs md:text-sm lg:text-base !leading-5 astro-DEDTLRN5">The introduction of ERPNext's supplier scorecard enhanced the assessment of material quality, delivery times, and payment terms, ensuring a consistent and reliable supply chain.</p>
		</div>
	</div>

	<div class="mt-5 astro-DEDTLRN5">
		<div class="text-base md:text-lg lg:text-xl font-semibold p-3 astro-DEDTLRN5">Finance Management</div>
		<div class="text-base md:text-lg lg:text-xl bg-[#F6FBFF] p-3 astro-DEDTLRN5">
		<p class="text-sm font-semibold mb-1 astro-DEDTLRN5">Before</p>
		<p class="text-xs md:text-sm lg:text-base !leading-5 astro-DEDTLRN5">Financial tracking relied on multiple systems, leading to complexity and difficulty in monitoring payables and receivables.&nbsp;</p>
		</div>
		<div class="text-base md:text-lg lg:text-xl bg-[#DFEFFF] p-3 border-b border-[#ADBDCD] astro-DEDTLRN5">
		<p class="text-sm font-semibold mb-1 astro-DEDTLRN5">After</p>
		<p class="text-xs md:text-sm lg:text-base !leading-5 astro-DEDTLRN5">Centralized financial tracking in ERPNext streamlined the monitoring of payables and receivables that too in different currencies as per requirement, simplifying overall financial management.</p>
		</div>
	</div>
	</div>
</section>

	<!-- Client Loved Throughout the Project -->
<section class="py-[2rem] md:py-[2rem] lg:py-[4rem]  mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
	<div class="max-w-[1300px] mx-auto ">
		<h2 class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl text-center font-semibold mb-10 lg:mb-20">What Our Client Loved Throughout the Project?</h2>
	</div>

	<div class="max-w-[1300px] mx-auto grid md:grid-cols-2 lg:grid-cols-2 mt-10 gap-8 px-5 md:px-10 lg:px-0">
		<div class="">
			<Image
				loading="eager"
				src={client_loved_group}
				alt="client_loved_group"
				class=""
			/>
			<p class=" font-bold mt-5 text-base md:text-lg">Customizations</p>
			<p class="mt-5 text-sm md:text-sm lg:text-base" >Our client has chosen us as their ERPNext implementation partner due to our commitment to providing tailored solutions. Understanding that every business has unique requirements, we specialize in customizations that align seamlessly with the specific needs of their business.</p>
		</div>

		<div class="">
			<Image
				loading="eager"
				src={client_loved_union}
				alt="client_loved_union"
				class=""
			/>
			<p class=" font-bold mt-5 text-base md:text-lg">The transition from Excel and Other Systems</p>
			<p class=" mt-5 text-sm md:text-sm lg:text-base">Advantis Quartz was seeking a comprehensive solution to replace their existing dependence on Excel and another purchase management system. Sanskar Technolabs presented ERPNext as the universal answer to their diverse needs. Our expertise in managing transitions from legacy systems to unified convinced our client to choose us as their ERPNext implementation partner.</p>
		</div>

		<div class="lg:mt-10">
			<Image
				loading="eager"
				src={client_loved_vector}
				alt="client_loved_vector"
				class=""
			/>
			<p class="font-bold mt-5 text-base md:text-lg">Site Visits</p>
			<p class="mt-5 text-sm md:text-sm lg:text-base">Sanskar Technolab went the extra mile by conducting on-site visits to our client's businesses, gaining an in-depth understanding of their unique operations and project requirements. Seeing things in action helps us understand what they need. This personalized approach was a key factor in their decision-making process.</p>
		</div>
		<div class="lg:mt-10">
			<Image
				loading="eager"
				src={client_loved_group2}
				alt="client_loved_group2"
				class=""
			/>
			<p class="font-bold mt-5 text-base md:text-lg">ERPNext Bronze Partner</p>
			<p class="mt-5 text-sm md:text-sm lg:text-base">The fact that Sanskar Technolab is a leading ERPNext Partner was a key deciding factor for our client. This official partnership not only signifies our recognized expertise in ERP implementation but also adds a layer of trust and assurance to the entire process. Being an official partner assured our client that they are collaborating with a team of professionals with the backing and support of the ERPNext platform.</p>
		</div>
	</div>
</section>

	 <!-- Challenges & Our Solutions-->
<section class="section-bg-left py-[2rem] md:py-[2rem] lg:py-[4rem]">
<div
	class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 "
>
	<!-- <div class="grid justify-items-center gap-20"> -->
	<div class="md:text-center sm:text-left">
		<h2
			class="text-2xl md:text-3xl lg:text-4xl !leading-[2rem] md:!leading-[2.25rem] lg:!leading-[2.75rem] text-[#3E96F4] font-semibold"
		>
		The challenges of Advantis Quartz and Solutions of<br class="hidden md:block lg:block">Sanskar Technolabs!
		</h2>
	</div>
	<!-- </div> -->

	<table
		class="hidden md:inline-table table-fixed w-full text-left mt-10 md:mt-14 lg:mt-20 text-[#31393C]"
	>
		<thead>
			<tr class="border-b border-[#ADBDCD]">
				<th></th>
				<th
					class="text-base md:text-lg lg:text-xl font-semibold bg-[#F6FBFF] p-5 rounded-tl-[10px]"
					>Challenge</th
				>
				<th
					class="text-base md:text-lg lg:text-xl font-semibold bg-[#DFEFFF] p-5 rounded-tr-[10px]"
					>Solution</th
				>
			</tr>
		</thead>
		<tbody>
			<tr class="border-b border-[#ADBDCD]">
				<td>
					<div class="lg:flex-row md:flex-col flex xl:gap-3">
						<Image
							loading="eager"
							src={AQ_challenges1}
							alt="AQ_challenges1"
							
							class="lg:mx-0 mx-0 md:mx-auto"
						/>
						<p
							class="text-base md:text-lg lg:text-xl font-semibold align-top p-5 lg:text-left text-center"
						>
						Unoptimized Production <br class="hidden md:block lg:block"/> Planning
						</p>
					</div>
				</td>
				<td
					class="text-xs md:text-sm lg:text-base bg-[#F6FBFF] p-5 pb-14"
					>The client faced inefficiencies in production planning, leading to resource wastage and operational bottlenecks.</td
				>
				<td
					class="text-xs md:text-sm lg:text-base bg-[#DFEFFF] p-5"
					>Sanskar Technolabs initiated a detailed assessment of the client's production processes. Understanding the intricacies, our team customized the ERPNext module to provide a tailored solution for better planning and resource tracking. The result was a streamlined production process with optimized resource utilization, improving overall efficiency.</td
				>
			</tr>
			<tr class="border-b border-[#ADBDCD]">
				<td>
					<div class="lg:flex-row md:flex-col flex xl:gap-3">
						<Image
							loading="eager"
							src={AQ_challenges2}
							alt="AQ_challenges2"
						
							class="lg:mx-0 mx-0 md:mx-auto"
						/>
						<p
							class="text-base md:text-lg lg:text-xl font-semibold align-top p-5 text-center"
						>
						Problems with Managing <br class="hidden md:block lg:block"/> Cash Flow
						</p>
					</div></td
				>
				<td
					class="text-xs md:text-sm lg:text-base bg-[#F6FBFF] p-5 pt-0"
					>The client lacked a robust cash flow reporting system for effective financial management.</td
				>
				<td
					class="text-xs md:text-sm lg:text-base bg-[#DFEFFF] p-5"
					>Recognizing the need for detailed financial insights, Sanskar Technolabs collaborated closely with the client's finance team. We implemented a highly functional cash flow reporting system within ERPNext, providing the client with comprehensive financial data for better management decisions and a clearer financial overview.</td
				>
			</tr>
			<tr class="border-b border-[#ADBDCD]">
				<td>
					<div class="lg:flex-row md:flex-col flex xl:gap-3">
						<Image
							loading="eager"
							src={AQ_challenges3}
							alt="AQ_challenges3"
						
							class="lg:mx-0 mx-0 md:mx-auto"
						/>
						<p
							class="text-base md:text-lg lg:text-xl font-semibold align-top p-5 lg:text-left text-center"
						>
						Limited Resource Tracking
						</p>
					</div></td
				>
				<td
					class="text-xs md:text-sm lg:text-base bg-[#F6FBFF] p-5"
					>The client faced challenges in efficiently tracking and managing the inventory, order, sales, and purchase.</td
				>
				<td
					class="text-xs md:text-sm lg:text-base bg-[#DFEFFF] p-5 pb-10"
					>Sanskar Technolabs worked closely with the client's operations and resource management teams. Customized resource tracking features were implemented within ERPNext with material weightage, gate in and out for both purchase and sales along with end-to-end Quality assurance for optimal resource utilization and improved overall management.</td
				>
			</tr>
			<tr class="border-b border-[#ADBDCD]">
				<td>
					<div class="lg:flex-row md:flex-col flex xl:gap-3">
						<Image
							loading="eager"
							src={AQ_challenges4}
							alt="AQ_challenges4"
						
							class="lg:mx-0 mx-0 md:mx-auto"
						/>
						<p
							class="text-base md:text-lg lg:text-xl font-semibold align-top p-5 text-center"
						>
						Quality Grading <br class="hidden md:block lg:block"/>Disparities
						</p>
					</div></td
				>
				<td
					class="text-xs md:text-sm lg:text-base bg-[#F6FBFF] p-5 pt-6"
					>Varying quality grading for manufactured products makes the process of managing inventory inefficient and full of errors.</td
				>
				<td
					class="text-xs md:text-sm lg:text-base bg-[#DFEFFF] p-5"
					>Sanskar Technolabs customized the module for managing different grading products in a structured and seamless manner. This ensured standardized quality across different manufacturing specifications, enhancing customer satisfaction and brand reputation.</td
				>
			</tr>

			<tr>
				<td>
					<div class="lg:flex-row md:flex-col flex xl:gap-3">
						<Image
							loading="eager"
							src={AQ_challenges5}
							alt="AQ_challenges5"
					
							class="lg:mx-0 mx-0 md:mx-auto"
						/>
						<p
							class="text-base md:text-lg lg:text-xl font-semibold align-top p-5 text-center"
						>
						Unit Measurement<br class="hidden md:block lg:block"/> Complexities
						</p>
					</div></td
				>
				<td
					class="text-xs md:text-sm lg:text-base bg-[#F6FBFF] p-5 pt-6"
					>Challenges arose due to different units of measurement in the purchase and selling processes.</td
				>
				<td
					class="text-xs md:text-sm lg:text-base bg-[#DFEFFF] p-5"
					>Sanskar Technolabs addressed this challenge by implementing a unified unit conversion feature in ERPNext. This streamlined the purchase and selling processes, ensuring consistency and accuracy in unit measurements, and simplifying overall inventory and sales management.</td
				>
			</tr>
			<tr>
				<td>
					<div class="lg:flex-row md:flex-col flex xl:gap-3">
						<Image
							loading="eager"
							src={AQ_challenges6}
							alt="AQ_challenges6"
					
							class="lg:mx-0 mx-0 md:mx-auto"
						/>
						<p
							class="text-base md:text-lg lg:text-xl font-semibold align-top p-5 text-center"
						>
						Managing quotations & <br class="hidden md:block lg:block"/>currencies of different<br class="hidden md:block lg:block"/> countries
						</p>
					</div></td
				>
				<td
					class="text-xs md:text-sm lg:text-base bg-[#F6FBFF] p-5 pt-6"
					>Managing orders, invoices, and quotations across different countries and currencies posed a significant challenge for the client, introducing complexities and potential errors.</td
				>
				<td
					class="text-xs md:text-sm lg:text-base bg-[#DFEFFF] p-5"
					>With ERPNext’s features and our team expertise, we have implemented a simple yet effective process for managing orders, invoices, and quotations from different countries and currencies effectively. The result is a system that facilitates smooth and error-free transactions, enhancing overall operational efficiency for the client.</td
				>
			</tr>
		</tbody>
	</table>

	<!-- for small screen -->
	<div
		class="block md:hidden table-fixed w-full text-left mt-10 md:mt-14 lg:mt-20 text-[#31393C]"
	>
		<div>
			<div class="flex mb-1">
				<Image
					loading="eager"
					src={AQ_challenges1}
					alt="AQ_challenges1"
					width={45}
					height={45}
				/>
				<p
					class="text-base md:text-lg lg:text-xl font-semibold p-3"
				>
				Unoptimized Production
				Planning
				</p>
			</div>

			<div
				class="text-base md:text-lg lg:text-xl bg-[#F6FBFF] p-3"
			>
				<p class="text-sm font-semibold mb-1">Challenge</p>
				<p class="text-xs md:text-sm lg:text-base !leading-5">
					The client faced inefficiencies in production planning, leading to resource wastage and operational bottleneck
				</p>
			</div>
			<div
				class="text-base md:text-lg lg:text-xl bg-[#DFEFFF] p-3 border-b border-[#ADBDCD]"
			>
				<p class="text-sm font-semibold mb-1">Solution</p>
				<p class="text-xs md:text-sm lg:text-base !leading-5">
					Sanskar Technolabs initiated a detailed assessment of the client's production processes. Understanding the intricacies, our team customized the ERPNext module to provide a tailored solution for better planning and resource tracking. The result was a streamlined production process with optimized resource utilization, improving overall efficiency.
				</p>
			</div>
		</div>

		<div class="mt-8">
			<div class="flex mb-1">
				<Image
					loading="eager"
					src={AQ_challenges2}
					alt="AQ_challenges2"
					width={45}
					height={45}
				/>
				<p
					class="text-base md:text-lg lg:text-xl font-semibold p-3"
				>
				Problems with Managing
				Cash Flow
				</p>
			</div>
			<div
				class="text-base md:text-lg lg:text-xl bg-[#F6FBFF] p-3"
			>
				<p class="text-sm font-semibold mb-1">Challenge</p>
				<p class="text-xs md:text-sm lg:text-base !leading-5">
					The client lacked a robust cash flow reporting system for effective financial management.
				</p>
			</div>
			<div
				class="text-base md:text-lg lg:text-xl bg-[#DFEFFF] p-3 border-b border-[#ADBDCD]"
			>
				<p class="text-sm font-semibold mb-1">Solution</p>
				<p class="text-xs md:text-sm lg:text-base !leading-5">
					Recognizing the need for detailed financial insights, Sanskar Technolabs collaborated closely with the client's finance team. We implemented a highly functional cash flow reporting system within ERPNext, providing the client with comprehensive financial data for better management decisions and a clearer financial overview.
				</p>
			</div>
		</div>

		<div class="mt-8">
			<div class="flex mb-1">
				<Image
					loading="eager"
					src={AQ_challenges3}
					alt="AQ_challenges3"
					width={40}
					height={40}
				/>
				<p
					class="text-base md:text-lg lg:text-xl font-semibold p-3"
				>
				Limited Resource Tracking
				</p>
			</div>
			<div
				class="text-base md:text-lg lg:text-xl bg-[#F6FBFF] p-3"
			>
				<p class="text-sm font-semibold mb-1">Challenge</p>
				<p class="text-xs md:text-sm lg:text-base !leading-5">
					The client faced challenges in efficiently tracking and managing the inventory, order, sales, and purchase.
				</p>
			</div>
			<div
				class="text-base md:text-lg lg:text-xl bg-[#DFEFFF] p-3 border-b border-[#ADBDCD]"
			>
				<p class="text-sm font-semibold mb-1">Solution</p>
				<p class="text-xs md:text-sm lg:text-base !leading-5">
					Sanskar Technolabs worked closely with the client's operations and resource management teams. Customized resource tracking features were implemented within ERPNext with material weightage, gate in and out for both purchase and sales along with end-to-end Quality assurance for optimal resource utilization and improved overall management.
				</p>
			</div>
		</div>

		<div class="mt-8">
			<div class="flex mb-1">
				<Image
					loading="eager"
					src={AQ_challenges4}
					alt="AQ_challenges4"
					width={45}
					height={45}
				/>
				<p
					class="text-base md:text-lg lg:text-xl font-semibold p-3"
				>
				Quality Grading
				Disparities
				</p>
			</div>
			<div
				class="text-base md:text-lg lg:text-xl bg-[#F6FBFF] p-3"
			>
				<p class="text-sm font-semibold mb-1">Challenge</p>
				<p class="text-xs md:text-sm lg:text-base !leading-5">
					Varying quality grading for manufactured products makes the process of managing inventory inefficient and full of errors.
				</p>
			</div>
			<div
				class="text-base md:text-lg lg:text-xl bg-[#DFEFFF] p-3 border-b border-[#ADBDCD]"
			>
				<p class="text-sm font-semibold mb-1">Solution</p>
				<p class="text-xs md:text-sm lg:text-base !leading-5">
					Sanskar Technolabs customized the module for managing different grading products in a structured and seamless manner. This ensured standardized quality across different manufacturing specifications, enhancing customer satisfaction and brand reputation.
				</p>
			</div>
		</div>

		<div class="mt-8">
			<div class="flex mb-1">
				<Image
					loading="eager"
					src={AQ_challenges5}
					alt="challenges5"
					width={45}
					height={45}
				/>
				<p
					class="text-base md:text-lg lg:text-xl font-semibold p-3"
				>
					Missing CRM and POS
				</p>
			</div>
			<div
				class="text-base md:text-lg lg:text-xl bg-[#F6FBFF] p-3"
			>
				<p class="text-sm font-semibold mb-1">Challenge</p>
				<p class="text-xs md:text-sm lg:text-base !leading-5">
					The absence of Customer Relationship Management
					(CRM) and Point of Sale (POS) systems hindered
					customer management and payments. This gap in
					technology impacted the overall customer experience
					and the efficiency of payment processes.
				</p>
			</div>
			<div
				class="text-base md:text-lg lg:text-xl bg-[#DFEFFF] p-3 border-b border-[#ADBDCD]"
			>
				<p class="text-sm font-semibold mb-1">Solution</p>
				<p class="text-xs md:text-sm lg:text-base !leading-5">
					ERPNext introduced CRM and POS modules, addressing
					the lack of customer management and payment
					efficiency. It leads to a better overall customer
					experience, allowing for better communication and
					streamlined payment processes.
				</p>
			</div>
		</div>

		<div class="mt-8">
			<div class="flex mb-1">
				<Image
					loading="eager"
					src={AQ_challenges6}
					alt="challenges5"
					width={45}
					height={45}
				/>
				<p
					class="text-base md:text-lg lg:text-xl font-semibold p-3"
				>
				Managing quotations &
				currencies of different
				countries
				</p>
			</div>
			<div
				class="text-base md:text-lg lg:text-xl bg-[#F6FBFF] p-3"
			>
				<p class="text-sm font-semibold mb-1">Challenge</p>
				<p class="text-xs md:text-sm lg:text-base !leading-5">
					Managing orders, invoices, and quotations across different countries and currencies posed a significant challenge for the client, introducing complexities and potential errors.
				</p>
			</div>
			<div
				class="text-base md:text-lg lg:text-xl bg-[#DFEFFF] p-3 border-b border-[#ADBDCD]"
			>
				<p class="text-sm font-semibold mb-1">Solution</p>
				<p class="text-xs md:text-sm lg:text-base !leading-5">
					With ERPNext’s features and our team expertise, we have implemented a simple yet effective process for managing orders, invoices, and quotations from different countries and currencies effectively. The result is a system that facilitates smooth and error-free transactions, enhancing overall operational efficiency for the client.
				</p>
			</div>
		</div>
	</div>
</div>
</section>

<!-- advantis quartz card start -->
<section class=" mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 md:mb-20 lg:mb-40 py-[2rem] md:py-[2rem] lg:py-[4rem]">
	<div class="container text-center">
		<h2 class="text-[#3E96F4] font-semibold text-2xl md:text-3xl lg:text-4xl">
			Here’s what our client has to say about our ERPNext
		<br class="hidden md:block lg:block">
			Implementation Services!	
		</h2>
	</div>
	<div class=" client_card_shadow rounded-xl max-w-[734px] p-7 lg:py-10 mx-auto mt-10 md:mt-14 lg:mt-20">
	<Image
		loading="eager"
		src={advantis_logo}
		alt="advantis-quarts-logo"
		class="items-center"
		/>
	<p class=" text-base md:text-lg lg:text-xl font-bold mt-5">Advantis Quartz</p>
	<p class=" text-xs md:text-sm lg:text-base mt-5">Advantis Quartz is a high-end flagship brand, the manufacture of raw materials for quarries and its engineering. We reached out the team at Sanskar Technolab through their website. They understand our requirements and prepared a detailed sheet with every task and timeline to implement the ERPNext for our business. They helped us in implementing almost every ERPNext module such as accounting, purchase, inventory, manufacturing, sales, Hr & payroll and asset management.</p>
	<p class=" text-xs md:text-sm lg:text-base font-bold mt-5">Lokesh Modi</p>
	<p class=" text-xs md:text-sm lg:text-base">Accounts Head, Advantis Quartz</p>
</div>
</section>

<style>

.client_vision_border{
	border-radius: 20px;
	border: 1px solid #7F9EBC;
}
.client_vision_image{
	border-radius: 20px;
}
.number_megic_shadow{
    border-radius: 10px;
    border: 2px solid #fff;
    background: linear-gradient(135deg,#ecf5ff 0%,#fff 100%);
    box-shadow: 0 0 100px #3e96f41a inset, 4px 4px 4px #3e96f426;
}
.feature_shadow{
	border-radius: 10px;
	border: 2px solid #FFF;
	background: linear-gradient(135deg, #FFF7E5 0%, #FFF 100%);
	box-shadow: 4px 4px 4px 0px rgba(62, 150, 244, 0.15);
}
.client_card_shadow {
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 0 20px #00000012;
}
.client_card_height {
    height: 28rem;
    padding: 1.75rem;
}
.before_after_shadow{
	border-radius: 10px;
	/* background-image: radial-gradient( rgba(62, 150, 244, 0.20) 20%, white 80%); */
	background: radial-gradient( rgba(62, 150, 244, 0.15) 20%, #fff 90.63%);
}

.section-bg-right1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 120rem;
	background-image: radial-gradient(
                        ellipse at right,
                        rgba(62, 150, 244, 0.15),
                        rgba(255, 255, 255, 0),
                        rgba(255, 255, 255, 0)
                    );
    z-index: -1;
	}
.section-bg-left1::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100rem;
		background-image: radial-gradient(
			ellipse at left,
			rgba(62, 150, 244, 0.15),
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0)
		);
		z-index: -1;
	}
	.section-bg-center {
                    position: relative;
                }

                .section-bg-center::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 120rem;
                    background-image: radial-gradient(
                        rgba(62, 150, 244, 0.15),
                        rgba(255, 255, 255, 0),
                        rgba(255, 255, 255, 0)
                    );
                    background-origin: border-box;
                    background-clip: padding-box, border-box;
                    z-index: -1;
                    margin-top: 10rem;
                } 

	[data-te-carousel-indicators] button[data-te-carousel-active] {
  		background-color: #3E96F4; 
	}
</style>

</Layout>


