---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import crm_banner from "../../public/Images/banner_erpnext_crm.svg";
import real_estate_crm from "../../public/Images/real_estate_crm.svg";

import down_arrow from "../../public/Images/down-arrow.svg";
import up_arrow from "../../public/Images/up-arrow.svg";
import cta_mobile from "../../public/Images/cta-mobile.svg";
import right_arrow from '../../public/Images/right-arrow.svg';

import real_estate_agencies from '../../public/Images/real_estate_agencies.svg';
import property_developers from '../../public/Images/property_developers.svg';
import real_estate_brokerages from '../../public/Images/real_estate_brokerages.svg';
import property_rental_agencies from '../../public/Images/property_rental_agencies.svg';
import individual_real_estate_agents from '../../public/Images/individual_real_estate_agents.svg';
import real_estate_investors from '../../public/Images/real_estate_investors.svg';

import customization_the_Win from '../../public/Images/customization_the_win.svg';
import in_depth from '../../public/Images/In-depth.svg';
import cost_savings_and_customer_experience from '../../public/Images/cost-savings_and_customer_experience.svg';
import erpnext_development_trends from '../../public/Images/erpnext_development_trends.svg';
import user_centric from '../../public/Images/user-centric.svg';
import integration_capabilities from '../../public/Images/integration_capabilities.svg';

import enquiry_generation from '../../public/Images/enquiry_generation.svg';
import inquiry_management from '../../public/Images/inquiry_management.svg';
import pipeline_management from '../../public/Images/pipeline_management.svg';
import followup_system from '../../public/Images/followup_system.svg';
import site_visit_management from '../../public/Images/site_visit_management.svg';
import property_management from '../../public/Images/property_management.svg';
import communication_integration from '../../public/Images/communication_integration.svg';
import marketing from '../../public/Images/marketing.svg';
import right from "../../public/Images/right.svg";

---

<Layout
  title=" ERPNext development services for Retail Industry. | Sanskar Technolab"
  ,
  keyword="ERPNext software development company, erp implementation companies, Erpnext solution company, ServiceNow company"
  ,
  description="Hire ERPNext developers from Sanskar Technolab & elevate your Retail Business operations and Simplify the process."
  ,
  canonical_href="https://sanskartechnolab.com/retail"
>

<!-- Banner Section -->
  <section
    class="hidden lg:flex section-bg h-[75vh] flex items-center banner-bg"
  >
    <div
      class="flex flex-wrap items-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
    >
      <div class="w-full md:w-6/12 ">
        <h1
          class="text-[1.75rem] md:text-[3rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold"
        >
        Revolutionize Your Real-Estate Business with Sanskar Technolab's CRM.
        </h1>
        <p
          class="text[#31393C] text-sm md:text-base leading-5 md:leading-6 mt-5"
        >
        Leveraging ERPNext and our team’s creative vision and rich Industry Expertise to optimize the CRM for Real-estate businesses.
        </p>
      </div>

      <Image
        loading="eager"
        src={crm_banner}
        alt="crm-banner"
        class="w-full md:w-6/12 lg:p-10 md:p-8"
      />
    </div>
  </section>

  <section
    class="section-bg banner-height flex items-center md:flex lg:hidden banner-bg"
  >
    <div
      class="flex flex-wrap items-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
    >
      <div class="w-full lg:w-6/12">
        <div
          class="text-[1.75rem] md:text-[3rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold"
        >
        Revolutionize Your Real-Estate Business with Sanskar Technolab's CRM.
        </div>
        <p
          class="text[#31393C] text-sm md:text-base leading-5 md:leading-6 mt-3 md:mt-5"
        >
        Leveraging ERPNext and our team’s creative vision and rich Industry Expertise to optimize the CRM for Real-estate businesses.
        </p>
      </div>

      <Image
        loading="eager"
        src={crm_banner}
        alt="crm-banner"
        class="banner-image w-full"
      />
    </div>
  </section>

  <!-- Elevate Property Marketing, Streamline Sales, and Boost Productivity With Our Real-Estate CRM. -->
  <section
  class="section-bg-left_hr_payroll py-[4rem] md:py-[3.125rem] lg:py-[4rem]" >
  <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 md:px-24 ">     
              <h2
                  class="2xl:mx-48 !text-[#3E96F4] text-xl md:text-2xl lg:text-4xl text-left md:text-center lg:text-center !leading-[1.75rem] md:!leading-[2.25rem] lg:!leading-[2.75rem] font-semibold"
              >
              Elevate Property Marketing, Streamline Sales, and Boost Productivity With Our Real-Estate CRM.
        </h2>
          <div class="md:max-w-7xl md:mx-auto md:px-0 mt-5 md:mt-10">
              <div class="flex flex-wrap 2xl:mx-24">
              <Image loading="eager" 
                      class="mx-auto lg:mx-none w-9/12 md:w-8/12 lg:w-4/12"
                      src={real_estate_crm}
                      alt="real_estate CRM" width={328} height={355}
                  />
                  <div
                      class="sm:w-full md:w-full lg:w-8/12 text-[#31393C] md:pl-10 sm:pl-0 mt-5"
                  >
                  <p
                          class="text-xs md:text-sm lg:text-base mb-3 md:mb-3 lg:mb-5 2xl:mt-8  mb-3 md:mb-3 lg:mb-5"
                      >
                          Introducing the cutting-edge Real-Estate CRM product by Sanskar Technolabs, meticulously crafted on the powerful ERpNext platform. Designed with a deep understanding of the real estate industry's unique challenges, our CRM offers a comprehensive solution to streamline and elevate every facet of your real estate business. 
                          <br/><br/>
From lead management and marketing campaigns to sales pipeline optimization and territory management, this innovative CRM empowers you to transform your operations, enhance client relationships, and achieve unprecedented levels of efficiency and success. 
<br/><br/>
With Sanskar Technolabs' Real-Estate CRM, you'll embark on a journey to redefine excellence in the world of real estate.
                      </p>
                  </div>
              </div>
          </div>
</section>

<!-- Real-Time Benefits of ERPNext CRM for Real-estate businesses & individuals. -->
<section
class="section-bg-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
>
<div class="md:text-center sm:text-left">
 <h2 class=" text-left md:text-center lg:text-center font-semibold text-[#3E96F4] mb-4 xl:mx-28 2xl:mx-52 text-2xl md:text-3xl lg:text-4xl leading-[2.25rem] md:leading-[2.50rem] lg:leading-[2.75rem]">Real-Time Benefits of ERPNext CRM for Real-estate businesses & individuals.</h2>				  
</div>

<div class=" ">
  <div class="swiper-container !overflow-hidden">
    <div class="swiper-wrapper ml-0 md:ml-0">
      <div class="swiper-slide p-3">
        <div class="let-shadow w-auto md:w-64 h-64 p-5 grid justify-items-start">
        <p class="text-[3.5rem] md:text-[3.75rem] lg:text-[4rem] font-bold mt-8">12%</p>
        <p class="font-normal text-base -mt-2">Automated data entries and marketing leads accelerate response time by over 12%.</p>
  </div>
      </div>

      <div class="swiper-slide  p-3">
        <div class="let-shadow w-auto md:w-64 h-64 p-5 grid justify-items-start">
        <p class="text-[3.5rem] md:text-[3.75rem] lg:text-[4rem] font-bold mt-8">230+</p>
        <p class="-mt-2 font-normal text-base">Manpower hours saved(every month) through the automated assignment of leads and inquiries.</p>
      </div>
      </div>

      <div class="swiper-slide p-3">
        <div class="let-shadow w-auto md:w-64 h-64 p-5 grid justify-items-start">
        <p class="text-[3.5rem] md:text-[3.75rem] lg:text-[4rem] font-bold mt-8">16%</p>
        <p class="font-normal text-base -mt-2">Cost savings of over 16% due to automated lead management and marketing processes.</p>
      </div>
      </div>

      <div class="swiper-slide p-3">
        <div class="let-shadow w-auto md:w-64 h-64 p-5 grid justify-items-start">
        <p class="text-[3.5rem] md:text-[3.75rem] lg:text-[4rem] font-bold mt-8">122%</p>
        <p class="font-normal text-base -mt-2">More consolidated data increased marketing ROI by over 122% in just 6 months.</p>
      </div>
      </div>

      <div class="swiper-slide p-3">
        <div class="let-shadow w-auto md:w-64 h-64 p-5 grid justify-items-start">
        <p class="text-[3.5rem] md:text-[3.75rem] lg:text-[4rem] font-bold mt-8">97%</p>
        <p class="font-normal text-base -mt-2">customer retention due to a personalized and customer-centric approach.</p>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="justify-center  flex gap-3 mt-5 -mb-7">
    <button
      class="prev-button rounded-full border border-[#3E96F4] p-3 text-[#3E96F4] hover:bg-[#3E96F4] hover:text-white"
      
    >
      <span class="sr-only">Previous Slide</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-3 w-3 rtl:rotate-180"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5"></path>
      </svg>
    </button>

    <button
      class="next-button rounded-full border border-[#3E96F4] p-3 text-[#3E96F4] hover:bg-[#3E96F4] hover:text-white"

    >
      <span class="sr-only">Next Slide</span>
      <svg
        class="h-3 w-3 rtl:rotate-180"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M9 5l7 7-7 7"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"></path>
      </svg>
    </button>
  </div>
</section>


<!-- Here are the functionalities that make our Real-Estate CRM Product Different! -->
<section
class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
>
<div class="md:text-center sm:text-left">
 <h2 class=" text-left md:text-center lg:text-center font-semibold text-[#3E96F4] mb-4 xl:mx-28 2xl:mx-52 text-2xl md:text-3xl lg:text-4xl leading-[2.25rem] md:leading-[2.50rem] lg:leading-[2.75rem]">Here are the functionalities that make our Real-Estate CRM Product Different!</h2>				  
</div>
<div class="flex flex-wrap justify-center gap-x-14 gap-y-20 mt-20">
  <div class="w-full sm:w-[22.125rem] xl:w-[20rem] 2xl:w-[22.125rem] h-[9.938rem] xl:h-[14.938rem] sm:h-[11.938rem] flex-shrink-0 bg-box text-[#31393C] p-4 2xl:p-5 text-center">
    <Image loading="eager" src={enquiry_generation} alt="Enquiry Generation" class="mx-auto -mt-16"/>
    <p class="text-base md:text-lg lg:text-xl font-semibold !leading-5 md:!leading-6 lg:!leading-7 mt-3 mb-2">Enquiry Generation/Qualification</p>
    <p class="text-xs md:text-sm lg:text-base !leading-4 md:!leading-5 lg:!leading-6">Source leads from marketing, property portals, websites, and social media and automatically segment them based on pre-determined criteria.</p>
  </div>
  <div class="w-full sm:w-[22.125rem] xl:w-[20rem] 2xl:w-[22.125rem] h-[9.938rem] xl:h-[14.938rem] sm:h-[11.938rem] flex-shrink-0 bg-box text-[#31393C] p-4 2xl:p-5 text-center">
    <Image loading="eager" src={inquiry_management} alt="Inquiry anagement" class="mx-auto -mt-16"/>
    <p class="text-base md:text-lg lg:text-xl font-semibold !leading-5 md:!leading-6 lg:!leading-7 mt-3 mb-2">Inquiry Management  </p>
    <p class="text-xs md:text-sm lg:text-base !leading-4 md:!leading-5 lg:!leading-6">Efficiently organize and track inquiries in one place.</p>
  </div>
  <div class="w-full sm:w-[22.125rem] xl:w-[20rem] 2xl:w-[22.125rem] h-[9.938rem] xl:h-[14.938rem] sm:h-[11.938rem] flex-shrink-0 bg-box text-[#31393C] p-4 2xl:p-5 text-center">
    <Image loading="eager" src={pipeline_management} alt="Pipeline Management" class="mx-auto -mt-16"/>
    <p class="text-base md:text-lg lg:text-xl font-semibold !leading-5 md:!leading-6 lg:!leading-7 mt-3 mb-2">Pipeline Management</p>
    <p class="text-xs md:text-sm lg:text-base !leading-4 md:!leading-5 lg:!leading-6">Visualize and optimize your sales pipeline.</p>
  </div>
  <div class="w-full sm:w-[22.125rem] xl:w-[20rem] 2xl:w-[22.125rem] h-[9.938rem] xl:h-[14.938rem] sm:h-[11.938rem] flex-shrink-0 bg-box text-[#31393C] p-4 2xl:p-5 text-center">
    <Image loading="eager" src={followup_system} alt="Followup System" class="mx-auto -mt-16"/>
    <p class="text-base md:text-lg lg:text-xl font-semibold !leading-5 md:!leading-6 lg:!leading-7 mt-3 mb-2">Followup System</p>
    <p class="text-xs md:text-sm lg:text-base !leading-4 md:!leading-5 lg:!leading-6">Never miss a follow-up with automated reminders.</p>
  </div>
  <div class="w-full sm:w-[22.125rem] xl:w-[20rem] 2xl:w-[22.125rem] h-[9.938rem] xl:h-[14.938rem] sm:h-[11.938rem] flex-shrink-0 bg-box text-[#31393C] p-4 2xl:p-5 text-center">
    <Image loading="eager" src={site_visit_management} alt="Site Visit Management" class="mx-auto -mt-16 -mt-16"/>
    <p class="text-base md:text-lg lg:text-xl font-semibold !leading-5 md:!leading-6 lg:!leading-7 mt-3 mb-2">Site Visit Management</p>
    <p class="text-xs md:text-sm lg:text-base !leading-4 md:!leading-5 lg:!leading-6">Schedule and track property site visits effortlessly.</p>
  </div>
  <div class="w-full sm:w-[22.125rem] xl:w-[20rem] 2xl:w-[22.125rem] h-[9.938rem] xl:h-[14.938rem] sm:h-[11.938rem] flex-shrink-0 bg-box text-[#31393C] p-4 2xl:p-5 text-center">
    <Image loading="eager" src={property_management} alt="Property Management" class="mx-auto -mt-16"/>
    <p class="text-base md:text-lg lg:text-xl font-semibold !leading-5 md:!leading-6 lg:!leading-7 mt-3 mb-2">Property Management</p>
    <p class="text-xs md:text-sm lg:text-base !leading-4 md:!leading-5 lg:!leading-6">Keep all property listings and details organized in one universal system.</p>
  </div>
  <div class="w-full sm:w-[22.125rem] xl:w-[20rem] 2xl:w-[22.125rem] h-[9.938rem] xl:h-[14.938rem] sm:h-[11.938rem] flex-shrink-0 bg-box text-[#31393C] p-4 2xl:p-5 text-center">
    <Image loading="eager" src={communication_integration} alt="Communication Integration" class="mx-auto -mt-16"/>
    <p class="text-base md:text-lg lg:text-xl font-semibold !leading-5 md:!leading-6 lg:!leading-7 mt-3 mb-2">Communication Integration</p>
    <p class="text-xs md:text-sm lg:text-base !leading-4 md:!leading-5 lg:!leading-6">Seamlessly connect via WhatsApp, Calling, Email, and SMS.</p>
  </div>
  <div class="w-full sm:w-[22.125rem] xl:w-[20rem] 2xl:w-[22.125rem] h-[9.938rem] xl:h-[14.938rem] sm:h-[11.938rem] flex-shrink-0 bg-box text-[#31393C] p-4 2xl:p-5 text-center">
    <Image loading="eager" src={marketing} alt="Marketing" class="mx-auto -mt-16"/>
    <p class="text-base md:text-lg lg:text-xl font-semibold !leading-5 md:!leading-6 lg:!leading-7 mt-3 mb-2">Marketing</p>
    <p class="text-xs md:text-sm lg:text-base !leading-4 md:!leading-5 lg:!leading-6">Launch targeted campaigns with WhatsApp, Email, and Social Media and level up your marketing game seamlessly.</p>
  </div>
  <div class="w-full sm:w-[22.125rem] xl:w-[20rem] 2xl:w-[22.125rem] h-[9.938rem] xl:h-[14.938rem] sm:h-[11.938rem] flex-shrink-0 text-[#31393C] p-4 2xl:p-5 flex items-center">
    <div>
      <p class="text-xs md:text-sm lg:text-base !leading-4 md:!leading-5 lg:!leading-6 font-semibold">Want to level up your marketing and customer satisfaction, this ERPNext CRM product is all you need!</p>
      <div
            class="mt-4 md:mt-7 flex justify-between bg-[#3E96F4] rounded-lg px-3 py-2 md:w-56 sm:w-auto"
          >
            <a
              href="/contact-us"
              class="text-white text-base font-semibold font-inter"
              >Request a demo now.</a
            >
            <Image
              loading="eager"
              src={right}
              width={6}
              height={12}
              alt="right arrow "
            />
          </div>
    </div>
</div>

</div>

</section>

<!-- Functionalities Unlocked of our ERPNext CRM for Real-Estate Industry! -->

<section
class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
>
<!-- <h2
  class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-semibold sm:text-left md:text-center lg:mx-40 md:mx-auto mx-auto mb-10"
>
Functionalities Unlocked of our ERPNext CRM for Real-Estate Industry!
</h2> -->

<div
  x-data="{ accordion: 0 }"
  class="grid gap-5 bg-[#EBF5FF] rounded-[20px] text-[#31393C] p-3 md:p-4 lg:p-5 shadow drop-shadow-sm mx-0"
>

<h2
  class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-semibold text-left "
>
Functionalities Unlocked of our ERPNext CRM for Real-Estate Industry!
</h2><div class="bg-white rounded-2xl">
  <div
      class="flex justify-between p-3 md:p-4"
      @click="accordion = accordion == 0 ? 1 : 0"
  >
      <div
          class="font-semibold text-base md:text-base lg:text-lg cursor-pointer mr-1 md:mr-0"
      >
      Admin Module
      </div>
      <Image loading="eager" 
          :class="accordion === 1 ? 'block' : 'hidden'"
          src={down_arrow}
          alt="down-arrow"
      />
      <Image loading="eager" 
          :class="accordion !== 1 ? 'block' : 'hidden'"
          src={up_arrow}
          alt="up-arrow"
      />
  </div>
  <div
      class="overflow-hidden bg-white rounded-b-[10px]"
      :class="accordion !== 0 ? 'h-0' : 'border-t-0'"
  >
      <div
          class="w-full bg-white  rounded-[10px]"
          id="faqoperation1_c"
      >
      
      
      <table class="hidden md:inline-table table-fixed w-full text-left text-[#31393C]">
        <thead>
          <tr class="border-t border-[#CCD9E6]">
            <th class="text-xs border-r md:text-sm lg:text-base font-semibold p-5 rounded-tl-[10px]">Use Case</th>
            <th class="text-xs border-r md:text-sm lg:text-base font-semibold p-5 rounded-tl-[10px]">Description</th>
            <th class="text-xs md:text-sm lg:text-base font-semibold p-5 rounded-tl-[10px]">Functionalities</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Manage users</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">View, edit, and manage user access</td>
            <td class="text-xs md:text-sm lg:text-base p-5">The admin can seamlessly access and input multiple user details through an easy and quick process.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top ">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold align-top p-5">Assign Roles</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Assign roles while creating new users</td>
            <td class="text-xs md:text-sm lg:text-base p-5">The admin accesses the user creation section, inputs user details, and can even assign roles to the new user.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold align-top p-5">Manage Roles</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Define roles and permissions while also managing the users.</td>
            <td class="text-xs md:text-sm lg:text-base p-5">The system allows the admin to create new roles and define permissions for each role, while easily managing each & every user! </td>
          </tr>
        </tbody>
      </table>

      <!-- for small screen -->
      <div class="block md:hidden table-fixed w-full text-left text-[#31393C]">
        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Manage users</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">View, edit, and manage user access</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">The admin can seamlessly access and input multiple user details through an easy and quick process.</p>
          </div>
        </div>
        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Assign Roles</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Assign roles while creating new users</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">The admin accesses the user creation section, inputs user details, and can even assign roles to the new user.</p>
          </div>
        </div>
        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Manage Roles</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Define roles and permissions while also managing the users.</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">The system allows the admin to create new roles and define permissions for each role, while easily managing each & every user!</p>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>
<div class="bg-white rounded-2xl">
  <div
      class="flex justify-between p-3 md:p-4"
      @click="accordion = accordion == 2 ? 0 : 2"
  >
      <div
          class="font-semibold text-base md:text-base lg:text-lg cursor-pointer mr-1 md:mr-0"
      >
      Marketing Module
      </div>
      <Image loading="eager" 
          :class="accordion !== 2 ? 'block' : 'hidden'"
          src={down_arrow}
          alt="down-arrow"
      />
      <Image loading="eager" 
          :class="accordion === 2 ? 'block' : 'hidden'"
          src={up_arrow}
          alt="up-arrow"
      />
  </div>
  <div
      class="overflow-hidden bg-white rounded-b-[10px]"
      :class="accordion !== 2 ? 'h-0' : 'border-t-0'"
  >
      <div
          class="w-full bg-white  rounded-[10px] "
          id="faqoperation2_c"
      >

      
      
      <table class="hidden md:inline-table table-fixed w-full text-left text-[#31393C]">
        <thead>
          <tr class="border-t border-[#CCD9E6]">
            <th class="text-xs border-r md:text-sm lg:text-base font-semibold p-5 rounded-tl-[10px]">Use Case</th>
            <th class="text-xs border-r md:text-sm lg:text-base font-semibold p-5 rounded-tl-[10px]">Description</th>
            <th class="text-xs md:text-sm lg:text-base font-semibold p-5 rounded-tl-[10px]">Functionalities</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Lead Capture</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Automatically capture leads from various sources.</td>
            <td class="text-xs md:text-sm lg:text-base p-5">The system monitors incoming leads, storing them in the CRM and segmenting them based on predefined criteria (e.g., location, property type, budget).</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top ">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold align-top p-5">Email Campaigns</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Create and send personalized email campaigns</td>
            <td class="text-xs md:text-sm lg:text-base p-5">The marketing manager can create and design email campaigns. They can choose target recipients and their preferences.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold align-top p-5">Automated Follow-Ups</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Set up automated follow-up emails</td>
            <td class="text-xs md:text-sm lg:text-base p-5">The marketing manager can set up automated follow-up emails triggered by lead actions, such as property views or clicks.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold align-top p-5">Property Listings</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Automatically distribute property listings</td>
            <td class="text-xs md:text-sm lg:text-base p-5">The system matches property listings with leads' preferences. Property updates and new listings are automatically sent to leads.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold align-top p-5">Behavior Tracking</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Track Lead Interactions</td>
            <td class="text-xs md:text-sm lg:text-base p-5">The system tracks lead interactions with emails, website visits, and property views. The data is stored for further customizations.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold align-top p-5">Lead Scoring</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Assign lead scores</td>
            <td class="text-xs md:text-sm lg:text-base p-5">The system assigns scores to leads based on engagement level, actions taken, and demographic data.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold align-top p-5">Property Portal Integration</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Capture leads from property portals</td>
            <td class="text-xs md:text-sm lg:text-base p-5">The system captures leads from different property portals and stores them in the CRM.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold align-top p-5">Social Media Integration</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Automate social media posting</td>
            <td class="text-xs md:text-sm lg:text-base p-5">The marketing manager can automate property listings and updates on social media platforms. They can even engage with leads through automated responses.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold align-top p-5">WhatsApp and SMS Marketing</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Send updates via SMS and WhatsApp.</td>
            <td class="text-xs md:text-sm lg:text-base p-5">Sales representatives can send property brochures via WhatsApp and other crucial information via SMS and WhatsApp.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold align-top p-5">Multi-channel marketing campaigns</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Send and manage marketing materials.</td>
            <td class="text-xs md:text-sm lg:text-base p-5">The marketing manager can integrate WhatsApp and SMS messages into multi-channel marketing campaigns.</td>
          </tr>
        </tbody>
      </table>

      <!-- for small screen -->
      <div class="block md:hidden table-fixed w-full text-left text-[#31393C]">
        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Lead Capture</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Automatically capture leads from various sources. </p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">The system monitors incoming leads, storing them in the CRM and segmenting them based on predefined criteria (e.g., location, property type, budget).</p>
          </div>
        </div>
          <div class="p-3 border-t border-[#CCD9E6]">
            <div class="text-xs mb-3">
              <p class="text-sm font-semibold">Use Case</p>
              <p class="text-xs md:text-sm lg:text-base !leading-5">Email Campaigns</p>
            </div>
            <div class="text-xs mb-3">
              <p class="text-sm font-semibold">Description</p>
              <p class="text-xs md:text-sm lg:text-base !leading-5">Create and send personalized email campaigns</p>
            </div>
            <div class="text-xs">
              <p class="text-sm font-semibold">Functionalities</p>
              <p class="text-xs md:text-sm lg:text-base !leading-5">The marketing manager can create and design email campaigns. They can choose target recipients and their preferences.  </p>
            </div>
          </div>
            <div class="p-3 border-t border-[#CCD9E6]">
              <div class="text-xs mb-3">
                <p class="text-sm font-semibold">Use Case</p>
                <p class="text-xs md:text-sm lg:text-base !leading-5">Automated Follow-Ups</p>
              </div>
              <div class="text-xs mb-3">
                <p class="text-sm font-semibold">Description</p>
                <p class="text-xs md:text-sm lg:text-base !leading-5">Set up automated follow-up emails</p>
              </div>
              <div class="text-xs">
                <p class="text-sm font-semibold">Functionalities</p>
                <p class="text-xs md:text-sm lg:text-base !leading-5">The marketing manager can set up automated follow-up emails triggered by lead actions, such as property views or clicks.</p>
              </div>
            </div>
              <div class="p-3 border-t border-[#CCD9E6]">
                <div class="text-xs mb-3">
                  <p class="text-sm font-semibold">Use Case</p>
                  <p class="text-xs md:text-sm lg:text-base !leading-5">Property Listings</p>
                </div>
                <div class="text-xs mb-3">
                  <p class="text-sm font-semibold">Description</p>
                  <p class="text-xs md:text-sm lg:text-base !leading-5">Automatically distribute property listings</p>
                </div>
                <div class="text-xs">
                  <p class="text-sm font-semibold">Functionalities</p>
                  <p class="text-xs md:text-sm lg:text-base !leading-5">The system matches property listings with leads' preferences. Property updates and new listings are automatically sent to leads.</p>
                </div>
              </div>
                <div class="p-3 border-t border-[#CCD9E6]">
                  <div class="text-xs mb-3">
                    <p class="text-sm font-semibold">Use Case</p>
                    <p class="text-xs md:text-sm lg:text-base !leading-5">Behavior Tracking</p>
                  </div>
                  <div class="text-xs mb-3">
                    <p class="text-sm font-semibold">Description</p>
                    <p class="text-xs md:text-sm lg:text-base !leading-5">Track Lead Interactions</p>
                  </div>
                  <div class="text-xs">
                    <p class="text-sm font-semibold">Functionalities</p>
                    <p class="text-xs md:text-sm lg:text-base !leading-5">The system tracks lead interactions with emails, website visits, and property views. The data is stored for further customizations. </p>
                  </div>
                </div>
                  <div class="p-3 border-t border-[#CCD9E6]">
                    <div class="text-xs mb-3">
                      <p class="text-sm font-semibold">Use Case</p>
                      <p class="text-xs md:text-sm lg:text-base !leading-5">Lead Scoring</p>
                    </div>
                    <div class="text-xs mb-3">
                      <p class="text-sm font-semibold">Description</p>
                      <p class="text-xs md:text-sm lg:text-base !leading-5">Assign lead scores</p>
                    </div>
                    <div class="text-xs">
                      <p class="text-sm font-semibold">Functionalities</p>
                      <p class="text-xs md:text-sm lg:text-base !leading-5">The system assigns scores to leads based on engagement level, actions taken, and demographic data.</p>
                    </div>
                  </div>
                    <div class="p-3 border-t border-[#CCD9E6]">
                      <div class="text-xs mb-3">
                        <p class="text-sm font-semibold">Use Case</p>
                        <p class="text-xs md:text-sm lg:text-base !leading-5">Property Portal Integration</p>
                      </div>
                      <div class="text-xs mb-3">
                        <p class="text-sm font-semibold">Description</p>
                        <p class="text-xs md:text-sm lg:text-base !leading-5">Capture leads from property portals</p>
                      </div>
                      <div class="text-xs">
                        <p class="text-sm font-semibold">Functionalities</p>
                        <p class="text-xs md:text-sm lg:text-base !leading-5">The system captures leads from different property portals and stores them in the CRM. </p>
                      </div>
                    </div>
                      <div class="p-3 border-t border-[#CCD9E6]">
                        <div class="text-xs mb-3">
                          <p class="text-sm font-semibold">Use Case</p>
                          <p class="text-xs md:text-sm lg:text-base !leading-5">Social Media Integration</p>
                        </div>
                        <div class="text-xs mb-3">
                          <p class="text-sm font-semibold">Description</p>
                          <p class="text-xs md:text-sm lg:text-base !leading-5">Automate social media posting</p>
                        </div>
                        <div class="text-xs">
                          <p class="text-sm font-semibold">Functionalities</p>
                          <p class="text-xs md:text-sm lg:text-base !leading-5">The marketing manager can automate property listings and updates on social media platforms. They can even engage with leads through automated responses.</p>
                        </div>
                      </div>
                        <div class="p-3 border-t border-[#CCD9E6]">
                          <div class="text-xs mb-3">
                            <p class="text-sm font-semibold">Use Case</p>
                            <p class="text-xs md:text-sm lg:text-base !leading-5">WhatsApp and SMS Marketing</p>
                          </div>
                          <div class="text-xs mb-3">
                            <p class="text-sm font-semibold">Description</p>
                            <p class="text-xs md:text-sm lg:text-base !leading-5">Send updates via SMS and WhatsApp. </p>
                          </div>
                          <div class="text-xs">
                            <p class="text-sm font-semibold">Functionalities</p>
                            <p class="text-xs md:text-sm lg:text-base !leading-5">Sales representatives can send property brochures via WhatsApp and other crucial information via SMS and WhatsApp. </p>
                          </div>
                        </div>
                          <div class="p-3 border-t border-[#CCD9E6]">
                            <div class="text-xs mb-3">
                              <p class="text-sm font-semibold">Use Case</p>
                              <p class="text-xs md:text-sm lg:text-base !leading-5">Multi-channel marketing campaigns</p>
                            </div>
                            <div class="text-xs mb-3">
                              <p class="text-sm font-semibold">Description</p>
                              <p class="text-xs md:text-sm lg:text-base !leading-5">Send and manage marketing materials. </p>
                            </div>
                            <div class="text-xs">
                              <p class="text-sm font-semibold">Functionalities</p>
                              <p class="text-xs md:text-sm lg:text-base !leading-5">The marketing manager can integrate WhatsApp and SMS messages into multi-channel marketing campaigns.</p>
                            </div>
                          </div>
                          </div>
      </div>
  </div>
</div>
<div class="bg-white rounded-2xl">
  <div
      class="flex justify-between p-3 md:p-4"
      @click="accordion = accordion == 3 ? 0 : 3"
  >
      <div
          class="font-semibold text-base md:text-base lg:text-lg cursor-pointer mr-1 md:mr-0"
      >
      Sales Module
      </div>
      <Image loading="eager" 
          :class="accordion !== 3 ? 'block' : 'hidden'"
          src={down_arrow}
          alt="down-arrow"
      />
      <Image loading="eager" 
          :class="accordion === 3 ? 'block' : 'hidden'"
          src={up_arrow}
          alt="up-arrow"
      />
  </div>
  <div
      class="overflow-hidden bg-white rounded-b-[10px]"
      :class="accordion !== 3 ? 'h-0' : 'border-t-0'"
  >
      <div
          class="w-full bg-white  rounded-[10px]"
          id="faqoperation3_c"
      >

      <table class="hidden md:inline-table table-fixed w-full text-left text-[#31393C]">
        <thead>
          <tr class="border-t border-[#CCD9E6]">
            <th class="text-xs border-r md:text-sm lg:text-base font-semibold p-5 rounded-tl-[10px]">Use Case</th>
            <th class="text-xs border-r md:text-sm lg:text-base font-semibold p-5 rounded-tl-[10px]">Description</th>
            <th class="text-xs md:text-sm lg:text-base font-semibold p-5 rounded-tl-[10px]">Functionalities</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Lead Management</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Capture, assign, and prioritize leads</td>
            <td class="text-xs md:text-sm lg:text-base p-5">The system captures and stores lead from various sources and even priotize them based on scores, engagement, and demographics.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Lead Assignment</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Automated Lead Assignment</td>
            <td class="text-xs md:text-sm lg:text-base p-5">The system automatically assigns leads to agents or sales representatives based on predefined criteria.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Contact Management</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Maintain a comprehensive contact database</td>
            <td class="text-xs md:text-sm lg:text-base p-5">Sales representatives can maintain a comprehensive database of contacts, including buyers, sellers, investors, and other stakeholders.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Pipeline Management</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Manage sales pipelines and track progress</td>
            <td class="text-xs md:text-sm lg:text-base p-5">The sales manager can manage sales pipelines that reflect the stages of the real estate sales process, from lead to closing, and can even track the progress.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Quoting Management</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Generate and manage sales quotes</td>
            <td class="text-xs md:text-sm lg:text-base p-5"> Sales representatives can generate and manage sales quotes and proposals for diverse prospects. </td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Territory Management</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Define and manage sales territories</td>
            <td class="text-xs md:text-sm lg:text-base p-5">The sales manager can define, and manage sales territories and assign sales representatives accordingly. </td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Call Integration</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Enable calling from CRM with call analytics</td>
            <td class="text-xs md:text-sm lg:text-base p-5">Sales representatives can make calls from the CRM system with click-to-call functionality, call recording, and call history tracking.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Property Tracking</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Track property details and updates</td>
            <td class="text-xs md:text-sm lg:text-base p-5">Sales representatives can keep track of available properties, including details like property type, location, features, price, and status</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Task and Activity Tracking</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Schedule and manage tasks and activities</td>
            <td class="text-xs md:text-sm lg:text-base p-5">Sales representatives can schedule and manage tasks, appointments, follow-ups, and reminders within the Frappe CRM.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Site Visit Management</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Track site visits and updates</td>
            <td class="text-xs md:text-sm lg:text-base p-5">Sales representatives can keep track of which properties clients have visited, when they visited, and their feedback on the same as well to get a better idea.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Real-Time Updates</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Real-time updates and better services!</td>
            <td class="text-xs md:text-sm lg:text-base p-5">The system sends real-time updates to field agents about upcoming customer visits, so they can prepare for customer visits and provide better service.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Document Management</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Store and organize documents</td>
            <td class="text-xs md:text-sm lg:text-base p-5">Sales representatives can store and organize important documents, such as contracts, agreements, property documents, and client paperwork.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Forecasting and Goal Tracking</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Set and track sales goals and forecasts</td>
            <td class="text-xs md:text-sm lg:text-base p-5">The sales manager can set sales targets for agents and track progress toward achieving them for better management and achievement of goals.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Commission Tracking</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Calculate and track commissions</td>
            <td class="text-xs md:text-sm lg:text-base p-5">the CRM system calculates and tracks commissions for agents based on closed deals.</td>
          </tr>
        </tbody>
      </table>

      <!-- for small screen -->
      <div class="block md:hidden table-fixed w-full text-left text-[#31393C]">
        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Lead Management</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Capture, assign, and prioritize leads</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">The system captures and stores lead from various sources and even priotize them based on scores, engagement, and demographics.</p>
          </div>
        </div>
        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Lead Assignment</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Automated Lead Assignment</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">The system automatically assigns leads to agents or sales representatives based on predefined criteria.</p>
          </div>
        </div>
        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Contact Management</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Maintain a comprehensive contact database</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Sales representatives can maintain a comprehensive database of contacts, including buyers, sellers, investors, and other stakeholders.</p>
          </div>
        </div>
        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Pipeline Management</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Manage sales pipelines and track progress</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">The sales manager can manage sales pipelines that reflect the stages of the real estate sales process, from lead to closing, and can even track the progress.</p>
          </div>
        </div>
        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Quoting Management</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Generate and manage sales quotes</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5"> Sales representatives can generate and manage sales quotes and proposals for diverse prospects.</p>
          </div>
        </div>
        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Territory Management</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Define and manage sales territories</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">The sales manager can define, and manage sales territories and assign sales representatives accordingly.</p>
          </div>
        </div>
        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Call Integration</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Enable calling from CRM with call analytics</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Sales representatives can make calls from the CRM system with click-to-call functionality, call recording, and call history tracking.</p>
          </div>
        </div>
        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Property Tracking</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Track property details and updates</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5"> Sales representatives can keep track of available properties, including details like property type, location, features, price, and status</p>
          </div>
        </div>
        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Task and Activity Tracking</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Schedule and manage tasks and activities</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Sales representatives can schedule and manage tasks, appointments, follow-ups, and reminders within the Frappe CRM.</p>
          </div>
        </div>
        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Site Visit Management</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Track site visits and updates</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Sales representatives can keep track of which properties clients have visited, when they visited, and their feedback on the same as well to get a better idea.</p>
          </div>
        </div>
        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Real-Time Updates</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Real-time updates and better services!</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">The system sends real-time updates to field agents about upcoming customer visits, so they can prepare for customer visits and provide better service.</p>
          </div>
        </div>
        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Document Management</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Store and organize documents</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Sales representatives can store and organize important documents, such as contracts, agreements, property documents, and client paperwork.</p>
          </div>
        </div>
        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Forecasting and Goal Tracking</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Set and track sales goals and forecasts</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">The sales manager can set sales targets for agents and track progress toward achieving them for better management and achievement of goals.</p>
          </div>
        </div>
        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Commission Tracking</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Calculate and track commissions</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">the CRM system calculates and tracks commissions for agents based on closed deals.</p>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>
<div class="bg-white rounded-2xl">
  <div
      class="flex justify-between p-3 md:p-4"
      @click="accordion = accordion == 4 ? 0 : 4"
  >
      <div
          class="font-semibold text-base md:text-base lg:text-lg cursor-pointer mr-1 md:mr-0"
      >
          Report
      </div>
      <Image loading="eager" 
          :class="accordion !== 4 ? 'block' : 'hidden'"
          src={down_arrow}
          alt="down-arrow"
      />
      <Image loading="eager" 
          :class="accordion === 4 ? 'block' : 'hidden'"
          src={up_arrow}
          alt="up-arrow"
      />
  </div>
  <div
      class="overflow-hidden bg-white rounded-b-[10px]"
      :class="accordion !== 4 ? 'h-0' : 'border-t-0'"
  >
      <div
          class="w-full bg-white  rounded-[10px]"
          id="faqoperation4_c"
      >

      <table class="hidden md:inline-table table-fixed w-full text-left text-[#31393C]">
        <thead>
          <tr class="border-t border-[#CCD9E6]">
            <th class="text-xs border-r md:text-sm lg:text-base font-semibold p-5 rounded-tl-[10px]">Use Case</th>
            <th class="text-xs border-r md:text-sm lg:text-base font-semibold p-5 rounded-tl-[10px]">Description</th>
            <th class="text-xs md:text-sm lg:text-base font-semibold p-5 rounded-tl-[10px]">Functionalities</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Lead Conversion Analysis</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Assess lead generation effectiveness</td>
            <td class="text-xs md:text-sm lg:text-base p-5">You can get a lead conversion report showing the number of leads generated from different sources and how many of them progressed to become clients or closed deals. Include a conversion rate analysis.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Marketing Campaign ROI</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Evaluate marketing campaign return on investment</td>
            <td class="text-xs md:text-sm lg:text-base p-5">You can easily generate an ROI report that compares the total cost of each marketing campaign with the revenue generated from leads generated by those campaigns.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Property Performance Analysis</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Understand property performance</td>
            <td class="text-xs md:text-sm lg:text-base p-5"> Get an end-to-end property performance dashboard that includes metrics like the number of property views, inquiries, offers received, and average time on the market for each property listing.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Agent/Productivity Metrics</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Assess agent and team performance</td>
            <td class="text-xs md:text-sm lg:text-base p-5">Get individual agent performance reports, including lead conversion rates, the number of deals closed, and response times to inquiries. Compare performance across agents and teams.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Sales Forecasting</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Predict future sales and revenue</td>
            <td class="text-xs md:text-sm lg:text-base p-5">Get a sales forecasting model that uses historical data and trends to provide estimates of future sales, helping to plan resources and set realistic targets.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Site Visit Analysis</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Improve site visit effectiveness</td>
            <td class="text-xs md:text-sm lg:text-base p-5">You can create a site visit analysis report that includes data on which properties are most visited, the average duration of visits, and feedback from site visitors. </td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Goal Tracking</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Monitor progress toward sales and revenue goals</td>
            <td class="text-xs md:text-sm lg:text-base p-5">Set and track their goals within the CRM. Provide goal-tracking reports that show progress over time and allow for adjustments.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Territory Performance Analysis</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Evaluate sales territory performance</td>
            <td class="text-xs md:text-sm lg:text-base p-5">Generate territory performance reports with data on leads generated, conversions, and revenue within each territory. Visualize performance trends and allocate resources accordingly.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Call Analytics</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Optimize call centre operations</td>
            <td class="text-xs md:text-sm lg:text-base p-5"> Get call analytics reports with metrics such as call volume, average call duration, and outcomes (e.g., appointment scheduled, lead generated). Identify peak calling times and agent performance.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Price Trend Analysis</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Understand property price trends</td>
            <td class="text-xs md:text-sm lg:text-base p-5">Easily create price trend reports that show historical and current price trends for specific property types or locations. Make pricing decisions based on market fluctuations.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Multi-Channel Marketing Analysis</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Evaluate marketing across channels</td>
            <td class="text-xs md:text-sm lg:text-base p-5">Analyze the performance of marketing campaigns across different channels, including social media, email, and online advertising. Show which channels yield the highest ROI and engagement.</td>
          </tr>
          <tr class="border-t border-[#CCD9E6] align-top">
            <td class="text-xs border-r md:text-sm lg:text-base font-semibold p-5">Customer Journey Mapping</td>
            <td class="text-xs border-r md:text-sm lg:text-base p-5">Understand the customer journey</td>
            <td class="text-xs md:text-sm lg:text-base p-5">Create customer journey maps that visualize the steps clients take from initial contact to closing a deal. Identify touchpoints and opportunities for personalized interactions.</td>
          </tr>
        </tbody>
      </table>

      <!-- for small screen -->
      <div class="block md:hidden table-fixed w-full text-left text-[#31393C]">
        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Lead Conversion Analysis</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Assess lead generation effectiveness</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">You can get a lead conversion report showing the number of leads generated from different sources and how many of them progressed to become clients or closed deals. Include a conversion rate analysis.</p>
          </div>
        </div>

        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Marketing Campaign ROI</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Evaluate marketing campaign return on investment</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">You can easily generate an ROI report that compares the total cost of each marketing campaign with the revenue generated from leads generated by those campaigns.</p>
          </div>
        </div>

        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Property Performance Analysis</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Understand property performance</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5"> Get an end-to-end property performance dashboard that includes metrics like the number of property views, inquiries, offers received, and average time on the market for each property listing.</p>
          </div>
        </div>

        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Agent/Productivity Metrics</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Assess agent and team performance</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Get individual agent performance reports, including lead conversion rates, the number of deals closed, and response times to inquiries. Compare performance across agents and teams.</p>
          </div>
        </div>


        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Sales Forecasting</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Predict future sales and revenue</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Get a sales forecasting model that uses historical data and trends to provide estimates of future sales, helping to plan resources and set realistic targets.</p>
          </div>
        </div>

        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Site Visit Analysis</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Improve site visit effectiveness</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">You can create a site visit analysis report that includes data on which properties are most visited, the average duration of visits, and feedback from site visitors.</p>
          </div>
        </div>

        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Goal Tracking</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Monitor progress toward sales and revenue goals</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Set and track their goals within the CRM. Provide goal-tracking reports that show progress over time and allow for adjustments.</p>
          </div>
        </div>

        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Territory Performance Analysis</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Evaluate sales territory performance</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Generate territory performance reports with data on leads generated, conversions, and revenue within each territory. Visualize performance trends and allocate resources accordingly.</p>
          </div>
        </div>

        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Call Analytics</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Optimize call centre operations</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5"> Get call analytics reports with metrics such as call volume, average call duration, and outcomes (e.g., appointment scheduled, lead generated). Identify peak calling times and agent performance.</p>
          </div>
        </div>

        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Price Trend Analysis</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Understand property price trends</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Easily create price trend reports that show historical and current price trends for specific property types or locations. Make pricing decisions based on market fluctuations.</p>
          </div>
        </div>

        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Multi-Channel Marketing Analysis</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Evaluate marketing across channels</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Analyze the performance of marketing campaigns across different channels, including social media, email, and online advertising. Show which channels yield the highest ROI and engagement.</p>
          </div>
        </div>

        <div class="p-3 border-t border-[#CCD9E6]">
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Use Case</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Customer Journey Mapping</p>
          </div>
          <div class="text-xs mb-3">
            <p class="text-sm font-semibold">Description</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Understand the customer journey</p>
          </div>
          <div class="text-xs">
            <p class="text-sm font-semibold">Functionalities</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Create customer journey maps that visualize the steps clients take from initial contact to closing a deal. Identify touchpoints and opportunities for personalized interactions.</p>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<!-- Leads, Marketing, Reports & everything beyond. Customize it with our ERPNext CRM for your real estate business. -->
<section class="section-bg-right py-[2rem] md:py-[2rem] lg:py-[4rem]">
  <div class="hidden lg:block md:max-w-7xl md:mx-auto md:px-24">
      <div
          class="bg-partner bg-cover bg-no-repeat bg-center md:bg-contain md:bg-right h-96 grid p-16 pt-24 items-center"
      >
          <h2 class="w-10/12 pr-16 lg:text-[1.5rem] xl:text-[1.625rem] lg:leading-8 xl:leading-9 text-white font-semibold">
            Leads, Marketing, Reports & everything beyond. Customize it with our ERPNext CRM for your real estate business.
      </h2>
                        <div
      class="text-white text-base font-semibold flex items-center gap-3 lg:-mt-20 xl:-mt-16 font-inter"
    >
    <div
          class="flex justify-between bg-white rounded-lg lg:px-4 xl:px-5 py-2 w-72" >
          <a href="/contact-us" class="text-[#3E96F4] font-semibold text-base font-inter">Contact our sales team now!</a>
          <Image loading="eager"  src={right_arrow} alt="Drive To Innovation" width={6} height={12} />
        </div>
    </div>
      </div>
  </div>

  <div
      class="block lg:hidden md:max-w-7xl md:mx-auto md:px-24 bg-[#3E96F4] pb-10"
  >
      <div class="mx-5">
          <Image loading="eager"  src={cta_mobile} alt="cta-mobile" />
          <h2
              class="text-[1.375rem] md:text-[1.5rem] lg:text-[1.5rem] !leading-7 md:!leading-8 text-white font-semibold"
          >
          Leads, Marketing, Reports & everything beyond. Customize it with our ERPNext CRM for your real estate business.
      </h2>
            <div
      class="text-white text-base font-semibold flex items-center gap-3 mt-3 md:mt-5 font-inter"
    >
    <div
          class="flex justify-between bg-white rounded-lg px-4 py-2 w-72" >
          <a href="/contact-us" class="text-[#3E96F4] font-semibold text-base font-inter">Contact our sales team now!</a>
          <Image loading="eager"  src={right_arrow} alt="Drive To Innovation" width={6} height={12} />
        </div>
    </div>
      </div>
  </div>
</section>

<!-- Who can leverage this ERPNext CRM Product? -->
<section class="py-[2rem] md:py-[2rem] lg:py-[4rem]">
  <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
    <div class="md:text-center sm:text-left text-[#31393C]">
      <h2
        class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
      >
      Who can leverage this ERPNext CRM Product?
      </h2>
      <p
          class="text-xs md:text-sm lg:text-base mt-5 lg:mx-40 md:mx-20 mx-auto"
        >
        Sanskar Technolabs' ERPNext-powered Real-Estate CRM software is a versatile solution that can be beneficial for various types of real estate businesses.
        </p>
    </div>
    <div
      class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-14 md:gap-10 lg:gap-16 text-[#31393C] mt-10 md:mt-12 lg:mt-14"
    >
      <div class="flex flex-wrap gap-4">
        <Image
          loading="eager"
          src={real_estate_agencies}
          alt="Real Estate Agencies"
          class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
        />
        <div class="w-full md:w-9/12">
          <div
            class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
          >
          Real Estate Agencies:
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            Real estate agencies, whether in commercial or residential, and also both can use this CRM to streamline their operations by efficiently managing leads, appointments, and communication with clients. They can track lead sources, assign leads, monitor lead progress through the sales pipeline, and ensure a personalized and efficient client journey.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap gap-4">
        <Image
          loading="eager"
          src={property_developers}
          alt="Property Developers"
          width={64}
          height={64}
          class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
        />
        <div class="w-full md:w-9/12">
          <div
            class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
          >
          Property Developers:
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            Property developers can also leverage the CRM to manage and market their real estate developments. They can keep property details organized, track site visits, and effectively engage with potential buyers. Additionally, the CRM provides tools for managing leads generated from marketing campaigns and other things in mind as well.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap gap-4">
        <Image
          loading="eager"
          src={real_estate_brokerages}
          alt="Real Estate Brokerages"
          width={64}
          height={64}
          class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
        />
        <div class="w-full md:w-9/12">
          <div
            class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
          >
          Real Estate Brokerages:
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            This ERPNext CRM can also be used by real estate brokerages to enhance their lead management and agent productivity by using this CRM. It allows them to efficiently assign leads to agents based on predefined criteria and optimize the entire sales process. Furthermore, the CRM's reporting and analytics can help brokerages monitor diverse agents’ performance and their brokerages based on sales and conversions.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap gap-4">
        <Image
          loading="eager"
          src={property_rental_agencies}
          alt="Property Rental Agencies"
          width={64}
          height={64}
          class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
        />
        <div class="w-full md:w-9/12">
          <div
            class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
          >
          Property Rental Agencies:
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            Property rental agencies can use the CRM to streamline inquiries related to rental properties. They can manage and organize rental property details, schedule site visits, and facilitate communication between renters and property owners. The CRM can also be used to engage potential renters through marketing campaigns.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap gap-4">
        <Image
          loading="eager"
          src={individual_real_estate_agents}
          alt="Individual Real Estate Agents"
          width={64}
          height={64}
          class="w-auto md:w-2/12 md:h-16 lg:w-2/12 self-start -mt-5"
        />
        <div class="w-full md:w-9/12">
          <div
            class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
          >
          Individual Real Estate Agents:
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            Independent real estate agents can even manage their leads, appointments, and marketing efforts more effectively using this CRM. It offers lead management tools, automated follow-ups, and the ability to integrate communication channels like WhatsApp, calling, email, and SMS. This allows individual agents to provide a higher level of service to their clients.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap gap-4">
        <Image
          loading="eager"
          src={real_estate_investors}
          alt="Real Estate Investors"
          width={64}
          height={64}
          class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
        />
        <div class="w-full md:w-9/12">
          <div
            class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
          >
          Real Estate Investors:
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            Real estate investors can benefit from the CRM by tracking their investments, analyzing property performance, and engaging with potential buyers or renters. The software helps investors make data-driven decisions by providing insights into property trends and performance.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- What Sanskar technolabs do differently to develop this CRM product for Real-Estate Business? -->
<section class="section-bg-left py-[2rem] md:py-[2rem] lg:py-[4rem]">
  <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
    <div class="md:text-center sm:text-left text-[#31393C]">
      <h2
        class=" lg:mx-18 xl:mx-28 text-[#3E96F4] text-start md:text-center text-2xl md:text-3xl lg:text-4xl !leading-[1.75rem] md:!leading-[2.5rem] lg:!leading-[2.75rem] font-semibold"
      >
      What Sanskar technolabs do differently to develop this CRM product for Real-Estate Business?
      </h2>
      <p
          class="text-xs md:text-sm lg:text-base mt-5 mx-auto md:mx-10 lg:mx-32 xl:mx-40"
        >
        Sanskar Technolabs has set itself apart in the development of its CRM product for real estate businesses by implementing a range of innovative approaches and industry-focused strategies.
<br/><br/>
<b>Here are some of the ones we implemented:</b>
        </p>
    </div>

    <div
      class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-8 2xl:gap-14 text-[#31393C] mb-5 mt-10 md:my-12 lg:my-16"
    >
      <div class="flex flex-wrap gap-3">
        <Image
          loading="eager"
          src={customization_the_Win}
          alt="Customization for the Win"
          width={60}
          height={60}
          class="w-auto md:w-2/12 md:h-16 lg:w-2/12 md:-mt-5"
        />
        <div class="w-full md:w-9/12">
          <div
            class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
          >
          Customization for the Win
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            Sanskar Technolabs understands that the real estate industry is highly diverse, with different types of businesses having unique needs. To address this, we have designed the CRM to be highly customizable to meet the specific requirements of different real estate companies, enabling them to mold the CRM as per their workflows and processes.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap gap-3">
        <Image
          loading="eager"
          src={in_depth}
          alt="In-depth Understanding of Industry Challenges"
          width={60}
          height={60}
          class="w-auto md:w-2/12 md:h-16 lg:w-2/12 md:-mt-5"
        />
        <div class="w-full md:w-9/12">
          <div
            class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
          >
          In-depth Understanding of Industry Challenges
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            The team at Sanskar Technolabs has gained first-hand experience and insights into the challenges that real estate businesses face. This comprehensive knowledge and insights have helped our team create a CRM that addresses these challenges directly, ensuring that the product is highly relevant and effective for real estate businesses.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap gap-3">
        <Image
          loading="eager"
          src={cost_savings_and_customer_experience}
          alt="Focus on Cost-Savings and Enhanced Customer Experience"
          width={60}
          height={60}
          class="w-auto md:w-2/12 md:h-16 lg:w-2/12 md:-mt-5"
        />
        <div class="w-full md:w-9/12">
          <div
            class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
          >
          Focus on Cost-Savings and Enhanced Customer Experience
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            Real estate companies usually deal with high operational and marketing costs. Sanskar Technolabs has designed the CRM with a focus on cost-savings by automating many manual and time-consuming tasks. By streamlining processes, the CRM not only saves money but also enhances the customer experience.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap gap-3">
        <Image
          loading="eager"
          src={erpnext_development_trends}
          alt="Keeping Up with ERPNext Development Trends"
          width={60}
          height={60}
          class="w-auto md:w-2/12 md:h-16 lg:w-2/12 md:-mt-5"
        />
        <div class="w-full md:w-9/12">
          <div
            class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
          >
          Keeping Up with ERPNext Development Trends
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            To create a CRM that is both current and future-ready, Sanskar Technolabs has continuously updated and evolved its product in line with the latest ERPNext development trends and best coding practices. This commitment to staying up-to-date ensures that the CRM remains technologically relevant and secure.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap gap-3">
        <Image
          loading="eager"
          src={user_centric}
          alt="User-Centric Design"
          width={60}
          height={60}
          class="w-auto md:w-2/12 md:h-16 lg:w-2/12 md:-mt-5"
        />
        <div class="w-full md:w-9/12">
          <div
            class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
          >
          User-Centric Design
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            The CRM is designed with a strong focus on the user experience. Sanskar Technolabs has paid close attention to user-friendly interfaces, intuitive navigation, and efficient workflows to ensure that the software is not only powerful but also easy to use. This, in turn, increases user adoption and overall productivity.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap gap-3">
        <Image
          loading="eager"
          src={integration_capabilities}
          alt="Integration Capabilities"
          width={60}
          height={60}
          class="w-auto md:w-2/12 md:h-16 lg:w-2/12 md:-mt-5"
        />
        <div class="w-full md:w-9/12">
          <div
            class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
          >
          Integration Capabilities
          </div>
          <p class="text-xs md:text-sm lg:text-base">
            The CRM has been designed with the ability to integrate with various external systems, allowing real estate companies to connect their CRM with other tools and platforms they use in their daily operations. This integration helps to centralize data and streamline processes.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

  <style>

.banner-image {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 375px) {
  .banner-image {
    margin-top: 1rem;
  }
}

@media (min-width: 390px) {
  .banner-image {
    margin-top: 6rem;
  }
}

@media (min-width: 414px) {
  .banner-text {
    margin-top: 3rem;
  }
  .banner-image {
    margin-top: 5rem;
  }
}

@media (min-width: 481px) {
  .banner-image {
    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  .banner-image {
    margin-top: 3rem;
  }
}


@media (min-width: 900px) {
  .banner-text {
    margin-top: 2.5rem;
  }
  .banner-image {
    margin-top: 10rem;
  }
}


.banner-height{
	height: h-[calc(100vh-10vh)];
	padding-top: 1rem;
	padding-bottom: 1rem;
}

@media (min-width: 321px){
	.banner-height{
	height: calc(100vh - 10vh);
}
}
.let-shadow {
  border-radius: 10px;
border: 2px solid #FFF;
background: linear-gradient(135deg, #ECF5FF 0%, #FFF 100%);
box-shadow: 4px 4px 4px 0px rgba(62, 150, 244, 0.15);
	}
  .bg-partner {
        background-image: url("../../public/Images/join-hand.svg");
	}

  .bg-box{
    border-radius: 10px;
border: 2px solid #FFF;
background: linear-gradient(135deg, #FFF7E5 0%, #FFF 100%);
box-shadow: 4px 4px 4px 0px rgba(62, 150, 244, 0.15);
  }

  .section-bg-right {
      position: relative;
    }

    .section-bg-right::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100rem;
      background-image: radial-gradient(
        ellipse at right,
        rgba(62, 150, 244, 0.15),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      );
      background-origin: border-box;
      background-clip: padding-box, border-box;
      z-index: -1;
    }

    .section-bg-center {
      position: relative;
    }

    .section-bg-center::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 80rem;
      background-image: radial-gradient(
        rgba(62, 150, 244, 0.09),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      );
      background-origin: border-box;
      margin-top: 20rem;
      background-clip: padding-box, border-box;
      z-index: -1;
    }
  .section-bg-left {
      position: relative;
    }

    .section-bg-left::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 90rem;
      background-image: radial-gradient(
        ellipse at left,
        rgba(62, 150, 244, 0.15),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      );
      background-size: 150% 100%;
      margin-top: -90rem;
      z-index: -1;
    }
    @media (max-width: 370px) {
      .flex-part {
        flex-direction: column;
      }
    }
  </style>
</Layout>




<script>
  document.addEventListener("DOMContentLoaded", function () {
           const swiper = new Swiper(".swiper-container", {
             loop: true,
             slidesPerView: 1,
             spaceBetween: 0,
             autoplay: {
               delay: 3000,
             },
             navigation: {
               nextEl: ".next-button",
               prevEl: ".prev-button",
             },
             breakpoints: {
               640: {
                 slidesPerView: 1.5,
                 centeredSlides: true,
               },
         768: {
                 centeredSlides: false,
                 slidesPerView: 2,
               },
               1024: {
                 centeredSlides: false,
                 slidesPerView: 3,
               },
               1280: {
                 centeredSlides: false,
                 slidesPerView: 4,
               },
             },
           });
         });
 </script>