---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import migoo_banner from "../../public/Images/migoo_banner.svg";
import right from "../../public/Images/right.svg";
import customer from "../../public/Images/customer.svg";
import migoo_client_vision from "../../public/Images/migoo_client_vision.svg";
import problem1 from "../../public/Images/problem1.svg";
import problem2 from "../../public/Images/problem2.svg";
import problem3 from "../../public/Images/problem3.svg";
import problem4 from "../../public/Images/problem4.svg";
import problem5 from "../../public/Images/problem5.svg";
import slider1 from "../../public/Images/m_slider1.png";
import slider2 from "../../public/Images/m_slider2.svg";
import slider3 from "../../public/Images/m_slider3.svg";
import slider4 from "../../public/Images/m_slider4.svg";
import slider5 from "../../public/Images/m_slider5.svg";
import m_support from '../../public/Images/m_support.svg';
import m_seamless from '../../public/Images/m_seamless.svg';
import m_monitoring from '../../public/Images/m_monitoring.svg';
import m_server from '../../public/Images/m_server.svg';
import m_backup from '../../public/Images/m_backup.svg';
import m_version_update from '../../public/Images/m_version_update.svg';
import right_arrow from '../../public/Images/right-arrow.svg';
import previousbtn from "../../public/Images/previousbtn.svg";
import nextbtn from "../../public/Images/nextbtn.svg";
import our_works from '../../public/Images/our_works.png';
import migoo_logo from '../../public/Images/migoo_logo.svg';
import m_cost_efective from '../../public/Images/m_cost_efective.svg';
import m_reduction_time from '../../public/Images/m_reduction_time.svg';
import m_equipment from '../../public/Images/m_equipment.svg';
import m_android from '../../public/Images/m_android.svg';
import m_performance from '../../public/Images/m_performance.svg';
import m_smartflo from '../../public/Images/m_smartflo.png';
import Fast2SMS from '../../public/Images/Fast2SMS.png';
import m_wati from '../../public/Images/m_wati.svg';
import m_app_setu from '../../public/Images/m_app_setu.svg';
import m_adhar from '../../public/Images/m_adhar.svg';



---

<Layout title="Developed Most Complex, One-of-a-Kind ERPNext Portal | Sanskar Technolab.", keyword="erp implementation companies, erp implementation partner, erpnext implementation, erp implementation partner, erp implementation companies, ERPNext software development company, Erpnext solution company, Erpnext software, ERPNext open-source, ServiceNow company, ServiceNow implementation partner, Servicenow implementation services", description="Sanskar Technolab have developed a tech-driven platform to streamline renting, buying, selling, insurance and managing heavy-duty construction equipment.", canonical_href="https://sanskartechnolab.com/migoo-case-study">

        <!-- <section
            class="section-bg-right flex h-[calc(100vh-10vh)] relative flex-wrap items-center justify-evenly sm:flex-col-reverse"
        >
            <Image loading="eager" 
                class="lg:absolute lg:right-0 lg:w-5/12 w-full md:w-full"
                src={migoo_banner}
                alt="banner image"
                width={737}
                height={509}
            />
            <div class=" flex">
                <div class="lg:w-7/12 w-full md:w-full mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
                    <h1
                        class="lg:text-[3rem] text-[1.75rem] md:text-[3rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold lg:leading-[3.75rem] xl:leading-[4rem]"
                    >
                        Developed Most Complex ERPNext Portal for Construction
                        Industry!
                    </h1>
                    <p
                        class="text-[#31393C] lg:leading-7 font-normal lg:text-lg text-sm md:text-base leading-5 md:leading-6 mt-5"
                    >
                        Our team at Sanskar Technolab has developed a
                        full-fledged platform by leveraging ERPNext for renting,
                        buying, selling and managing heavy-duty construction
                        equipment.
                    </p>
                    <div
                        class="mt-5 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 md:w-72 sm:w-auto"
                    >
                        <a
                            href="/contact-us"
                            class="text-white text-base font-semibold font-inter"
                            >Schedule a Free Demo Now</a
                        >
                        <Image loading="eager" 
                            src={right}
                            width={6}
                            height={12}
                            alt="right arrow "
                        />
                    </div>
                </div>
            </div>
        </section> -->

<!-- 
		<section
            class="section-bg-right hidden lg:flex h-[calc(100vh-10vh)] relative flex-wrap items-center"
        >
            <Image loading="eager" 
                class="absolute right-0 w-5/12 h-[36rem]"
                src={migoo_banner}
                alt="banner image"
                width={737}
                height={509}
            />
            <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 flex">
                <div class="w-7/12">
                    <h1
                        class="lg:text-[3rem] text-[#31393C] font-semibold lg:leading-[3.75rem] xl:leading-[4rem]"
                    >
                        Developed Most Complex ERPNext Portal for Construction
                        Industry!
                    </h1>
                    <p
                        class="text-[#31393C] leading-7 font-normal text-lg mt-6"
                    >
                        Our team at Sanskar Technolab has developed a
                        full-fledged platform by leveraging ERPNext for renting,
                        buying, selling and managing heavy-duty construction
                        equipment.
                    </p>
                    <div
                        class="mt-7 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 md:w-72 sm:w-auto"
                    >
                        <a
                            href="/contact-us"
                            class="text-white text-base font-semibold font-inter"
                            >Schedule a Free Demo Now</a
                        >
                        <Image loading="eager" 
                            src={right}
                            width={6}
                            height={12}
                            alt="right arrow "
                        />
                    </div>
                </div>
            </div>
        </section>

		<section
            class="section-bg-right mt-10 md:flex lg:hidden"
        >
        <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 flex flex-wrap banner-height items-center justify-evenly">
            <div>
                <div
                    class="text-[1.75rem] md:text-[3rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold"
                >
                    Developed Most Complex ERPNext Portal for Construction
                    Industry!
                </div>
                <p
                    class="text[#31393C] text-sm md:text-base leading-5 md:leading-6 mt-5"
                >
                    Our team at Sanskar Technolab has developed a full-fledged
                    platform by leveraging ERPNext for renting, buying, selling
                    and managing heavy-duty construction equipment.
                </p>
                <div
                    class="mt-5 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 w-auto md:w-72"
                >
                    <a href="/contact-us" class="text-white font-semibold font-inter"
                        >Schedule a Free Demo Now</a
                    >
                    <Image loading="eager"  src={right} alt="right" class="ml-0" />
                </div>
            </div>
            <Image loading="eager"  class="banner-image"  src={migoo_banner} alt="manu-banner" />
        </div>
        </section> -->

        <section
        class="hidden lg:flex section-bg h-[90vh] xl:h-[75vh] flex items-center banner-bg"
      >
        <div
          class="flex flex-wrap items-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
        >
          <div class="w-full md:w-6/12">
            <h1
                    class="text-[1.75rem] md:text-[3rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold"
                >
                    Developed Most Complex ERPNext Portal for The Construction
                    Industry!
          </h1>
                <p
                    class="text[#31393C] text-sm md:text-base leading-5 md:leading-6 mt-5"
                >
                    Our team at Sanskar Technolab has developed a full-fledged
                    platform by leveraging ERPNext for renting, buying, selling
                    and managing heavy-duty construction equipment.
                </p>
            <!-- <div
              class="mt-7 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 md:w-72 sm:w-auto"
            >
              <a
                href="/contact-us"
                class="text-white text-base font-semibold font-inter"
                >Schedule a Free Demo Now</a
              >
              <Image
                loading="eager"
                src={right}
                width={6}
                height={12}
                alt="right arrow "
              />
            </div> -->
          </div>
    
          <Image
            loading="eager"
            src={migoo_banner}
            alt="migoo_banner"
            class="w-full md:w-6/12 lg:p-10 md:p-8"
          />
        </div>
    
      </section>
    
      <section
        class="section-bg flex items-center md:flex lg:hidden banner-bg"
      >
        <div
          class="flex flex-wrap items-center mx-5 gap-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
        >
          <div class="w-full lg:w-6/12 mt-5">
            <div
                    class="text-[1.75rem] md:text-[3rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold"
                >
                    Developed Most Complex ERPNext Portal for The Construction
                    Industry!
                </div>
                <p
                    class="text[#31393C] text-sm md:text-base leading-5 md:leading-6 mt-5"
                >
                    Our team at Sanskar Technolab has developed a full-fledged
                    platform by leveraging ERPNext for renting, buying, selling
                    and managing heavy-duty construction equipment.
                </p>
            <!-- <div
              class="mt-4 md:mt-7 flex justify-between bg-[#3E96F4] rounded-lg px-3 md:px-3 lg:px-5 py-2 md:py-2 lg:py-3 md:w-72 sm:w-auto"
            >
              <a
                href="/contact-us"
                class="text-white text-base font-semibold font-inter"
                >Schedule a Free Demo Now</a
              >
              <Image
                loading="eager"
                src={right}
                width={6}
                height={12}
                alt="right arrow"
              />
            </div> -->
          </div>
    
          <Image
            loading="eager"
            src={migoo_banner}
            alt="migoo_banner"
            class="w-full"
          />
        </div>
      </section>

		<section class="py-[2rem] md:py-[2rem] lg:py-[6.25rem]  mt-0 sm:mt-48 md:mt-0 lg:mt-0 xl:mt-0">
			<div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
				<h2 class="text-2xl md:text-3xl lg:text-4xl font-semibold text-[#3E96F4] leading-[2.25rem] md:leading-[2.75rem] lg:leading-[3rem]">Subtle Glimpses of the Project.</h2>
				<div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-0 md:gap-10 lg:gap-10 mt-4 md:mt-8 lg:mt-8">
					<div>
						<Image loading="eager"  class="hidden md:block lg:block xl:block  flex flex-wrap justify-center items-center mb-2 md:mb-4 lg:mb-4" src={migoo_logo} alt="Unique Approach" width={205} height={65} />
						<Image loading="eager"  class="block md:hidden lg:hidden xl:hidden flex flex-wrap justify-center items-center mb-2 md:mb-4 lg:mb-4" src={migoo_logo} alt="Unique Approach" width={103} height={33} />				
						<p class="text-xs md:text-sm lg:text-base text-[#31393C] font-normal leading-4 md:leading-5 lg:leading-6">Introducing Migoo Equipment, an innovative and feature-rich portal entirely developed on ERPNext that simplifies the entire process of renting, buying, selling, insuring, billing, and managing heavy-duty construction equipment.</p>
					</div>

					<div class="grid grid-cols-2 gap-6 md:gap-10 lg:gap-6 mt-6 md:mt-0 lg:mt-0">
						<div>
							<div class="mb-4">								
								<p class="text-xs md:text-sm lg:text-base text-[#31393C] font-normal leading-4 md:leading-5 lg:leading-6"><span class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-semibold">Client Location </span> <br /> Ahmedabad, Gujarat. </p>
							</div>
							<div>
								<p class="text-xs md:text-sm lg:text-base text-[#31393C] font-normal leading-4 md:leading-5 lg:leading-6"><span class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-semibold">Tech-Stack </span> <br /> Web Server: Frappe Cloud Database: MySQL (Maria DB) ERPNext Version: 14.13.0</p>
							</div>
						</div>

						<div>
							<div class="mb-4">
								<p class="text-xs md:text-sm lg:text-base text-[#31393C] font-normal leading-4 md:leading-5 lg:leading-6"><span class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-semibold">Industry </span> <br /> Construction</p>
							</div>
							<div>
								<p class="text-xs md:text-sm lg:text-base text-[#31393C] font-normal leading-4 md:leading-5 lg:leading-6"><span class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-semibold">Project Methodology </span> <br /> Agile Scrum Methodology  </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="py-[2rem] md:py-[2rem] lg:py-[4rem]">
			<div class="grid place-items-center grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-6 md:gap-8 lg:gap-16 mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
				 <div class="flex justify-center md:justify-center lg:justify-start">
            		<Image loading="eager"  class="" src={migoo_client_vision} alt="Migoo Client Vision" width={504} height={417} />
        		</div>
				<div>
					<h2 class="text-[#3E96F4] pb-2 md:pb-4 lg:pb-6 font-semibold  text-2xl md:text-3xl lg:text-4xl leading-[1.75rem] md:leading-[2.25rem] lg:leading-[2.75rem]">Client's Vision & Mission!</h2>
					<p class="text-[#31393C]  pb-2 md:pb-4 lg:pb-6 leading-4 md:leading-5 lg:leading-6 text-xs md:text-sm lg:text-base font-normal">Arjun Pachani, the founder of Migoo Equipment, personally experienced the daily challenges of construction companies and how inefficient and disorganized equipment management led to the waste of time, higher expenses, and missed opportunities. <br /> <br />So, our client had a clear vision of simplifying these tasks and creating a smooth and user-friendly platform for both vendors and customers.</p>					
				</div>
			</div>
		</section>

		<section class="section-bg-center_migoo py-[2rem] md:py-[2rem] lg:py-[4rem]">
			<div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
				<h2 class="text-left md:text-center text-[#3E96F4] font-semibold text-2xl md:text-3xl lg:text-4xl leading-[1.75rem] md:leading-[2.25rem] lg:leading-[2.75rem] pb-4 md:pb-4 lg:pb-6">Our work!</h2>				
				<p class="text-left md:text-center text-[#000000] leading-4 md:leading-5 lg:leading-6 px-0 md:px-20 lg:px-36 text-xs md:text-sm lg:text-base font-normal pb-2 md:pb-3 lg:pb-4">The team at Sanskar Technolab understood the client's requirements thoroughly, identified their pain points and developed a full-fledged ERPNext web portal within the given deadline. <br/><br/><span class="font-semibold">Here's the best part:</span> Our team developed the entire web portal from front-end to back-end with ERPNext, ensuring a seamless and uniform user experience.</p>
				
				<Image loading="eager"  class="flex flex-wrap justify-center mx-auto mt-8 md:mt-12 lg:mt-16" src={our_works} alt="Our works" width={1100} height={259} />				
			</div>
		</section>


        <section class="py-[2rem] md:py-[2rem] lg:py-[4rem]">
            <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
                <h2 class="text-2xl md:text-3xl lg:text-4xl text-left md:text-center text-[#3E96F4] font-semibold leading-[1.75rem] md:leading-[2.25rem] lg:leading-[2.75rem]">Let The Numbers Speak For Themselves!</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-11 mt-10 md:mt-14 lg:mt-16 text-[#31393C] text-center">
                <div class="flex flex-col items-center ">
                    <Image loading="eager"  src={m_cost_efective} alt="Cost Efective" width={64} height={72} />
                    <p class="text-[2.75rem] md:text-[3.75rem] lg:text-[4rem] font-bold">60%</p>
                    <p class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-medium">cost savings in development, ensuring a cost-efficient solution for migoo.in.</p>
                </div>

                <div class="flex flex-col items-center ">
                    <Image loading="eager"  src={m_reduction_time} alt="Reduction time" width={72} height={72} />
                    <p class="text-[2.75rem] md:text-[3.75rem] lg:text-[4rem] font-bold">45%</p>
                    <p class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-medium">reduction in launching time, launched in just 4 months.</p>
                </div>

                <div class="flex flex-col items-center">
                    <Image loading="eager"  src={m_equipment} alt="Equipment" width={72} height={72} />
                    <p class="text-[2.75rem] md:text-[3.75rem] lg:text-[4rem] font-bold">3000+</p>
                    <p class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-medium">equipment were onboarded within just the first month of launching.</p>
                </div>

                <div class="flex flex-col items-center md:flex lg:hidden ">
					<Image loading="eager"  src={m_android} alt="Android" width={69} height={72} />
					<p class="text-[2.75rem] md:text-[3.75rem] lg:text-[4rem] font-bold">35 days</p>
					<p class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-medium">to launch iOS and Android apps(Within record time).</p>
				</div>

				<div class="flex flex-col items-center md:flex lg:hidden">
					<Image loading="eager"  src={m_performance} alt="Performance" width={104} height={72} />
					<p class="text-[2.75rem] md:text-[3.75rem] lg:text-[4rem] font-bold">90%</p>
					<p class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-medium">of page load performance.</p>
				</div>
            </div>
            <div class="hidden md:hidden lg:grid grid-cols-2 gap-4 px-0 md:px-0 lg:px-28 xl:px-48 lg:gap-10 xl:gap-16 mt-16 text-[#31393C] text-center">
				<div class="flex flex-col items-center ">
					<Image loading="eager"  src={m_android} alt="Android" width={69} height={72} />
					<p class="text-[2.75rem] md:text-[3.75rem] lg:text-[4rem] font-bold">35 days</p>
					<p class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-medium">to launch iOs and Android app(Within record time).</p>
				</div>
				<div class="flex flex-col items-center">
					<Image loading="eager"  src={m_performance} alt="Performance" width={104} height={72} />
					<p class="text-[2.75rem] md:text-[3.75rem] lg:text-[4rem] font-bold">90%</p>
					<p class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-medium">of page load performance.</p>
				</div>
			</div>
        </section>

		 <section class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]">

            <div class="md:text-center sm:text-left">
				<h2
					class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-semibold mb-2 md:mb-3 lg:mb-4"
				>
                    Our End Solutions!
				</h2>
            <!-- </div> -->

            <div
                id="carouselExampleIndicators"
                class="relative"
                data-te-carousel-init
                data-te-carousel-slide
                data-te-ride="carousel"
                >
                <!--Carousel indicators-->
                <div
                    class="absolute -bottom-[3.5rem] md:-bottom-[4rem] lg:-bottom-[4rem] left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0 gap-4"
                    data-te-carousel-indicators
                >
                    <button
                        type="button"
                        data-te-target="#carouselExampleIndicators"
                        data-te-slide-to="0"
                        data-te-carousel-active
                        class="mx-[3px] box-content h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer  border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                        aria-current="true"
                        aria-label="Slide 1"></button>
                    <button
                        type="button"
                        data-te-target="#carouselExampleIndicators"
                        data-te-slide-to="1"
                        class="mx-[3px] box-content h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer  border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                        aria-label="Slide 2"></button>
                    <button
                        type="button"
                        data-te-target="#carouselExampleIndicators"
                        data-te-slide-to="2"
                        class="mx-[3px] box-content  h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer  border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                        aria-label="Slide 3"></button>
                    <button
                        type="button"
                        data-te-target="#carouselExampleIndicators"
                        data-te-slide-to="3"
                        class="mx-[3px] box-content  h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                        aria-label="Slide 4"></button>
                    <button
                        type="button"
                        data-te-target="#carouselExampleIndicators"
                        data-te-slide-to="4"
                        class="mx-[3px] box-content  h-3 md:h-4 lg:h-4 w-3 md:w-4 lg:w-4 rounded-full flex-initial cursor-pointer border-solid border-transparent bg-[#D9D9D9] bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                        aria-label="Slide 5"></button>
                </div>

                <!--Carousel items-->
                <div
                    class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
                >
                    <!--First item-->
                    <div
                        class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                        data-te-carousel-item
                        data-te-carousel-active
                    >
                    <div class=" sm:min-h-[31rem] md:min-h-[45rem] lg:min-h-[27rem] block flex flex-wrap mt-5 gap-5">
                        <Image loading="eager"  class="sm:w-full md:w-full lg:w-7/12" src={slider1} alt="slider image 1" />
                            
                        <div class="sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left">
                            <div class=" font-semibold text-base md:text-lg lg:text-xl mt-3 md:mt-10 mb-2 md:mb-3 lg:mb-1">Demand portal</div>
                            <p class="text-xs md:text-sm lg:text-base">Our end-to-end demand portal revolutionizes the process of renting or buying heavy-duty construction equipment.</p>
                            <div class=" font-semibold text-xs md:text-sm lg:text-base mt-5 mb-2 md:mb-3 lg:mb-1">Everything it includes!</div>
                            <ul class="text-xs md:text-sm lg:text-base list-disc ml-7">
                                <li>User-friendly interface.</li>
                                <li>Customized search filters. </li>
                                <li>Effective communication with our team through (calls/WhatsApp). </li>
                                <li>Automated compliance and verification systems for smooth onboarding.</li>
                                <li>Secure and faster transactions.</li>
                            </ul>
                        </div>
                    </div>
                    </div>
                    <!--Second item-->
                    <div
                        class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                        data-te-carousel-item
                    >
                    <div class=" sm:min-h-[31rem] md:min-h-[45rem] lg:min-h-[27rem] block flex flex-wrap mt-5 gap-5">
                        <Image loading="eager"  class="sm:w-full md:w-full lg:w-7/12" src={slider2} alt="slider image 2" />
                            
                        <div class="sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left">
                            <div class=" font-semibold text-base md:text-lg lg:text-xl mt-3 md:mt-10 mb-2 md:mb-3 lg:mb-1">Supplier Portal</div>
                            <p class="text-xs md:text-sm lg:text-base">Apart from the demand portal, we have even built a feature-rich supplier portal.
                                Suppliers can easily register and get the most out of their idle construction equipment.</p>
                            <div class=" font-semibold text-xs md:text-sm lg:text-base mt-5 mb-2 md:mb-3 lg:mb-1">Everything it includes!</div>
                            <ul class="text-xs md:text-sm lg:text-base list-disc ml-7">
                                <li>Suppliers can effectively manage the equipment with efficient tracking features.</li>
                                <li>Automated billing features.</li>
                                <li>Latest equipment fitness information along with insurance dates, permits, and PUC expiry dates.</li>
                            </ul>
                        </div>
                    </div>
                    </div>
                    <!--Third item-->
                    <div
                        class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                        data-te-carousel-item
                    >
                    <div class=" sm:min-h-[31rem] md:min-h-[45rem] lg:min-h-[27rem] block flex flex-wrap mt-5 gap-5">
                        <Image loading="eager"  class="sm:w-full md:w-full lg:w-7/12" src={slider3} alt="slider image 3" />
                            
                        <div class="sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left">
                            <div class=" font-semibold text-base md:text-lg lg:text-xl mt-3 md:mt-10 mb-2 md:mb-3 lg:mb-1">CRM</div>
                            <p class="text-xs md:text-sm lg:text-base">For every business, effective customer relationship management is at the core.
                                So, to enhance customer service effectiveness, we have tailored our workflow to align with each client's specific workflow.</p>
                            <div class=" font-semibold text-xs md:text-sm lg:text-base mt-5 mb-2 md:mb-3 lg:mb-1">Everything it includes!</div>
                            <ul class="text-xs md:text-sm lg:text-base list-disc ml-7">
                                <li>Automated the entire sales process.</li>
                                <li>Integrated (email, phone, and WhatsApp) with CRM for streamlined communication.</li>
                                <li>The Migoo team can track all the calls, emails, proposals and quotations of salespersons to evaluate performance and customer satisfaction.</li>
                            </ul>
                        </div>
                    </div>
                    </div>
                    <!-- Fourth item -->
                    <div
                        class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                        data-te-carousel-item
                    >
                    <div class=" sm:min-h-[31rem] md:min-h-[45rem] lg:min-h-[27rem] block flex flex-wrap mt-5 gap-5">
                        <Image loading="eager"  class="sm:w-full md:w-full lg:w-7/12" src={slider4} alt="slider image 4" />
                            
                        <div class="sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left">
                            <div class=" font-semibold text-base md:text-lg lg:text-xl mt-3 md:mt-10 mb-2 md:mb-3 lg:mb-1">Accounting</div>
                            <p class="text-xs md:text-sm lg:text-base">We have migrated the entire accounting data from their tally software and embedded it into the current portal for better accounting management.</p>
                            <!-- <div class=" font-semibold text-xs md:text-sm lg:text-base mt-5">Everything it includes!</div>
                            <ul class="text-xs md:text-sm lg:text-base list-disc ml-7">
                                <li>User-friendly interface.</li>
                                <li>Customized search filters. </li>
                                <li>Effective communication with our team through (Call/Whatsapp). </li>
                                <li>Automated compliance and verification systems for smooth onboarding.</li>
                                <li>Secure and faster transactions.</li>
                            </ul> -->
                        </div>
                    </div>
    
                    </div>
                    <!-- Fifth item -->
                    <div
                        class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                        data-te-carousel-item
                    >
                    <div class=" sm:min-h-[31rem] md:min-h-[45rem] lg:min-h-[27rem] block flex flex-wrap mt-5 gap-5">
                        <Image loading="eager"  class="sm:w-full md:w-full lg:w-7/12" src={slider5} alt="slider image 5" />
                            
                        <div class="sm:w-full md:w-full lg:w-4/12 text-[#31393c] text-left">
                            <div class=" font-semibold text-base md:text-lg lg:text-xl mt-3 md:mt-10 mb-2 md:mb-3 lg:mb-1">HR & Payroll</div>
                            <p class="text-xs md:text-sm lg:text-base">We have even worked on the HR & Payroll module to fulfill the basics for end-to-end employee management.</p>
                            <div class=" font-semibold text-xs md:text-sm lg:text-base mt-5">Everything it includes!</div>
                            <ul class="text-xs md:text-sm lg:text-base list-disc ml-7">
                                <li>Attendance tracking </li>
                                <li>Leave management </li>
                                <li>Salary & payroll management </li>
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </section>

        <section class="section-bg-left_migoo my-[2rem] md:my-[5rem] lg:my-[4rem]">
            <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
                <h2 class="text-2xl md:text-3xl lg:text-4xl text-center text-[#3E96F4] font-semibold leading-[1.75rem] md:leading-[2.25rem] lg:leading-[2.75rem]">Our Key Integrations!</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-11 mt-10 md:mt-14 lg:mt-16 text-[#31393C] text-center">
                    <div class="flex flex-col items-center ">
                            <Image loading="eager"  src={m_smartflo} alt="Call integration" width={82} height={60} />
                            <p class="my-2 md:my-3 lg:my-4 text-base md:text-lg lg:text-xl font-semibold">Call Integration</p>
                            <p class="font-normal text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6">Our integration with TATA Smart Flo allows users to access call logs and make calls directly from the ERPNext system while also getting call recording URLs.</p>
                        </div>

                        <div class="flex flex-col items-center ">
                            <Image loading="eager"  src={Fast2SMS} alt="Fastsms" width={160} height={60} />
                            <p class="my-2 md:my-3 lg:my-4 text-base md:text-lg lg:text-xl font-semibold">SMS Integration</p>
                            <p class="font-normal text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6">Through integration with FAST 2 SMS, our system empowers users to send broadcast SMS messages easily and quickly.</p>
                        </div>

                        <div class="flex flex-col items-center">
                            <Image loading="eager"  src={m_wati} alt="Wati" width={120} height={50} />
                            <p class="my-2 md:my-3 lg:my-4 text-base md:text-lg lg:text-xl font-semibold">WhatsApp Integration</p>
                            <p class="font-normal text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6">Our integration with WATI enables sending broadcast WhatsApp templates directly from the system.</p>
                        </div>

                        <div class="flex flex-col items-center md:flex lg:hidden">
                            <Image loading="eager"  src={m_app_setu} alt="Rto&Driving integration" width={210} height={60} />
                            <p class="my-2 md:my-3 lg:my-4 text-base md:text-lg lg:text-xl font-semibold">RTO & Driving License Integration</p>
                            <p class="font-normal text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6">We have integrated APIs for RTO and driver's licenses to verify vehicle details and authenticate driver information as well.</p>
                        </div>

                        <div class="flex flex-col items-center md:flex lg:hidden">
                            <Image loading="eager"  src={m_adhar} alt="Aadhar integration" width={210} height={60} />
                            <p class="my-2 md:my-3 lg:my-4 text-base md:text-lg lg:text-xl font-semibold">Aadhar Card integration</p>
                            <p class="font-normal text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6">Our team has integrated Adhar Card verification for the KYC to ensure secure, faster, and smarter verification.</p>
                        </div>
            </div>
            <div class="hidden md:hidden lg:grid grid-cols-2 gap-4 px-0 md:px-0 lg:px-28 xl:px-28 lg:gap-10 xl:gap-10 mt-16 text-[#31393C] text-center">

					<div class="flex flex-col items-center ">
						<Image loading="eager"  src={m_app_setu} alt="Rto&Driving integration" width={259} height={60} />
						<p class="my-2 md:my-3 lg:my-4 text-base md:text-lg lg:text-xl font-semibold">RTO & Driving License Integration</p>
						<p class="font-normal text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6">We have integrated APIs for RTO and driver license to verify vehicle details and authenticate drivers information as well.</p>
					</div>

					<div class="flex flex-col items-center">
						<Image loading="eager"  src={m_adhar} alt="Aadhar integration" width={330} height={60} />
						<p class="my-2 md:my-3 lg:my-4 text-base md:text-lg lg:text-xl font-semibold">Aadhar Card integration</p>
						<p class="font-normal text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6">Our team has integrated Adhar Card verification for the KYC to ensure secure, faster, and smarter verification.</p>
					</div>
				</div>
        </section>

		<section class="py-[2rem] md:py-[2rem] lg:py-[4rem]">
			<div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
				<h2 class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-semibold leading-[1.75rem] md:leading-[2.25rem] lg:leading-[2.75rem]">Project Challenges & Its Solutions!</h2>
				<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-12 md:gap-14 lg:gap-16 mt-8 md:mt-10 lg:mt-12 text-[#31393C]">
					<div>
						<Image loading="eager"  class="mb-4" src={problem1} alt="Problem1" width={60} height={60} />
						<p class="text-base md:text-lg lg:text-xl mb-1 font-semibold">Problem #1</p>
						<p class="text-xs md:text-sm lg:text-base mb-2 md:mb-3 lg:mb-3 leading-4 md:leading-5 lg:leading-6 font-normal">The client has a unique business idea and is also not tested in the market, so we were unaware of the entire flow of work.</p>
						<p class="text-base md:text-lg lg:text-xl mb-1 font-semibold">Solution #1</p>
						<p class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-normal">To address the issue, we proposed an MVP using an agile methodology, allowing real-time viewing of the portal at each stage and testing with existing users. This approach minimizes the need for future improvements, <strong>saving valuable time and resources for the business.</strong></p>
					</div>

					<div class="ml-0 md:ml-0 lg:ml-10">
						<Image loading="eager"  class="mb-4" src={problem2} alt="Problem2" width={60} height={60} />
						<p class="text-base md:text-lg lg:text-xl mb-1 font-semibold">Problem #2</p>
						<p class="text-xs md:text-sm lg:text-base mb-2 md:mb-3 lg:mb-3 leading-4 md:leading-5 lg:leading-6 font-normal">Our client's end users are not tech-oriented and very comfortable with their previous system.</p>
						<p class="text-base md:text-lg lg:text-xl mb-1 font-semibold">Solution #2</p>
						<p class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-normal">To solve this problem, we have thoroughly understood their users' requirements, working patterns and previous systems to design an easy-to-use interface and design. We prepared an <strong>entire workflow, tested it with their real users,</strong> made improvements and finally implemented an easy and convenient solution.</p>
					</div>

					<div>
						<Image loading="eager"  class="mb-4" src={problem3} alt="Problem3" width={60} height={60} />
						<p class="text-base md:text-lg lg:text-xl mb-1 font-semibold">Problem #3</p>
						<p class="text-xs md:text-sm lg:text-base mb-2 md:mb-3 lg:mb-3 leading-4 md:leading-5 lg:leading-6 font-normal">Our client has a limited budget to build a full-fledged web portal for both the client and supplier sides. The number of features, modules, and integrations is also higher.</p>
						<p class="text-base md:text-lg lg:text-xl mb-1 font-semibold">Solution #3</p>
						<p class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-normal">To tackle this problem, we have suggested our client opt for the low-code ERPNext platform - as it is a one-stop solution with ready-made modules for accounting, HR, manufacturing, CRM, etc, which helped him save over <strong>60% of the total cost.</strong></p>
					</div>

					<div class="ml-0 md:ml-0 lg:ml-10">
						<Image loading="eager"  class="mb-4" src={problem4} alt="Problem4" width={60} height={60} />
						<p class="text-base md:text-lg lg:text-xl mb-1 font-semibold">Problem #4</p>
						<p class="text-xs md:text-sm lg:text-base mb-2 md:mb-3 lg:mb-3 leading-4 md:leading-5 lg:leading-6 font-normal">The client has already completed partial portal development with another company but is not happy with its performance and quality. The portal has scalability problems and includes outdated coding and developed practices.</p>
						<p class="text-base md:text-lg lg:text-xl mb-1 font-semibold">Solution #4</p>
						<p class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-normal">We have completely redeveloped the portal using ERPNext by employing <strong>best coding practices, optimizing performance, ensuring scalability, and adhering to industry standards,</strong> to successfully deliver a high-quality portal.</p>
					</div>

					<div>
						<Image loading="eager"  class="mb-4" src={problem5} alt="Problem5" width={60} height={60} />
						<p class="text-base md:text-lg lg:text-xl mb-1 font-semibold">Problem #5</p>
						<p class="text-xs md:text-sm lg:text-base mb-2 md:mb-3 lg:mb-3 leading-4 md:leading-5 lg:leading-6 font-normal">The client's business involves handling a large volume of data and requires efficient data storage, retrieval, and management as well.</p>
						<p class="text-base md:text-lg lg:text-xl mb-1 font-semibold">Solution #5</p>
						<p class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-normal">We have designed a robust database architecture and optimized data management techniques in the portal. By leveraging ERPNext's database capabilities and implementing data indexing, caching, and efficient query optimization, we have <strong>ensured efficient and reliable data storage and retrieval.</strong></p>
					</div>
				</div>
			</div>
		</section>

        <section class="py-[2rem] md:py-[2rem] lg:py-[4rem]">
			<div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-10  mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
				<div>
					<h2 class="text-2xl md:text-3xl text-center md:text-center lg:text-start lg:text-4xl mr-0 md:mr-0 lg:mr-20 leading-[2rem] md:leading-[2.50rem] lg:leading-[2.75rem] font-semibold text-[#3E96F4]">With Robust Support, we offer more than just implementation!</h2>
					<div class="flex flex-wrap justify-center md:justify-center lg:justify-start">
						<Image loading="eager"  class="flex flex-wrap justify-center items-center mt-10 md:mt-12 lg:mt-16" src={m_support} alt="Support" width={448} height={373} />
					</div>
				</div>

				<div>
					<div class="flex gap-4 md:gap-4 lg:gap-6">
						<Image loading="eager"  class="object-none object-left-top" src={m_seamless} alt="Seamless" width={50} height={57} />
						<div class="pb-2 md:pb-3 lg:pb-4">
							<p class="pb-2 text-base md:text-lg lg:text-xl leading-5 md:leading-6 lg:leading-7 font-semibold text-[#31393C]">Seamless Communications and Documentation:</p>
							<p class="pb-2 text-xs md:text-sm lg:text-base leading-4 md:leading-5 leading-6 font-normal text-[#31393C]">We provided clear communication & comprehensive technical documents for a better understanding of all the technical concepts.</p>							
						</div>
					</div>

					<div class="flex gap-4 md:gap-4 lg:gap-6">
						<Image loading="eager"  class="object-none object-left-top" src={m_monitoring} alt="Monitoring" width={47} height={57} />
						<div class="pb-2 md:pb-3 lg:pb-4">
							<p class="pb-2 text-base md:text-lg lg:text-xl leading-5 md:leading-6 lg:leading-7 font-semibold text-[#31393C]">Monitoring and Maintenance:</p>
							<p class="pb-2 text-xs md:text-sm lg:text-base leading-4 md:leading-5 leading-6 font-normal text-[#31393C]">Proactive monitoring and maintenance for server and cloud-based resources.</p>							
						</div>
					</div>

					<div class="flex gap-4 md:gap-4 lg:gap-6">
						<Image loading="eager"  class="object-none object-left-top" src={m_server} alt="Server" width={44} height={57} />
						<div class="pb-2 md:pb-3 lg:pb-4">
							<p class="pb-2 text-base md:text-lg lg:text-xl leading-5 md:leading-6 lg:leading-7 font-semibold text-[#31393C]">Server Resource Hardening:</p>
							<p class="pb-2 text-xs md:text-sm lg:text-base leading-4 md:leading-5 leading-6 font-normal text-[#31393C]">Strengthening server resources constantly to prevent security risks.</p>							
						</div>
					</div>

					<div class="flex gap-3 md:gap-3 lg:gap-5">
						<Image loading="eager"  class="object-none object-left-top" src={m_backup} alt="Backup" width={50} height={57} />
						<div class="pb-4 md:pb-3 lg:pb-4">
							<p class="pb-2 text-base md:text-lg lg:text-xl leading-5 md:leading-6 lg:leading-7 font-semibold text-[#31393C]">Regular Backups and Optimization:</p>
							<p class="pb-0 md:pb-0 lg:pb-2 text-xs md:text-sm lg:text-base leading-4 md:leading-5 leading-6 font-normal text-[#31393C]">Scheduled backups and optimized databases for end-to-end data protection and performance.</p>							
						</div>
					</div>

                    <div class="flex gap-4 md:gap-3 lg:gap-5">
						<Image loading="eager"  class="object-none object-left-top" src={m_version_update} alt="Version update" width={50} height={53} />
						<div class="pb-0 md:pb-3 lg:pb-4">
							<p class="pb-2 text-base md:text-lg lg:text-xl leading-5 md:leading-6 lg:leading-7 font-semibold text-[#31393C]">Version Updates and Support:</p>
							<p class="pb-0 md:pb-0 lg:pb-2 text-xs md:text-sm lg:text-base leading-4 md:leading-5 leading-6 font-normal text-[#31393C]">Real-time updates and ongoing functional support for enhanced system capabilities.</p>							
						</div>
					</div>
				</div>
			</div>
		</section>	

  <!-- <section
			class="section-bg-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
		>
			<div class="md:text-center sm:text-left">
      <h2
					class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-semibold"
				>
                Let's hear it from our client!
				</h2>
    </div>


				<div class="grid gap-5 items-center mt-10 md:mt-14 lg:mt-20 lg:mx-0">
					<div class="swiper-customer !overflow-hidden">
					  <div class="swiper-wrapper text-[#31393C] lg:!w-[34rem]">
            <div class="swiper-slide p-3 2xl:!w-[40rem]">
						  <div class="grid flex-shrink-0 client_shadow w-full gap-2 client_card_height">
							<Image loading="eager"  src={migoo_logo} alt="Migoo" />
							<div
							  class="text-base md:text-lg lg:text-xl lg:!leading-9 md:!leading-8 !leading-7 font-semibold "
							>
							Migoo.in
							</div>
							<p class="text-xs md:text-sm lg:text-base">
								Being in the construction industry, I wanted to change the future of the construction industry with technology. So, reached out to Sanskar Technolab through one of my mutual friends. They have helped me to develop a one-of-a-kind platform for renting, buying, and selling high-duty construction equipment along with the features of CRM, insurance, etc. There is no such software in the industry, but Sanskar Technolab developed the best portal along with a mobile app <strong>at 60% lesser costs in just 4 months.</strong>
							</p>
							<div class="text-xs md:text-sm lg:text-base">
								<p class="font-semibold">Arjun pachani</p>
								<p>Founder, Migoo.in</p>
							</div>

						  </div>
			  
						</div>
						  </div>
						</div>
				  </div>

				<div class="flex justify-center gap-3 md:mt-10">
					/* <Image loading="eager"  src={previousbtn} alt="previousbtn" id="prev" />
				<Image loading="eager"  src={nextbtn} alt="nextbtn" id="next" /> */
					<button
						class="rounded-full border border-[#3E96F4] p-3 text-[#3E96F4] hover:bg-[#3E96F4] hover:text-white"
						id="prev"
					>
						<span class="sr-only">Previous Slide</span>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="h-5 w-5 rtl:rotate-180"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M15.75 19.5L8.25 12l7.5-7.5"></path>
						</svg>
					</button>

					<button
						class="rounded-full border border-[#3E96F4] p-3 text-[#3E96F4] hover:bg-[#3E96F4] hover:text-white"
						id="next"
					>
						<span class="sr-only">Next Slide</span>
						<svg
							class="h-5 w-5 rtl:rotate-180"
							fill="none"
							stroke="currentColor"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M9 5l7 7-7 7"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"></path>
						</svg>
					</button>
				</div>
			/* </div> */
		</section> -->


    <section
            class="section-bg-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
        >
            <div class="md:text-center sm:text-left">
              <h2
              class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-semibold"
            >
                    Let's hear it from our client!
            </h2>
            </div>

            <div
                class="grid gap-5 items-center mt-5 lg:mt-10 mx-0 lg:mx-44 xl:mx-40 2xl:mx-72"
            >
                <div
                    class="grid flex-shrink-0 client_shadow w-full gap-2 client_card_height"
                >
                <Image loading="eager"  src={migoo_logo} alt="Migoo" />
                <div
							  class="text-base md:text-lg lg:text-xl lg:!leading-9 md:!leading-8 !leading-7 font-semibold "
							>
							Migoo.in
							</div>
              <p class="text-xs md:text-sm lg:text-base">
								Being in the construction industry, I wanted to change the future of the construction industry with technology. So, reached out to Sanskar Technolab through one of my mutual friends. They have helped me to develop a one-of-a-kind platform for renting, buying, and selling high-duty construction equipment along with the features of CRM, insurance, etc. There is no such software in the industry, but Sanskar Technolab developed the best portal along with a mobile app <strong>at 60% lesser costs in just 4 months.</strong>
							</p>
							<div class="text-xs md:text-sm lg:text-base">
								<p class="font-semibold">Arjun pachani</p>
								<p>Founder, Migoo.in</p>
							</div>
                </div>
            </div>
        </section>

		<!--<section
			class="section-bg-center_migoo relative z-50 mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
		>
			<div class="md:text-center sm:text-left md:mb-10">
				<h2
					class="text-2xl md:text-3xl lg:text-4xl text-[#31393C] font-semibold"
				>
                Let's hear it from our client!
				</h2>
			</div>

			<div class="c_slider">
                <div class="c_slides">
                  <div class="p-4 c_slide">
                    <div
                      class="happy-customer-shadow bg-[#ffffff] md:p-10 p-5 rounded-[20px] h-[26rem] md:h-[23rem] lg:h-[23rem] mt-5"
                    >
                      <div
                        class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-5"
                      >
                        <Image loading="eager" 
                          class="md:pr-5"
                          src={customer}
                          alt="customer"
                        />
                        <div class="text-[#31393C]">
                          <p
                            class="text-base md:text-lg lg:text-xl leading-9 font-semibold my-3"
                          >
                            Osswal Infosystems
                          </p>
                          <p
                            class="text-xs md:text-sm lg:text-base pr-5"
                          >
                            Watch Mohit Nagori, Director of Osswal
                            Infosystems Pvt. Ltd., speak about his
                            company's journey with SAP and UBS. He
                            shares insights about our collaboration
                            and how to make a successful partnership
                            work!
                          </p>
                          <p
                            class="text-xs md:text-sm lg:text-base font-semibold mt-5"
                          >
                            Mohit Nagori
                          </p>
                          <p
                            class="text-[0.625rem] md:text-xs lg:text-sm"
                          >
                            Director, Osswal Infosystems Pvt. Ltd.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="p-4 c_slide">
                    <div
                      class="happy-customer-shadow bg-[#ffffff] md:p-10 p-5 rounded-[20px] h-[26rem] md:h-[23rem] lg:h-[23rem] mt-5"
                    >
                      <div
                        class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-5"
                      >
                        <Image loading="eager" 
                          class="md:pr-5"
                          src={customer}
                          alt="customer"
                        />
                        <div class="text-[#31393C]">
                          <p
                            class="text-base md:text-lg lg:text-xl leading-9 font-semibold my-3"
                          >
                            Osswal Infosystems 1
                          </p>
                          <p
                            class="text-xs md:text-sm lg:text-base pr-5"
                          >
                            Watch Mohit Nagori, Director of Osswal
                            Infosystems Pvt. Ltd., speak about his
                            company's journey with SAP and UBS. He
                            shares insights about our collaboration
                            and how to make a successful partnership
                            work!
                          </p>
                          <p
                            class="text-xs md:text-sm lg:text-base font-semibold mt-5"
                          >
                            Mohit Nagori
                          </p>
                          <p
                            class="text-[0.625rem] md:text-xs lg:text-sm"
                          >
                            Director, Osswal Infosystems Pvt. Ltd.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="p-4 c_slide">
                    <div
                      class="happy-customer-shadow bg-[#ffffff] md:p-10 p-5 rounded-[20px] h-[26rem] md:h-[23rem] lg:h-[23rem] mt-5"
                    >
                      <div
                        class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-5"
                      >
                        <Image loading="eager" 
                          class="md:pr-5"
                          src={customer}
                          alt="customer"
                        />
                        <div class="text-[#31393C]">
                          <p
                            class="text-base md:text-lg lg:text-xl leading-9 font-semibold my-3"
                          >
                            Osswal Infosystems 2
                          </p>
                          <p
                            class="text-xs md:text-sm lg:text-base pr-5"
                          >
                            Watch Mohit Nagori, Director of Osswal
                            Infosystems Pvt. Ltd., speak about his
                            company's journey with SAP and UBS. He
                            shares insights about our collaboration
                            and how to make a successful partnership
                            work!
                          </p>
                          <p
                            class="text-xs md:text-sm lg:text-base font-semibold mt-5"
                          >
                            Mohit Nagori
                          </p>
                          <p
                            class="text-[0.625rem] md:text-xs lg:text-sm"
                          >
                            Director, Osswal Infosystems Pvt. Ltd.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <div class="flex justify-center gap-3 md:mt-10">
				<Image loading="eager"  src={previousbtn} alt="previousbtn" id="prev" />
				<Image loading="eager"  src={nextbtn} alt="nextbtn" id="next" /> 
				<button
                            class="rounded-full border border-[#3E96F4] p-3 text-[#3E96F4] hover:bg-[#3E96F4] hover:text-white" id="prev"
                        >
                            <span class="sr-only">Previous Slide</span>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="h-5 w-5 rtl:rotate-180"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M15.75 19.5L8.25 12l7.5-7.5"></path>
                            </svg>
                        </button>
    
                        <button
                            class="rounded-full border border-[#3E96F4] p-3 text-[#3E96F4] hover:bg-[#3E96F4] hover:text-white" id="next"
                        >
                            <span class="sr-only">Next Slide</span>
                            <svg
                                class="h-5 w-5 rtl:rotate-180"
                                fill="none"
                                stroke="currentColor"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M9 5l7 7-7 7"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"></path>
                            </svg>
                        </button>
			</div>
		</section>-->
</Layout>



<style>
    .happy-customer-shadow {
		box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
	}

    	/*  slider */
		.c_slider {
            /* width: 400px; */
            overflow: hidden;
        }

        .c_slides {
            display: flex;
            width: 100%;
            transition: transform 0.3s ease-in-out;
        }

        .c_slide {
            width: 100%;
            flex-shrink: 0;
        }

        #prev,
        #next {
            margin-top: 10px;
        }


	[data-te-carousel-indicators] button[data-te-carousel-active] {
  		background-color: #3E96F4; 
	}

       .section-bg-center_migoo {
        position: relative;
    }

    .section-bg-center_migoo::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90rem;
        background-image: radial-gradient(rgba(62, 150, 244, 0.10), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
        background-origin: border-box;
        background-clip: padding-box, border-box;
        z-index: -1;
        margin-top: -18rem;
    }


    .section-bg-left_migoo {
        position: relative;
    }

    .section-bg-left_migoo::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100rem;
        background-image: radial-gradient(ellipse at left, rgba(62, 150, 244, 0.10), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
        z-index: -1;
        margin-top: 8rem;
    }

    .section-bg-right {
        position: relative;
    }

    .section-bg-right::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100rem;
        background-image: radial-gradient(ellipse at right, rgba(62, 150, 244,0.09), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
        z-index: -1;
        margin-top: 8rem;
    }



	@media (max-width: 640px) {
	.section-bg-right::before {
		height: 80rem;
		margin-top: -10rem;
	}
	}

	@media (max-width: 768px) {
	.section-bg-right::before {
		height: 80rem;
		margin-top: -10rem; 
	}
	}
    @media (max-width: 1024px) {
	.section-bg-right::before {
		height: 80rem;
		margin-top: -0rem; 
	}
	}

  .client_shadow {
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
  }

  .client_card_height {
  height: 28rem;
  padding: 1.75rem;
}

@media (max-width: 374px) {
  .client_card_height {
    height: 30rem;
	padding: 1rem;
  }
}
@media (min-width: 1024px) and (max-width: 1250px) {
  .client_card_height {
    height: 34rem;
    padding: 1rem;
  }
}


.banner-image {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

@media (min-width: 321px) {
  .banner-image {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
}

.banner-height{
	height: h-[calc(100vh-10vh)];
}

@media (min-width: 321px){
	.banner-height{
	height: calc(100vh - 10vh);
}
}
</style>

<script>
    // Slides

// 	 // Get the slider elements
// 	 const slider = document.querySelector(".c_slider");
//         const slides = document.querySelector(".c_slides");
//         const prevBtn = document.querySelector("#prev");
//         const nextBtn = document.querySelector("#next");

//         // Initialize variables
//         let slideIndex = 0;
//         const slideWidth = slider.clientWidth;
//         let autoSlideInterval;

//         // Move slides to specified index
//         const moveToSlide = (index) => {
//             slides.style.transform = `translateX(-${slideWidth * index}px)`;
//         };

//         // Move to next slide
//         const nextSlide = () => {
//             slideIndex++;
//             if (slideIndex >= slides.children.length) {
//                 slideIndex = 0;
//             }
//             moveToSlide(slideIndex);
//         };

//         // Move to previous slide
//         const prevSlide = () => {
//             slideIndex--;
//             if (slideIndex < 0) {
//                 slideIndex = slides.children.length - 1;
//             }
//             moveToSlide(slideIndex);
//         };

//         // Start auto sliding
//         const startAutoSlide = () => {
//             autoSlideInterval = setInterval(nextSlide, 3000); // Change slide every 3 seconds
//         };

//         // Stop auto sliding
//         const stopAutoSlide = () => {
//             clearInterval(autoSlideInterval);
//         };

//         // Attach event listeners to buttons
//         nextBtn.addEventListener("click", () => {
//             nextSlide();
//             stopAutoSlide();
//         });
//         prevBtn.addEventListener("click", () => {
//             prevSlide();
//             stopAutoSlide();
//         });

//         // Start auto slide on page load
//         startAutoSlide();

        document.addEventListener("DOMContentLoaded", function () {
    const swiper_c = new Swiper(".swiper-customer", {
      loop: true,
      slidesPerView: 1,
      spaceBetween: 0,
      autoplay: {
        delay: 3000,
      },
      navigation: {
        nextEl: "#next",
        prevEl: "#prev",
      },
      breakpoints: {
        640: {
          slidesPerView: 1.5,
          centeredSlides: true,
        },
         768: {
          slidesPerView: 1,
          centeredSlides: true,
        },
        1024: {
          centeredSlides: false,
          slidesPerView: 2,
        },
      },
    });
  });
</script>