---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import oracle_to_erpnext from "../../public/Images/oracle-to-erpnext.svg";

import section_client from "../../public/Images/section-client-oracle.svg";
import ambica_logo from "../../public/Images/ambica-logo.svg";

import high_hardware_cost from "../../public/Images/high_hardware_cost.svg";
import quite_difficult from "../../public/Images/quite_difficult.svg";
import higher_dependence from "../../public/Images/higher_dependence.svg";
import complex_system from "../../public/Images/complex_system.svg";

import lower_upfront from "../../public/Images/lower_upfront.svg";
import customization_capabilities from "../../public/Images/customization_capabilities.svg";
import quite_easy from "../../public/Images/quite_easy.svg";
import control_with_erpnext from "../../public/Images/control_with_erpnext.svg";


import stepone from "../../public/Images/stepone.svg";
import steptwo from "../../public/Images/steptwo.svg";
import stepthree from "../../public/Images/stepthree.svg";
import stepfour from "../../public/Images/stepfour.svg";
import stepfive from "../../public/Images/stepfive.svg";

import oracle_asset_management from "../../public/Images/oracle-asset-management.svg";
import oracle_crm from "../../public/Images/oracle-crm.svg";
import oracle_hr_payroll from "../../public/Images/oracle-hr-payroll.svg";

import prototype_visualization from "../../public/Images/prototype_visualization.svg";
import thorough_demo from "../../public/Images/thorough_demo.svg";
import oracle_ourresult from "../../public/Images/oracle_ourresult.svg";

import purchase_management from "../../public/Images/purchase_management.svg";
import sales_tracking from "../../public/Images/sales_tracking.svg";
import manufacturing_optimization from "../../public/Images/manufacturing_optimization.svg";
import accounting_integration from "../../public/Images/accounting_integration.svg";
import inventory_management from "../../public/Images/inventory_management.svg";
import erpnext_bronze_partner from "../../public/Images/erpnext_bronze_partner.svg";
import industry_rich_experience from "../../public/Images/industry_rich_experience.svg";
import site_visits from "../../public/Images/site_visits.svg";
---

<Layout
  title="Migrated from 20-year-old platform to an All-New ERPNext platform. | Sanskar Technolab"
  ,
  description="The skilled team of ERPNext professionals at Sanskar Technolab have helped Ambica Polymers in smooth migration from 20 year old on Oracle to feature-rich ERPNext."
  ,
  keyword="erp implementation partner, erpnext implementation, erp implementation partner, erp implementation companies, ERPNext software development company, ERPNext development services, Erpnext solution company, Frappe ERPNext, Erpnext software, ERPNext open-source, ServiceNow company, Servicenow implementation services"
  ,
  description="Sanskar Technolab is your trusted partner to avail best ERPNext implementation services from the best minds."
  ,
  canonical_href="https://sanskartechnolab.com/oracle-to-erpnext-migration"
>
  <!-- Banner Section -->
  <section
    class="hidden lg:flex section-bg h-[110vh] xl:h-[100vh] 2xl:h-[75vh] flex items-center banner-bg"
  >
    <div
      class="flex flex-wrap items-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
    >
      <div class="w-full md:w-6/12">
        <h1
          class="mr-10 text-[2.75rem] !leading-tight leading-7 text-[#31393C] font-semibold"
        >
          Migrated from a 20-year-old platform on Oracle to an All-New ERPNext
          platform for Ambica Polymers!
        </h1>
        <p
          class="mr-20 text[#31393C] text-base md:text-lg !leading-7 md:leading-6 mt-5"
        >
          Sanskar Technolab is an official ERPNext Partner, and this time, one
          of our clients who is tired of handling their outdated system on
          Oracle has reached out to us for seamless migration to ERPNext and
          even implementation.
        </p>
      </div>

      <Image
        loading="eager"
        src={oracle_to_erpnext}
        alt="oracle_to_erpnext_migration"
        class="md:w-6/12 pl-10 2xl:ml-auto"
      />
    </div>
  </section>

  <section class="section-bg flex items-center md:flex lg:hidden banner-bg">
    <div
      class="flex flex-wrap items-center mx-5 gap-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
    >
      <div class="w-full lg:w-6/12 mt-5">
        <div
          class="text-[1.75rem] md:text-[3rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold"
        >
          Migrated from a 20-year-old platform on Oracle to an All-New ERPNext
          platform for Ambica Polymers!
        </div>
        <p
          class="text[#31393C] text-sm md:text-base !leading-5 md:leading-6 mt-5"
        >
          Sanskar Technolab is an official ERPNext Partner, and this time, one
          of our clients who is tired of handling their outdated system on
          Oracle has reached out to us for seamless migration to ERPNext and
          even implementation.
        </p>
      </div>

      <Image
        loading="eager"
        src={oracle_to_erpnext}
        alt="oracle_to_erpnext_migration"
        class="mx-auto mb-10"
      />
    </div>
  </section>

  <!-- Subtle Glimpses of the Project! -->
  <section class="py-[2rem] md:py-[2rem] lg:pb-[4rem] lg:pt-[6rem] mt-0">
    <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
      <h2
        class="text-2xl md:text-3xl lg:text-4xl font-semibold text-[#3E96F4] leading-[2.25rem] md:leading-[2.75rem] lg:leading-[3rem]"
      >
        Subtle Glimpses of the Project!
      </h2>
      <div
        class="md:grid grid-cols-12 gap-8 lg:gap-14 2xl:gap-16 mt-4 md:mt-8 lg:mt-8"
      >
        <div
          class="col-span-7 lg:col-span-8 xl:col-span-9 gap-5 md:gap-6 lg:gap-4 xl:gap-6 2xl:gap-10"
        >
          <Image
            loading="eager"
            class="mb-4 md:ml-0"
            src={ambica_logo}
            alt="Shri Ambica Polymer Pvt. LTD"
            width={239}
            height={65}
          />
          <p
            class="text-xs md:text-sm lg:text-base text-[#31393C] font-normal leading-4 md:leading-5 lg:leading-6 my-auto"
          >
            Shri Ambica Polymer Pvt. Ltd. is a <b
              >100% export-oriented unit (EOU)</b
            > offering a diverse range of polymer products. It is situated in Gujarat,
            India, with production facilities spread over approximately <b
              >870,000 Sq Ft.</b
            > They are accredited Export House” by the government of India with huge
            annual processing capacity and <b>2000+ team members.</b><br /><br
            />
            To manage their enormous operations, they are using an outdated system
            on Oracle, which is draining a lot of their time and efficiency throughout
            the process. To better streamline the operations, they have decided to
            switch from Oracle to ERPNext.
          </p>
        </div>

        <div
          class="col-span-5 lg:col-span-4 flex-part xl:col-span-3 mt-6 md:mt-0 lg:mt-0 ml-0 md:ml-5 lg:ml-0 flex sm:flex-row md:flex-col gap-5 md:gap-0"
        >
          <div>
            <div class="mb-4">
              <p
                class="text-xs md:text-sm lg:text-base text-[#31393C] font-normal leading-4 md:leading-5 lg:leading-6"
              >
                <span
                  class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-semibold"
                  >Client Location
                </span>
                <br /> Ahmedabad, Gujarat.
              </p>
            </div>
            <div class="mb-4">
              <p
                class="text-xs md:text-sm lg:text-base text-[#31393C] font-normal leading-4 md:leading-5 lg:leading-6"
              >
                <span
                  class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-semibold"
                  >Tech-Stack
                </span>
                <br /> Web Server: Frappe Cloud,<br /> Database: MySQL + Maria DB,
                <br /> ERPNext Version: 14.13.0
              </p>
            </div>
          </div>

          <div>
            <div class="mb-4">
              <p
                class="text-xs md:text-sm lg:text-base text-[#31393C] font-normal leading-4 md:leading-5 lg:leading-6"
              >
                <span
                  class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-semibold"
                  >Industry
                </span>
                <br /> Manufacturing
              </p>
            </div>
            <div>
              <p
                class="text-xs md:text-sm lg:text-base text-[#31393C] font-normal leading-4 md:leading-5 lg:leading-6"
              >
                <span
                  class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-semibold"
                  >Project Methodology
                </span>
                <br /> Agile Scrum Methodology
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- What does the client want from us? -->
  <section class="py-[2rem] md:py-[2rem] lg:py-[4rem]">
    <div
      class="grid place-items-center grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-6 md:gap-8 lg:gap-16 mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
    >
      <div class="flex justify-center md:justify-center lg:justify-start">
        <Image
          loading="eager"
          src={section_client}
          alt="What Does Client Want"
          width={504}
          height={417}
        />
      </div>
      <div>
        <h2
          class="text-[#3E96F4] pb-2 md:pb-4 lg:pb-6 font-semibold text-2xl md:text-3xl lg:text-4xl leading-[1.75rem] md:leading-[2.25rem] lg:leading-[2.75rem]"
        >
          What does the client want from us?
        </h2>
        <p
          class="text-[#31393C] pb-2 md:pb-4 lg:pb-6 leading-4 md:leading-5 lg:leading-6 text-xs md:text-sm lg:text-base font-normal"
        >
          Our client and their team members are way too frustrated with their
          previous, considering its inefficiencies, lesser automation, and lack
          of features as well. Also, they are using different platforms such as
          Excel and Word files for management.<br /><br />
          To better deal with these problems, they are looking to <b
            >develop a universal solution.</b
          > For the same, they partnered with Sanskar Technolab for migration and
          even implementation of more modules and functions leveraging ERPNext, which
          helps them further accelerate the workflow, reduce repetitive manual processes,
          and save crucial business resources.
        </p>
      </div>
    </div>
  </section>

  <!-- Challenges of Oracle & solutions with ERPNext for Ambica Polymers! -->
  <section class="section-bg-right">
    <div
      class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem] text-center"
    >
      <div class="text-start md:text-center mb-5 md:mb-10 lg:mb-12">
        <h2
          class="mx-0 md:mx-[0rem] lg:mx-[0rem] xl:mx-[10rem] text-2xl md:text-3xl lg:text-4xl lg:!leading-[2.75rem] lg:text-[2.25rem] text-[#3E96F4] font-bold"
        >
          Challenges of Oracle & solutions with ERPNext for Ambica Polymers!
        </h2>
      </div>
      <div
        class="flex flex-wrap mt-0 lg:mx-12 xl:mx-32 sm:mt-10 md:mt-0 lg:mt-0 text-[#31393C] justify-items-center"
      >
        <!-- first card -->
        <div class="md:w-6/12 w-full text-[#31393C] text-left">
          <p
            class="bg-[#FFE7D9] lg:p-5 md:p-4 p-3 lg:text-xl md:text-[17px] rounded-t-[10px] md:rounded-tr-[0px] lg:!rounded-tl-[10px] flex items-center md:h-20 h-16 text-md font-semibold"
          >
            Challenges of Oracle
          </p>
          <div
            class="flex bg-[#FFF8F4] lg:p-5 md:p-4 p-3 md:h-20 h-16 items-center gap-2 border-t border-t-[#ADBDCD]"
          >
            <Image
              loading="eager"
              src={high_hardware_cost}
              alt="high_hardware_cost"
            />
            <p class="text-[#31393C] text-xs md:text-sm lg:text-base leading-4">
              The licensing fees of Oracle are expensive.
            </p>
          </div>
          <div
            class="flex bg-[#FFF8F4] lg:p-5 md:h-20 h-16 md:p-4 p-3 items-center gap-2 border-t border-t-[#ADBDCD]"
          >
            <Image
              loading="eager"
              src={quite_difficult}
              alt="quite_difficult"
            />
            <p
              class="text-[#31393C] text-xs my-2 md:text-sm lg:text-base leading-4"
            >
              Oracle has limited customization capabilities.
            </p>
          </div>
          <div
            class="flex bg-[#FFF8F4] lg:p-5 md:h-20 h-16 md:p-4 p-3 items-center gap-2 border-t border-t-[#ADBDCD]"
          >
            <Image
              loading="eager"
              src={complex_system}
              alt="complex_system"
              class="my-[2.5px]"
            />
            <p class="text-[#31393C] text-xs md:text-sm lg:text-base leading-4">
              Steep learning curve
            </p>
          </div>
          <div
            class="lg:!rounded-bl-[10px] flex bg-[#FFF8F4] md:rounded-bl-[10px] lg:rounded-bl-[10px] lg:p-5 md:p-4 md:h-20 h-16 p-3 items-center gap-2 border-t border-t-[#ADBDCD]"
          >
            <Image
              loading="eager"
              src={higher_dependence}
              alt="higher_dependence"
              class="my-[2.5px]"
            />
            <p
              class="text-left text-[#31393C] text-xs md:text-sm lg:text-base leading-4"
            >
              Higher dependence on the platform.
            </p>
          </div>
        </div>

        <!-- second card -->
        <div class="md:w-6/12 w-full text-[#31393C] text-left">
          <p
            class="bg-[#C8E2FF] lg:p-5 md:p-4 md:h-20 h-16 p-3 md:!rounded-tr-[10px] flex items-center lg:text-xl md:text-lg text-md font-semibold"
          >
            Solutions with ERPNext
          </p>
          <div
            class="flex bg-[#DFEFFF] lg:p-5 md:p-4 md:h-20 h-16 p-3 items-center gap-2 border-t border-t-[#ADBDCD]"
          >
            <Image loading="eager" src={lower_upfront} alt="lower_upfront" />
            <p class="text-[#31393C] text-xs md:text-sm lg:text-base leading-4">
              ERPNext incurs only a one-time licensing cost
            </p>
          </div>
          <div
            class="flex bg-[#DFEFFF] lg:p-5 md:p-4 md:h-20 h-16 p-3 items-center gap-2 border-t border-t-[#ADBDCD]"
          >
            <Image
              loading="eager"
              src={customization_capabilities}
              alt="customization_capabilities"
            />
            <p
              class="text-[#31393C] my-2 text-xs md:text-sm lg:text-base leading-4"
            >
              ERPNext offers enhanced customization capabilities
            </p>
          </div>
          <div
            class="flex bg-[#DFEFFF] lg:p-5 md:p-4 md:h-20 h-16 p-3 items-center gap-2 border-t border-t-[#ADBDCD]"
          >
            <Image loading="eager" src={quite_easy} alt="quite_easy" />
            <p class="text-[#31393C] text-xs md:text-sm lg:text-base leading-4">
              Easy learning curve
            </p>
          </div>
          <div
            class="flex bg-[#DFEFFF] !rounded-b-[10px] md:!rounded-bl-[0px] lg:rounded-none lg:p-5 md:p-4 md:h-20 h-16 p-3 items-center gap-2 border-t border-t-[#ADBDCD]"
          >
            <Image
              loading="eager"
              src={control_with_erpnext}
              alt="control_with_erpnext"
            />
            <p
              class="text-[#31393C] text-left text-xs md:text-sm lg:text-base leading-4"
            >
              More control with ERPNext
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Results -->
  <section class="py-[2rem] md:py-[2rem] lg:py-[4rem]">
    <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
      <div class="lg:mx-12 xl:mx-32">
        <h2
          class="text-left md:text-center text-[#3E96F4] font-semibold text-2xl md:text-3xl lg:text-4xl leading-[1.75rem] md:leading-[2.25rem] lg:leading-[2.75rem] pb-4 md:pb-4 lg:pb-6"
        >
          Our Results
        </h2>
        <p class="text-start md:text-center text-xs md:text-sm lg:text-base !leading-4 md:!leading-5 lg:!leading-6">
          We have connected with our client and their team members to understand
          more about the business, processes, time needed, end goal, and other
          things to plan out the strategy in the right direction and develop a
          universal platform considering all their business requirements.
        </p>

        <div class="md:flex gap-6 lg:gap-5  mt-5">
          <div class="w-full md:w-6/12 flex justify-center items-center mb-4 md:mb-0">
            <Image
            loading="eager"
            src={oracle_ourresult}
            alt="oracle_ourresult"
          />
          </div>
          <div class="w-full md:w-6/12">
            <p class="text-sm md:text-base lg:text-lg font-semibold mb-1">Here’s the best part</p>
            <p class="text-xs md:text-sm lg:text-base">
              We are using just ERPNext for all the migration and implementation
              - considering their diverse set of tasks and processes.<br/><br/>
            </p>
            <p class="text-xs md:text-sm lg:text-base font-semibold mb-1">Some of the stand-out features of this project!</p>
            <p >
              <ul class="text-xs md:text-sm lg:text-base list-disc pl-5">
                <li>Management of diverse procurement processes</li>
                <li>Add & edit quotations</li>
                <li>No manual entries</li>
                <li>End-to-End barcode integration</li>
                <li>Seamlessly handling EXIM transactions</li>
                <li>Tracking stock ageing and re-ordering</li>
                <li>Universal platform(No other platform required)</li>
                <li>Overall asset management</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- The Implementation & Migration Strategy: Oracle to ERPNext Simplified! -->
  <section class="section-bg-left py-[2rem] md:py-[2rem] lg:py-[4rem]">
    <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
      <div class="md:text-center sm:text-left text-[#31393C]">
        <h2
          class="mx-0 md:mx-20 lg:mx-44 text-[#3E96F4] text-start md:text-center text-2xl md:text-3xl lg:text-4xl !leading-[1.75rem] md:!leading-[2.5rem] lg:!leading-[2.75rem] font-semibold"
        >
        The Implementation & Migration Strategy: Oracle to ERPNext Simplified!
        </h2>
      </div>

      <div
        class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-8 text-[#31393C] mt-10 md:mt-12 lg:mt-16"
      >
        <div class="flex flex-wrap gap-3">
          <Image
            loading="eager"
            src={stepone}
            alt="Stepone"
            width={60}
            height={60}
            class="w-auto md:w-2/12 md:h-16 lg:w-2/12"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
            Assessment
            </div>
            <p class="text-xs md:text-sm lg:text-base">
                Our client and their team, who had been struggling with an outdated Oracle system(20-year-old system), are looking for a more cost-effective, streamlined, and feature-rich ERP solution to better organize and manage their business operations. Considering the need for an upgrade, they reached out to Sanskar Technolab
            </p>
          </div>
        </div>
        <div class="flex flex-wrap gap-3">
          <Image
            loading="eager"
            src={steptwo}
            alt="Steptwo"
            width={60}
            height={60}
            class="w-auto md:w-2/12 md:h-16 lg:w-2/12"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
            Introduction to ERPNext
            </div>
            <p class="text-xs md:text-sm lg:text-base">
                After a thorough evaluation of their requirements, such as an easy learning curve and higher customizations and integration, our team recommended ERPNext as the ideal solution. We presented an in-depth explanation of ERPNext's platform, its cost-effectiveness, feature set, customization capabilities, and integrations. The client was convinced with ERPNext and decided to move forward.
            </p>
          </div>
        </div>
        <div class="flex flex-wrap gap-3">
          <Image
            loading="eager"
            src={stepthree}
            alt="Stepthree"
            width={60}
            height={60}
            class="w-auto md:w-2/12 md:h-16 lg:w-2/12"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
            Migration and Implementation
            </div>
            <p class="text-xs md:text-sm lg:text-base">
                After the client onboarding, we commenced the migration and implementation process. We conducted a comprehensive analysis of their business requirements through site visits, connecting with their team, and knowing about their end goals. This analysis paved the way for the seamless migration implementation of new modules, features, and automated workflows.
            </p>
          </div>
        </div>
        <div class="flex flex-wrap gap-3">
          <Image
            loading="eager"
            src={stepfour}
            alt="Stepfour"
            width={60}
            height={60}
            class="w-auto md:w-2/12 md:h-16 lg:w-2/12"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
            Implementation and Customization
            </div>
            <p class="text-xs md:text-sm lg:text-base">
                After that, we delved into the implementation phase. It involves customizing ERPNext to align with the client's specific industry and business processes. We have configured modules such as Purchase, HR & Payroll, CRM, Manufacturing, Accounting, Asset Management, Sales, and Inventory. We have even implemented automated workflows and conducted user training sessions to ensure a smooth transition to the new system.
            </p>
          </div>
        </div>
        <div class="flex flex-wrap gap-3">
          <Image
            loading="eager"
            src={stepfive}
            alt="Stepfive"
            width={60}
            height={60}
            class="w-auto md:w-2/12 md:h-16 lg:w-2/12"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
            Database Migration
            </div>
            <p class="text-xs md:text-sm lg:text-base">
                We are at the last stage. This phase has several technical challenges, such as extracting data from the legacy Oracle system, which was quite different from ERPNext's database schema, and thorough data cleansing and transformation to ensure compatibility with ERPNext's data structure.<br /><br />
                Despite these challenges, our team executed a successful database migration, ensuring a seamless transition from the outdated Oracle system to the new, efficient ERPNext platform.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Our Key Solutions & Integrations! -->
  <section class="py-[2rem] md:py-[2rem] lg:py-[4rem]">
    <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
      <div class="md:text-center sm:text-left text-[#31393C]">
        <h2
          class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
        >
          Our Key Solutions & Integrations!
        </h2>
      </div>

      <div
        class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-14 md:gap-10 text-[#31393C] mt-12 md:mt-12 lg:mt-16"
      >
        <div class="flex flex-wrap gap-3">
            <Image
            loading="eager"
            src={purchase_management}
            alt="Purchase Management"
            width={64}
            height={64}
            class="w-auto md:w-2/12 md:h-20 self-start -mt-5"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
            Purchase Module
            </div>
            <p class="text-xs md:text-sm lg:text-base">
                This module is designed to streamline the procurement process.
                <ul class="text-xs md:text-sm lg:text-base list-disc pl-5 mt-2">
                    <li>It helps them manage various procurement processes, including B17, Form A, and intimation.</li>
                    <li>With this module, they can efficiently track purchase orders, suppliers, and invoices.</li>
                    <li>It ensures better control over their procurement operations.</li>
                </ul>
            </p>
          </div>
        </div>
        <div class="flex flex-wrap gap-3">
          <Image
            loading="eager"
            src={oracle_hr_payroll}
            alt="Oracle Hr&Payroll"
            width={64}
            height={64}
            class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
            HR & Payroll Module
            </div>
            <p class="text-xs md:text-sm lg:text-base">
                With a team of over 2000+ team members, our client is looking forward to an easy and cost-efficient system to manage human resources and payroll.
                <ul class="text-xs md:text-sm lg:text-base list-disc pl-5 mt-2">
                    <li>Our team understood their requirements and implemented features such as leave management, overtime tracking, salary processing, productivity analysis, holiday scheduling, and even loan management.</li>
                    <li>It simplifies their overall HR tasks, making it easier to handle a large workforce.</li>
                </ul>
            </p>
          </div>
        </div>
        <div class="flex flex-wrap gap-3">
          <Image
            loading="eager"
            src={oracle_crm}
            alt="Oracle CRM"
            width={64}
            height={64}
            class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
            CRM Module
            </div>
            <p class="text-xs md:text-sm lg:text-base">
                Our clients haven’t had any CRM before, so they are looking to implement it for better customer relationship management.
                <ul class="text-xs md:text-sm lg:text-base list-disc pl-5 mt-2">
                    <li>We have implemented a CRM module that includes features like mail integration, lead generation, lead tracking, and opportunity management. </li>
                    <li>They can even make and edit the quotations, making it easier to manage the sales process and improve customer relations.</li>                                     
                </ul>
            </p>
          </div>
        </div>
        <div class="flex flex-wrap gap-3">
          <Image
            loading="eager"
            src={manufacturing_optimization}
            alt="Manufacturing Optimization"
            width={64}
            height={55}
            class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
            Manufacturing Module
            </div>
            <p class="text-xs md:text-sm lg:text-base">
                This module is essential for businesses dealing with production processes.
                <ul class="text-xs md:text-sm lg:text-base list-disc pl-5 mt-2">
                    <li>It provides our client with features such as end-to-end item tracking, shift-wise production tracking, barcode integration, weight management, automated tracking, and multiple production order entry.</li>
                    <li>They can use this module to optimize their manufacturing operations and improve product quality.</li>
                </ul>
            </p>
          </div>
        </div>
        <div class="flex flex-wrap gap-3">
            <Image
              loading="eager"
              src={accounting_integration}
              alt="Accounting Integration"
              width={57}
              height={64}
              class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
            />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
            Accounting Module
            </div>
            <p class="text-xs md:text-sm lg:text-base">
                Efficient financial management is crucial for any business.
                <ul class="text-xs md:text-sm lg:text-base list-disc pl-5 mt-2">
                    <li>The accounting module helps Ambica Polymers manage employee salaries, handle export transactions (Exim), and address various accounting needs. </li>
                    <li>We have even added features such as financial reporting along with accurate and compliant accounting practices.</li> 
                </ul>
            </p>
          </div>
        </div>
        <div class="flex flex-wrap gap-3">
          <Image
            loading="eager"
            src={oracle_asset_management}
            alt="Oracle Asset Management"
            width={62}
            height={60}
            class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
            Asset Management Module
            </div>
            <p class="text-xs md:text-sm lg:text-base">
                To help our client properly track and manage assets to maintain operational efficiency, we have implemented this module.
                <ul class="text-xs md:text-sm lg:text-base list-disc pl-5 mt-2">
                    <li>It helps them track assets, schedule maintenance, calculate depreciation, and monitor overall asset conditions. </li>
                    <li>The implementation makes sure that their assets are well-maintained and used optimally.</li>
                </ul>
            </p>
          </div>
        </div>
        <div class="flex flex-wrap gap-3">
            <Image
                loading="eager"
                src={sales_tracking}
                alt="Sales_Tracking"
                width={64}
                height={64}
                class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
            />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
            Sales Module
            </div>
            <p class="text-xs md:text-sm lg:text-base">
                The sales module provides tools for managing sales orders efficiently for our clients.
                <ul class="text-xs md:text-sm lg:text-base list-disc pl-5 mt-2">
                    <li>Our team has implemented features such as master barcodes for bulk order tracking, system integration for dispatch, and automated sales invoice generation and sending.</li>
                    <li>All of these features and modules structure the sales process and improve order accuracy.</li>
                </ul>
            </p>
          </div>
        </div>
        <div class="flex flex-wrap gap-3">
          <Image
            loading="eager"
            src={inventory_management}
            alt="Inventory Management"
            width={63}
            height={64}
            class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
            Inventory Module
            </div>
            <p class="text-xs md:text-sm lg:text-base">
                We have even helped them with the implementation of the inventory module.
                <ul class="text-xs md:text-sm lg:text-base list-disc pl-5 mt-2">
                    <li>It helps them swiftly organize their inventory by location and warehouse, track stock ageing, automate re-ordering, and implement a Kanban inventory management system.</li>
                    <li>The implementation ensures that they have the right products available when needed, reducing stockouts and overstocking.</li>
                </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Why have Our Clients Chosen Us for their Migration and Implementation Needs? -->
  <section class="my-[2rem] md:my-[5rem] lg:my-[4rem]">
    <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
      <h2
        class="xl:mx-10 text-2xl md:text-3xl lg:text-4xl text-start md:text-center text-[#3E96F4] font-semibold leading-[1.75rem] md:leading-[2.25rem] lg:leading-[2.75rem]"
      >
        Why have Our Clients Chosen Us for their Migration and Implementation
        Needs?
      </h2>
      <div
        class="grid grid-cols-1 mx-10 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-11 md:gap-10 xl:gap-14 mt-10 md:mt-14 lg:mt-16 text-[#31393C] text-center"
      >
        <div class="flex flex-col items-center">
          <Image
            loading="eager"
            src={thorough_demo}
            alt="Thorough Demo"
            width={79}
            height={62}
          />
          <p
            class="my-2 md:my-3 lg:my-4 text-base md:text-lg lg:text-xl font-semibold"
          >
          Thorough Demo
          </p>
          <p
            class="font-normal text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6"
          >
          We have given our client a comprehensive demo of why we should switch to ERPNext and everything around that platform. We have given our client a practical insight into how our team can enhance their business operations and further simplify the business workflows.
          </p>
        </div>

        <div class="flex flex-col items-center">
          <Image
            loading="eager"
            src={site_visits}
            alt="Site Visits"
            width={67}
            height={72}
          />
          <p
            class="my-2 md:my-3 lg:my-4 text-base md:text-lg lg:text-xl font-semibold"
          >
            Site Visits
          </p>
          <p
            class="font-normal text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6"
          >
          Sanskar Technolab went the extra mile by conducting on-site visits to our client's businesses, gaining an in-depth understanding of their unique operations and project requirements. This personalized approach was a key factor in their decision-making process.
          </p>
        </div>

        <div class="flex flex-col items-center">
          <Image
            loading="eager"
            src={erpnext_bronze_partner}
            alt="ERPNext Bronze Partner"
            width={166}
            height={55}
          />
          <p
            class="my-2 md:my-3 lg:my-4 text-base md:text-lg lg:text-xl font-semibold"
          >
            ERPNext Bronze Partner
          </p>
          <p
            class="font-normal text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6"
          >
          The fact that Sanskar Technolab is a distinguished ERPNext Bronze Partner was a strong point of attraction. This partnership status signifies a high level of expertise, trustworthiness, and a commitment to delivering top-tier ERPNext solutions.
          </p>
        </div>

        <div class="flex flex-col items-center md:flex lg:hidden">
          <Image
            loading="eager"
            src={prototype_visualization}
            alt="Prototype Visualization"
            width={65}
            height={62}
          />
          <p
            class="my-2 md:my-3 lg:my-4 text-base md:text-lg lg:text-xl font-semibold"
          >
          Prototype Screen Visualization
          </p>
          <p
            class="font-normal text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6"
          >
          With the system's interface and functionality prototype, we allowed the client to visualize their processes within ERPNext and how our process will unfold throughout. This visual representation facilitated collaborative discussions and ensured the system design precisely met their unique requirements, ensuring a successful migration and implementation without much hassles later on.
          </p>
        </div>

        <div class="flex flex-col items-center md:flex lg:hidden">
          <Image
            loading="eager"
            src={industry_rich_experience}
            alt="Industry Rich Experience"
            width={63}
            height={62}
          />
          <p
            class="my-2 md:my-3 lg:my-4 text-base md:text-lg lg:text-xl font-semibold"
          >
          Industry-Rich Experience
          </p>
          <p
            class="font-normal text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6"
          >
          Sanskar Technolab successful track record in completing various projects within the manufacturing industry resonated with our client. This industry-specific experience provides them with the assurance that their manufacturing processes will be optimized effectively.
          </p>
        </div>
      </div>
      <div
        class="hidden md:hidden lg:mx-5 xl:mx-10 2xl:mx-36 lg:grid grid-cols-2 gap-4 px-0 md:px-0 lg:px-28 xl:px-28 lg:gap-10 xl:gap-10 mt-16 text-[#31393C] text-center"
      >
        <div class="flex flex-col items-center">
          <Image
            loading="eager"
            src={prototype_visualization}
            alt="Prototype Visualization"
            width={65}
            height={62}
          />
          <p
            class="my-2 md:my-3 lg:my-4 text-base md:text-lg lg:text-xl font-semibold"
          >
          Prototype Screen Visualization
          </p>
          <p
            class="font-normal text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6"
          >
          With the system's interface and functionality prototype, we allowed the client to visualize their processes within ERPNext and how our process will unfold throughout. This visual representation facilitated collaborative discussions and ensured the system design precisely met their unique requirements, ensuring a successful migration and implementation without much hassles later on.
          </p>
        </div>

        <div class="flex flex-col items-center">
          <Image
            loading="eager"
            src={industry_rich_experience}
            alt="Industry Rich Experience"
            width={63}
            height={62}
          />
          <p
            class="my-2 md:my-3 lg:my-4 text-base md:text-lg lg:text-xl font-semibold"
          >
            Industry-Rich Experience
          </p>
          <p
            class="font-normal text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6"
          >
          Sanskar Technolab successful track record in completing various projects within the manufacturing industry resonated with our client. This industry-specific experience provides them with the assurance that their manufacturing processes will be optimized effectively.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Feedback from our client! -->
  <section
    class="section-bg-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
  >
    <div class="md:text-center sm:text-left">
      <h2 class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-semibold">
        Feedback from our client!
      </h2>
    </div>

    <div
      class="grid gap-5 items-center mt-5 lg:mt-10 mx-0 lg:mx-44 xl:mx-40 2xl:mx-72"
    >
      <div
        class="grid flex-shrink-0 client_shadow w-full gap-2 client_card_height"
      >
        <Image
          loading="eager"
          src={ambica_logo}
          alt="Shri Ambica Polymer Pvt. LTD"
          width={239}
          height={45}
        />
        <div
          class="text-base md:text-lg lg:text-xl lg:!leading-9 md:!leading-8 !leading-7 font-semibold"
        >
        Ambica Polymers
        </div>
        <p class="text-xs md:text-sm lg:text-base">
            Our team is struggling with the 20-year-old system on Oracle which is affecting their productivity and overall business operations. We are willing to migrate to a new ERP system and that's when Sanskar Technolab suggested opting for ERPNext as it is quite easy to use, cost-effective, and open-source.<br /><br />
            The Sanskar technolab team has completed a smooth migration from Oracle to ERPNext and even implemented new customized features on ERPNext. They have understood our requirements very well and delivered the desired results. Thank you, Sahil, Harsh, and especially Kirit Bhai.
        </p>
        <div class="mt-1">
          <p class="text-xs md:text-sm lg:text-base font-semibold">Yogeshkumar Agrawal</p>
          <p class="text-xs md:text-xs lg:text-sm">
            Chairman, Ambica Polymers
          </p>
        </div>
      </div>
    </div>
  </section>

  <style>
    .first_card {
      background: linear-gradient(
        180deg,
        #cecece 0%,
        #f9f9f9 52.08%,
        #fff 100%
      );
    }

    /* .timeline {
            position: relative;
            padding: 20px;
            background-image: url("../public/Images/sap_timeline.svg");
        } */

    .timeline {
      position: relative;
      width: 100%;
      max-width: 1140px;
      margin: 0 auto;
      padding: 15px 0;
    }

    .timeline::after {
      content: "";
      position: absolute;
      width: 2px;
      background: #92c9ff;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -1px;
    }

    @media (max-width: 767.98px) {
      .timeline::after {
        content: "";
        position: absolute;
        width: 2px;
        background: #92c9ff;
        top: 0;
        bottom: 0;
        left: 20px;
        margin-left: -1px;
      }
    }

    .result-shadow {
      border-radius: 10px;
      border: 2px solid #fff;
      background: linear-gradient(135deg, #ecf5ff 0%, #fff 100%);
      box-shadow: 4px 4px 4px 0px rgba(62, 150, 244, 0.15);
    }

    .client_shadow {
      border-radius: 20px;
      background: #fff;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
    }

    .client_card_height {
      height: 28rem;
      padding: 1.75rem;
    }

    @media (max-width: 374px) {
      .client_card_height {
        height: 30rem;
        padding: 1rem;
      }
    }
    @media (min-width: 1024px) and (max-width: 1250px) {
      .client_card_height {
        height: 34rem;
        padding: 1rem;
      }
    }
    .section-bg-right {
      position: relative;
    }

    .section-bg-right::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100rem;
      background-image: radial-gradient(
        ellipse at right,
        rgba(62, 150, 244, 0.1),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      );
      background-origin: border-box;
      background-clip: padding-box, border-box;
      z-index: -1;
    }
    .section-bg-center {
      position: relative;
    }

    .section-bg-center::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 80rem;
      background-image: radial-gradient(
        rgba(62, 150, 244, 0.1),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      );
      background-origin: border-box;
      background-clip: padding-box, border-box;
      z-index: -1;
    }
    .section-bg-left {
      position: relative;
    }

    .section-bg-left::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 80rem;
      background-image: radial-gradient(
        ellipse at left,
        rgba(62, 150, 244, 0.10),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      );
      background-size: 150% 100%;
      margin-top: -30rem;
      z-index: -1;
    }
    @media (max-width: 370px) {
      .flex-part {
        flex-direction: column;
      }
    }
  </style>
</Layout>
