---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import { Image, Picture } from "@astrojs/image/components";

import jagdamba_textile_banner from "../../public/Images/jagdamba-textile-banner.svg";
import jagdamba_logo_textile from "../../public/Images/jagdamba_logo_textile.svg";

import section_client from "../../public/Images/section-client-jagdamba.svg";

import jagdamba_ourresult from "../../public/Images/jagdamba-ourresult.svg";


import purchase_management from "../../public/Images/purchase_management.svg";
import sales_tracking from "../../public/Images/sales_tracking.svg";
import custom_reports from "../../public/Images/custom_reports.svg";
import inventory_management from "../../public/Images/inventory_management.svg";

import adoption_jagdamba from "../../public/Images/adoption-jagdamba.svg";
import comprehensive_scope_jagdamba from "../../public/Images/comprehensive-scope-jagdamba.svg";
import rich_industry_expertise_jagdamba from "../../public/Images/rich-industry-expertise-jagdamba.svg";
import robust_post_project_support_jagdamba from "../../public/Images/robust-post-project-support-jagdamba.svg";
import seamless_collaboration_jagdamba from "../../public/Images/seamless-collaboration-jagdamba.svg";
import site_visits_jagdamba from "../../public/Images/site-visits-jagdamba.svg";

import complex_lot_management_jagdamba from "../../public/Images/complex_lot_management_jagdamba.svg";
import lot_wise_dispatch_challenge_jagdamba from "../../public/Images/lot_wise_dispatch_challenge_jagdamba.svg";
import shortage_material_tracking_challenge_jagdamba from "../../public/Images/shortage_material_tracking_challenge_jagdamba.svg";
import ui_efficiency_challenge_jagdamba from "../../public/Images/ui_efficiency_challenge_jagdamba.svg";

---

<Layout
  title=" Jagdamba Textile is saving 45 ManPower hours daily with our ERPNext Implementation. | Sanskar Technolab"
  ,
  description="Jagdamba Textile is the leading Textile company, looking forward to structure their business workflows. Our team has implemented diverse range of ERPNext modules to make it possible."
  ,
  keyword="erp implementation partner, erpnext implementation, erp implementation partner, erp implementation companies, ERPNext software development company, ERPNext development services, Erpnext solution company, Frappe ERPNext, Erpnext software, ERPNext open-source, ServiceNow company, Servicenow implementation services"
  ,
  description=" Jagdamba Textile is the leading Textile company, looking to structure their business workflows. Our team has implemented diverse range of ERPNext modules and migration from Microsoft ERP to ERPNext to for desired results."
  ,
  canonical_href="https://sanskartechnolab.com/textile-industry-erpnext-implementation"
>
  <!-- Banner Section -->
  <section
    class="hidden lg:flex section-bg h-[110vh] xl:h-[100vh] 2xl:h-[75vh] flex items-center banner-bg"
  >
    <div
      class="flex flex-wrap items-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
    >
      <div class="w-full md:w-6/12">
        <h1
          class=" text-[2.75rem] !leading-tight leading-7 text-[#31393C] font-semibold"
        >
        Jagdamba Textile is saving 45 ManPower hours daily with our ERPNext Implementation.
        </h1>
        <p
          class="xl:mr-20 text[#31393C] text-base md:text-lg !leading-7 md:leading-6 mt-5"
        >
        Our client is willing to streamline their textile manufacturing and operations by leveraging the best-in-class ERP and wanted boost in employee productivity. We’ve understood their business needs and offered end-to-end ERPNext implementation solutions.
        </p>
      </div>

      <Image
        loading="eager"
        src={jagdamba_textile_banner}
        alt="jagdamba_textile_banner"
        class="md:w-6/12 pl-10 2xl:ml-auto"
      />
    </div>
  </section>

  <section class="section-bg flex items-center md:flex lg:hidden banner-bg">
    <div
      class="flex flex-wrap items-center mx-5 gap-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
    >
      <div class="w-full lg:w-6/12 mt-5">
        <div
          class="text-[1.75rem] md:text-[3rem] leading-9 md:leading-[3.5rem] text-[#31393C] font-semibold"
        >
        Jagdamba Textile is saving 45 ManPower hours daily with our ERPNext Implementation.
        </div>
        <p
          class="text[#31393C] text-sm md:text-base !leading-5 md:leading-6 mt-5"
        >
        Our client is willing to streamline their textile manufacturing and operations by leveraging the best-in-class ERP and wanted boost in employee productivity. We’ve understood their business needs and offered end-to-end ERPNext implementation solutions.
        </p>
      </div>

      <Image
        loading="eager"
        src={jagdamba_textile_banner}
        alt="jagdamba_textile_banner"
        class="mx-auto mb-10"
      />
    </div>
  </section>

  <!-- Subtle Glimpses of the Project! -->
  <section class="py-[2rem] md:py-[2rem] lg:pb-[4rem] lg:pt-[6rem] mt-0">
    <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
      <h2
        class="text-2xl md:text-3xl lg:text-4xl font-semibold text-[#3E96F4] leading-[2rem] md:leading-[2.75rem] lg:leading-[3rem]"
      >
        Subtle Glimpses of the Project!
      </h2>
      <div
        class="md:grid grid-cols-12 gap-8 lg:gap-14 2xl:gap-16 mt-4 md:mt-8 lg:mt-8"
      >
        <div
          class="col-span-7 lg:col-span-8 xl:col-span-9 gap-5 md:gap-6 lg:gap-4 xl:gap-6 2xl:gap-10"
        >
          <Image
            loading="eager"
            class="mb-4 md:ml-0"
            src={jagdamba_logo_textile}
            alt="Shree Jagdamba Textile"
            width={77}
            height={77}
          />
          <p
            class="text-xs md:text-sm lg:text-base text-[#31393C] font-normal leading-4 md:leading-5 lg:leading-6 my-auto"
          >
          Shree Jagdamba Textiles Pvt Ltd is a well-known textile company in Ahmedabad, Gujarat. Since its founding in 1991, they have advanced and grown significantly in the textile processing industry. They are involved in a variety of operations  and complicated textile manufacturing processes, ranging from easy to complicated dyeing procedures to rotary printing procedures.<br/><br/>
          To better manage all these processes and structure the workflows, they have reached out to Sanskar Technolab for the effective implementation of ERPNext, its diverse modules and migration from Microsoft ERP to ERPNext.          
          </p>
        </div>

        <div
          class="col-span-5 lg:col-span-4 flex-part xl:col-span-3 mt-6 md:mt-0 lg:mt-0 ml-0 md:ml-5 lg:ml-0 flex sm:flex-row md:flex-col gap-5 md:gap-0"
        >
          <div>
            <div class="mb-4">
              <p
                class="text-xs md:text-sm lg:text-base text-[#31393C] font-normal leading-4 md:leading-5 lg:leading-6"
              >
                <span
                  class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-semibold"
                  >Client Location
                </span>
                <br /> Ahmedabad, Gujarat.
              </p>
            </div>
            <div class="mb-4">
                <p
                  class="text-xs md:text-sm lg:text-base text-[#31393C] font-normal leading-4 md:leading-5 lg:leading-6"
                >
                  <span
                    class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-semibold"
                    >Industry
                  </span>
                  <br /> Manufacturing
                </p>
              </div>
          </div>

          <div>
            <div class="mb-4">
                <p
                  class="text-xs md:text-sm lg:text-base text-[#31393C] font-normal leading-4 md:leading-5 lg:leading-6"
                >
                  <span
                    class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-semibold"
                    >Tech-Stack
                  </span>
                  <br /> Web Server: Frappe Cloud,<br /> Database: MySQL (Maria DB),
                  <br /> ERPNext Version: 14.13.0
                </p>
              </div>            
            <div>
              <p
                class="text-xs md:text-sm lg:text-base text-[#31393C] font-normal leading-4 md:leading-5 lg:leading-6"
              >
                <span
                  class="text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6 font-semibold"
                  >Project Methodology
                </span>
                <br /> Agile Scrum Methodology
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

   <!-- What does the client want from us? -->
   <section class="section-bg-right py-[2rem] md:py-[2rem] lg:py-[4rem]">
    <div
      class="grid place-items-center grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-6 md:gap-8 lg:gap-16 mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0"
    >
      <div class="flex justify-center md:justify-center lg:justify-start">
        <Image
          loading="eager"
          src={section_client}
          alt="What Does Client Want"
          width={504}
          height={417}
        />
      </div>
      <div>
        <h2
          class="text-[#3E96F4] pb-2 md:pb-4 lg:pb-6 font-semibold text-2xl md:text-3xl lg:text-4xl leading-[1.75rem] md:leading-[2.25rem] lg:leading-[2.75rem]"
        >
          What does the client want from us?
        </h2>
        <p
          class="text-[#31393C] pb-2 md:pb-4 lg:pb-6 leading-4 md:leading-5 lg:leading-6 text-xs md:text-sm lg:text-base font-normal"
        >
        Our client is using the Microsoft ERP for management of their textile manufacturing and other business operations. Due to old systems and rigid processes, they are struggling with lesser employee productivity and errors throughout.<br/><br/>To simplify their employee tasks and better manage the workflows, we have suggested them to opt for ERPNext. It is a robust, cost-effective and feature-rich ERP with diverse modules, which manages all the operations in one place.        
        </p>
      </div>
    </div>
  </section>

  <!-- Our Results -->
  <section class="py-[2rem] md:py-[2rem] lg:py-[4rem]">
    <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
      <div class="lg:mx-12 xl:mx-32">
        <h2
          class="text-left md:text-center text-[#3E96F4] font-semibold text-2xl md:text-3xl lg:text-4xl leading-[1.75rem] md:leading-[2.25rem] lg:leading-[2.75rem] pb-4 md:pb-4 lg:pb-6"
        >
          Our Results
        </h2>
        <p class="mr-16 text-start md:text-center text-xs md:text-sm lg:text-base !leading-4 md:!leading-5 lg:!leading-6">
            The team at Sanskar Technolab thoroughly understands their unique business needs, migration from Microsoft ERP to ERPNext and ERPNext implementation requirements with diverse modules such as purchase, sales, stock and even custom reports to ensure desired end results for the clients.
        </p>

        <div class="md:flex gap-6 lg:gap-5  mt-5">
          <div class="w-full md:w-6/12 flex justify-center items-center mb-4 md:mb-0">
            <Image
            loading="eager"
            src={jagdamba_ourresult}
            alt="jagdamba_ourresult"
          />
          </div>
          <div class="w-full md:w-6/12">
            <p class="text-sm md:text-base lg:text-lg font-semibold mb-1">Here’s the best part:</p>
            <p class="text-xs md:text-sm lg:text-base">
                We have given them a comprehensive scope of work with the detailed budget and timeline to deliver the best quality within the deadline and budget. Also, we have quality project management and communication tools in place to ensure seamless collaboration throughout the project.<br/><br/>
            </p>
            <p class="text-xs md:text-sm lg:text-base font-semibold mb-1">Some of the stand-out features of this project!</p>
            <p >
              <ul class="text-xs md:text-sm lg:text-base list-disc pl-5">
                <li>Tracking shortage of materials</li>
                <li>Diverse Custom Reports</li>
                <li>End-to-End lot & bale management</li>
                <li>Entire keyboard operated interface</li>
                <li>Streamlined packaging & dispatching process</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Solutions for the Client -->
  <section class="py-[2rem] md:py-[2rem] lg:py-[4rem]">
    <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
      <div class="md:text-center sm:text-left text-[#31393C]">
        <h2
          class="text-[#3E96F4] text-2xl md:text-3xl lg:text-4xl font-semibold"
        >
        Our Solutions for the Client
        </h2>
      </div>

      <div
        class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-14 md:gap-10 text-[#31393C] mt-12 md:mt-12 lg:mt-16"
      >
        <div class="flex flex-wrap gap-3">
            <Image
            loading="eager"
            src={purchase_management}
            alt="Purchase Management"
            width={64}
            height={64}
            class="w-auto md:w-2/12 md:h-20 self-start -mt-5"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
            Purchase Module
            </div>
            <p class="text-xs md:text-sm lg:text-base">
                This module was customized to enable efficient "Grey Inward" material tracking, division of materials into different processes, and seamless tracking throughout the procurement journey. The system also facilitated streamlined management of return entries.                
            </p>
          </div>
        </div>
        <div class="flex flex-wrap gap-3">
          <Image
            loading="eager"
            src={sales_tracking}
            alt="Sales Tracking"
            width={64}
            height={64}
            class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
            Sales Module
            </div>
            <p class="text-xs md:text-sm lg:text-base">
                The ERPNext Sales module was enhanced to include a robust "Bale and Lot" number management system. This feature allowed for improved packaging and dispatching of products in line with textile industry standards.                
            </p>
          </div>
        </div>
        <div class="flex flex-wrap gap-3">
          <Image
            loading="eager"
            src={inventory_management}
            alt="Inventory Management"
            width={63}
            height={64}
            class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
            Inventory Module
            </div>
            <p class="text-xs md:text-sm lg:text-base">
                Customizations within the Inventory module introduced "Lot Master" and "Bale Master" functionalities, providing Jagdamba Textile with better control over inventory management aligned with their purchase, sales and dispatch of the orders.
            </p>
          </div>
        </div>
        <div class="flex flex-wrap gap-3">
          <Image
            loading="eager"
            src={custom_reports}
            alt="Custom Reports"
            width={64}
            height={64}
            class="w-auto md:w-2/12 md:h-16 self-start -mt-5"
          />
          <div class="w-full md:w-9/12">
            <div
              class="text-base md:text-lg lg:text-xl mb-1 md:mb-1 lg:mb-2 font-semibold"
            >
            Custom Reports
            </div>
            <p class="text-xs md:text-sm lg:text-base">
                A key component of the ERPNext implementation project was the development of customized reports. These included Grey Inward Register, Lot Registers, Bale Register, Invoice Register, Stock Reports, Grey Purchase Register, and Raw Materials Purchase. These reports streamlined operations and improved decision-making by providing accurate, real-time data.
            </p>
          </div>
        </div>
    </section>

    <!-- Their Challenges with Local ERP & Our solutions with Power-Packed ERPNext! -->
    <section
      class="section-bg-left"      
    ><div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]">
      <!-- <div class="grid justify-items-center gap-20"> -->
      <div class="md:text-center sm:text-left">
        <h2
          class="text-2xl md:text-3xl lg:text-4xl !leading-[2rem] md:!leading-[2.25rem] lg:!leading-[2.75rem] text-[#3E96F4] font-semibold"
        >
        Their Challenges with Microsoft ERP & Our solutions with<br
            class="hidden md:block"
          />  Power-Packed ERPNext!
        </h2>
      </div>
      <!-- </div> -->

      <table class="hidden md:inline-table table-fixed w-full text-left mt-10 md:mt-14 lg:mt-20 text-[#31393C]">
        <thead>
          <tr class="border-b border-[#ADBDCD]">
            <th></th>
            <th class="text-base md:text-lg lg:text-xl font-semibold bg-[#F6FBFF] p-5 rounded-tl-[10px]">Challenge</th>
            <th class="text-base md:text-lg lg:text-xl font-semibold bg-[#DFEFFF] p-5 rounded-tr-[10px]">Solution</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b border-[#ADBDCD]">
            <td>
                <div class="flex xl:gap-3">
                    <Image
                      loading="eager"
                      src={complex_lot_management_jagdamba}
                      alt="complex_lot_management_jagdamba"
                      width={69}
                      height={69}
                    />
                  <p class="text-base md:text-lg lg:text-xl font-semibold align-top p-5">Complex Lot and Bale Management Challenge</p>
                </div>
              </td>              
            <td class="text-xs md:text-sm lg:text-base bg-[#F6FBFF] p-5">Lot and Bale management in the textile industry can be intricate, especially for a company like Jagdamba Textile, which deals with a variety of materials and processes. Tracking and managing different lots and bales for raw materials and finished products presented a significant challenge.</td>
            <td class="text-xs md:text-sm lg:text-base bg-[#DFEFFF] p-5">To address this, we customized the Lot Master and Bale Master in ERPNext to cater to the client's specific needs. This allowed Jagdamba Textile to efficiently track and manage their materials by lot and bale, providing a higher level of granularity and control.</td>
          </tr>
          <tr  class="border-b border-[#ADBDCD]">
            <td>
            <div class="flex xl:gap-3">
                <Image
                  loading="eager"
                  src={shortage_material_tracking_challenge_jagdamba}
                  alt="shortage_material_tracking_challenge_jagdamba"
                  width={69}
                  height={74}
                />
              <p class="text-base md:text-lg lg:text-xl font-semibold align-top p-5">Shortage Material Tracking Challenge</p>
            </div></td>
            <td class="text-xs md:text-sm lg:text-base bg-[#F6FBFF] p-5 pt-0">Dealing with material shortages is a common issue in textile manufacturing. The existing system lacked a robust mechanism for registering material shortages, making it challenging to address this problem promptly.</td>
            <td class="text-xs md:text-sm lg:text-base bg-[#DFEFFF] p-5">We implemented a customized shortage material tracking feature that enabled Jagdamba Textile to register and track material shortages accurately within the ERP system. This functionality allowed for timely replenishment and minimized production interruptions.</td>
          </tr>
          <tr  class="border-b border-[#ADBDCD]">
            <td>
            <div class="flex xl:gap-3">
                <Image
                  loading="eager"
                  src={ui_efficiency_challenge_jagdamba}
                  alt="ui_efficiency_challenge_jagdamba"
                  width={69}
                  height={69}
                />
              <p class="text-base md:text-lg lg:text-xl font-semibold align-top p-5">User Interface Efficiency Challenge</p>
            </div></td>
            <td class="text-xs md:text-sm lg:text-base bg-[#F6FBFF] p-5">Their team has to juggle between hundreds of entries in a day and they want to use mouse for switching and handling entries, which was quite time consuming.</td>
            <td class="text-xs md:text-sm lg:text-base bg-[#DFEFFF] p-5">To enhance user efficiency, we developed a custom user interface that allowed seamless keyboard navigation within the ERPNext system. This feature empowered Jagdamba Textile's staff to switch between fields using keyboard only, eliminating the need for constant mouse interaction and significantly improving data entry speed and accuracy.</td>
          </tr>
          <tr  class="border-b border-[#ADBDCD]">
            <td>
            <div class="flex xl:gap-3">
                <Image
                  loading="eager"
                  src={lot_wise_dispatch_challenge_jagdamba}
                  alt="lot_wise_dispatch_challenge_jagdamba"
                  width={69}
                  height={63}
                />
              <p class="text-base md:text-lg lg:text-xl font-semibold align-top p-5">Lot and Bale Wise Dispatch Challenge</p>
            </div></td>
            <td class="text-xs md:text-sm lg:text-base bg-[#F6FBFF] p-5 pt-0">Managing dispatch operations lot and bale-wise was a tedious task for our client, especially without a tailored system in place.</td>
            <td class="text-xs md:text-sm lg:text-base bg-[#DFEFFF] p-5">We introduced a custom interface for lot and bale-wise dispatch within the ERPNext system. This feature streamlined the dispatch process, ensuring that products were dispatched according to specific lot and bale numbers, reducing the likelihood of errors and improving traceability.</td>
          </tr>
        </tbody>
      </table>

      <!-- for small screen -->
      <div class="block md:hidden table-fixed w-full text-left mt-10 md:mt-14 lg:mt-20 text-[#31393C]">
        <div>
            <div class="flex mb-1">
                <Image
                      loading="eager"
                      src={complex_lot_management_jagdamba}
                      alt="complex_lot_management_jagdamba"
                      width={56}
                      height={49}
                    />
                <p class="text-base md:text-lg lg:text-xl font-semibold p-3">Complex Lot and Bale Management Challenge</p>
            </div>
          
          <div class="text-base md:text-lg lg:text-xl bg-[#F6FBFF] p-3">
            <p class="text-sm font-semibold mb-1">Challenge</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Lot and Bale management in the textile industry can be intricate, especially for a company like Jagdamba Textile, which deals with a variety of materials and processes. Tracking and managing different lots and bales for raw materials and finished products presented a significant challenge.</p>
          </div>
          <div class="text-base md:text-lg lg:text-xl bg-[#DFEFFF] p-3 border-b border-[#ADBDCD]">
            <p class="text-sm font-semibold mb-1">Solution</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">To address this, we customized the Lot Master and Bale Master in ERPNext to cater to the client's specific needs. This allowed Jagdamba Textile to efficiently track and manage their materials by lot and bale, providing a higher level of granularity and control.</p>
          </div>
        </div>

        <div class="mt-8">
            <div class="flex mb-1">
                <Image
                  loading="eager"
                  src={shortage_material_tracking_challenge_jagdamba}
                  alt="shortage_material_tracking_challenge_jagdamba"
                  width={56}
                  height={63}
                />
              <p class="text-base md:text-lg lg:text-xl font-semibold p-3">Shortage Material Tracking Challenge</p>
            </div>
          <div class="text-base md:text-lg lg:text-xl bg-[#F6FBFF] p-3">
            <p class="text-sm font-semibold mb-1">Challenge</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Dealing with material shortages is a common issue in textile manufacturing. The existing system lacked a robust mechanism for registering material shortages, making it challenging to address this problem promptly.</p>
          </div>
          <div class="text-base md:text-lg lg:text-xl bg-[#DFEFFF] p-3 border-b border-[#ADBDCD]">
            <p class="text-sm font-semibold mb-1">Solution</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">We implemented a customized shortage material tracking feature that enabled Jagdamba Textile to register and track material shortages accurately within the ERP system. This functionality allowed for timely replenishment and minimized production interruptions.</p>
          </div>
        </div>

        <div class="mt-8">
            <div class="flex mb-1">
                <Image
                  loading="eager"
                  src={ui_efficiency_challenge_jagdamba}
                  alt="ui_efficiency_challenge_jagdamba"
                  width={56}
                  height={20}
                />
              <p class="text-base md:text-lg lg:text-xl font-semibold p-3">User Interface Efficiency Challenge</p>
            </div>
          <div class="text-base md:text-lg lg:text-xl bg-[#F6FBFF] p-3">
            <p class="text-sm font-semibold mb-1">Challenge</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Their team has to juggle between hundreds of entries in a day and they want to use mouse for switching and handling entries, which was quite time consuming.</p>
          </div>
          <div class="text-base md:text-lg lg:text-xl bg-[#DFEFFF] p-3 border-b border-[#ADBDCD]">
            <p class="text-sm font-semibold mb-1">Solution</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">To enhance user efficiency, we developed a custom user interface that allowed seamless keyboard navigation within the ERPNext system. This feature empowered Jagdamba Textile's staff to switch between fields using keyboard only, eliminating the need for constant mouse interaction and significantly improving data entry speed and accuracy.</p>
          </div>
        </div>

        <div class="mt-8">
            <div class="flex mb-1">
                <Image
                  loading="eager"
                  src={lot_wise_dispatch_challenge_jagdamba}
                  alt="lot_wise_dispatch_challenge_jagdamba"
                  width={69}
                  height={63}
                />
              <p class="text-base md:text-lg lg:text-xl font-semibold p-3">Lot and Bale Wise Dispatch Challenge</p>
            </div>
          <div class="text-base md:text-lg lg:text-xl bg-[#F6FBFF] p-3">
            <p class="text-sm font-semibold mb-1">Challenge</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">Managing dispatch operations lot and bale-wise was a tedious task for our client, especially without a tailored system in place.</p>
          </div>
          <div class="text-base md:text-lg lg:text-xl bg-[#DFEFFF] p-3 border-b border-[#ADBDCD]">
            <p class="text-sm font-semibold mb-1">Solution</p>
            <p class="text-xs md:text-sm lg:text-base !leading-5">We introduced a custom interface for lot and bale-wise dispatch within the ERPNext system. This feature streamlined the dispatch process, ensuring that products were dispatched according to specific lot and bale numbers, reducing the likelihood of errors and improving traceability.</p>
          </div>
        </div>
      </div></div>
    </section>

  <!-- What Our Client Loved Throughout the Project? -->
  <section class="my-[2rem] md:my-[5rem] lg:my-[4rem]">
    <div class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0">
      <h2
        class="xl:mx-10 text-2xl md:text-3xl lg:text-4xl text-start md:text-center text-[#3E96F4] font-semibold leading-[1.75rem] md:leading-[2.25rem] lg:leading-[2.75rem]"
      >
          What Our Client Loved Throughout the Project?
      </h2>
      <div
        class="lg:mx-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-11 md:gap-10 xl:gap-14 mt-10 md:mt-14 lg:mt-16 text-[#31393C] text-center"
      >
        <div class="flex flex-col items-center">
            <Image
              loading="eager"
              src={site_visits_jagdamba}
              alt="Site Visits Jagdamba"
              width={67}
              height={62}
            />
          <p
            class="my-2 md:my-3 lg:my-4 text-base md:text-lg lg:text-xl font-semibold"
          >
          Site Visits to Understand Business Needs
          </p>
          <p
            class="font-normal text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6"
          >
          Jagdamba Textile greatly appreciated our commitment to understanding their business inside out. Conducting site visits allowed us to gain firsthand knowledge of their operations, challenges, and unique requirements and helped us delivered desired results.
          </p>
        </div>

        <div class="flex flex-col items-center">
          <Image
            loading="eager"
            src={adoption_jagdamba}
            alt="Adoption Jagdamba"
            width={68}
            height={62}
          />
          <p
            class="my-2 md:my-3 lg:my-4 text-base md:text-lg lg:text-xl font-semibold"
          >
          Adoption of Latest Best Practices
          </p>
          <p
            class="font-normal text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6"
          >
          By leveraging cutting-edge industry trends and technology, we ensured that Jagdamba Textile received the most advanced and relevant solutions when it comes to migrating from Microsoft ERP to ERPNext and implementing newer modules. This dedication to continuous improvement and innovation assured our client that their were in capable hands.
          </p>
        </div>

        <div class="flex flex-col items-center">
            <Image
              loading="eager"
              src={rich_industry_expertise_jagdamba}
              alt="Rich Industry Expertise Jagdamba"
              width={63}
              height={62}
            />
            <p
              class="my-2 md:my-3 lg:my-4 text-base md:text-lg lg:text-xl font-semibold"
            >
            Rich Industry Expertise
            </p>
            <p
              class="font-normal text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6"
            >
            Our extensive experience in textile manufacturing and handling projects within the textile industry was a significant source of confidence for Jagdamba Textile. The fact that we had successfully managed similar projects in the past allowed the client to trust in our ability to tackle their unique challenges effectively.
            </p>
          </div>
          <div class="flex flex-col items-center">
            <Image
              loading="eager"
              src={comprehensive_scope_jagdamba}
              alt="Comprehensive Scope Jagdamba"
              width={45}
              height={62}
            />
            <p
              class="my-2 md:my-3 lg:my-4 text-base md:text-lg lg:text-xl font-semibold"
            >
            Comprehensive Scope of Work and On-Time, On-Budget Delivery
            </p>
            <p
              class="font-normal text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6"
            >
            The client highly valued our ability to provide a detailed scope of work, including a clear understanding of project timelines and budget constraints. Our commitment to delivering the project within the stipulated timeframe and budget demonstrated our professionalism and reliability.
            </p>
          </div>
          
          <div class="flex flex-col items-center">
            <Image
              loading="eager"
              src={seamless_collaboration_jagdamba}
              alt="Seamless Collaboration Jagdamba"
              width={74}
              height={62}
            />
            <p
              class="my-2 md:my-3 lg:my-4 text-base md:text-lg lg:text-xl font-semibold"
            >
            Seamless Collaboration and Feedback Incorporation
            </p>
            <p
              class="font-normal text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6"
            >
            The collaborative nature of our engagement was another factor that the client loved. We maintained open lines of communication throughout the project, actively seeking and incorporating their feedback. This approach ensured that Jagdamba Textile's voice was heard, and their input was taken into account, resulting in an ERP system that truly met their expectations.
            </p>
          </div>

        <div class="flex flex-col items-center">
            <Image
              loading="eager"
              src={robust_post_project_support_jagdamba}
              alt="Robust Post Project Support Jagdamba"
              width={64}
              height={63}
            />
          <p
            class="my-2 md:my-3 lg:my-4 text-base md:text-lg lg:text-xl font-semibold"
          >
          Robust Post-Project Support
          </p>
          <p
            class="font-normal text-xs md:text-sm lg:text-base leading-4 md:leading-5 lg:leading-6"
          >
          Our commitment to providing post-project support was invaluable to the client. Knowing that they could rely on us for ongoing assistance, updates, and maintenance gave them peace of mind. This robust post-project support not only safeguarded their investment but also demonstrated our long-term commitment to their success.
          </p>
        </div>
    </div>
      
    </div>
  </section>

    <!-- Feedback from our client! -->
  <section
  class="section-bg-center mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[2rem] lg:py-[4rem]"
>
  <div class="md:text-center sm:text-left">
    <h2 class="text-2xl md:text-3xl lg:text-4xl text-[#3E96F4] font-semibold">
      Feedback from our client!
    </h2>
  </div>

  <div
    class="grid gap-5 items-center mt-5 lg:mt-10 mx-0 lg:mx-44 xl:mx-40 2xl:mx-72"
  >
    <div
      class="grid flex-shrink-0 client_shadow w-full gap-2 client_card_height"
    >
      <Image
        loading="eager"
        src={jagdamba_logo_textile}
        alt="Shree Jagdamba Textile"
        width={77}
        height={77}
      />
      <div
        class="text-base md:text-lg lg:text-xl lg:!leading-9 md:!leading-8 !leading-7 font-semibold"
      >
      Jagdamba Textile
      </div>
      <p class="text-xs md:text-sm lg:text-base">
        Our  team was previously struggling with an outdated system and we are doing the manual entries though Microsoft an local ERP. We want to step up our game to further streamline the textile manufacturing, migrate from Microsoft ERP to ERPNext and other process along with structure our workflows when it comes to managing the purchase, sales, processing, packaging and dispatching.<br/><br/>
        Sanskar Technolab understands our needs through communication an site visits and have helped us with the ERPNext implementation. And the very important thing that we were looking for is: Customized Reports for different tasks. We are enoying the current process, specially with the reports.        
      </p>
      <div class="mt-1">
        <p class="text-xs md:text-sm lg:text-base font-semibold">Uttam agrawal</p>
        <p class="text-xs md:text-xs lg:text-sm">
            Managing Director, Jagdamba Textile
        </p>
      </div>
    </div>
  </div>
</section>

<style>
    .first_card {
      background: linear-gradient(
        180deg,
        #cecece 0%,
        #f9f9f9 52.08%,
        #fff 100%
      );
    }

    /* .timeline {
            position: relative;
            padding: 20px;
            background-image: url("../public/Images/sap_timeline.svg");
        } */

    .timeline {
      position: relative;
      width: 100%;
      max-width: 1140px;
      margin: 0 auto;
      padding: 15px 0;
    }

    .timeline::after {
      content: "";
      position: absolute;
      width: 2px;
      background: #92c9ff;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -1px;
    }

    @media (max-width: 767.98px) {
      .timeline::after {
        content: "";
        position: absolute;
        width: 2px;
        background: #92c9ff;
        top: 0;
        bottom: 0;
        left: 20px;
        margin-left: -1px;
      }
    }

    .result-shadow {
      border-radius: 10px;
      border: 2px solid #fff;
      background: linear-gradient(135deg, #ecf5ff 0%, #fff 100%);
      box-shadow: 4px 4px 4px 0px rgba(62, 150, 244, 0.15);
    }

    .client_shadow {
      border-radius: 20px;
      background: #fff;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
    }

    .client_card_height {
      height: 30rem;
      padding: 1.75rem;
    }

    @media (max-width: 374px) {
      .client_card_height {
        height: 35rem;
        padding: 1rem;
      }
    }
    @media (min-width: 1024px) and (max-width: 1250px) {
      .client_card_height {
        height: 34rem;
        padding: 1rem;
      }
    }
    .section-bg-center {
      position: relative;
    }

    .section-bg-center::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 80rem;
      background-image: radial-gradient(
        rgba(62, 150, 244, 0.10),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      );
      background-origin: border-box;
      background-clip: padding-box, border-box;
      z-index: -1;
    } .section-bg-right {
      position: relative;
    }

    .section-bg-right::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100rem;
      background-image: radial-gradient(
        ellipse at right,
        rgba(62, 150, 244, 0.10),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      );
      background-origin: border-box;
      background-clip: padding-box, border-box;
      z-index: -1;
    }

    .section-bg-left {
      position: relative;
    }

    .section-bg-left::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 80rem;
      background-image: radial-gradient(
        ellipse at left,
        rgba(62, 150, 244, 0.10),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      );
      background-size: 150% 100%;
      margin-top: -40rem;
      z-index: -1;
    }
  </style>
</Layout>