---
import { Image, Picture } from "@astrojs/image/components";
import footer_logo from "../../public/Images/footer_logo.svg"
import linkedin_footer from "../../public/Images/linkedin-footer.svg"
import fb from "../../public/Images/fb.svg"
import instagram from "../../public/Images/insta-footer.svg"
import phone from "../../public/Images/phone.svg"
import map from "../../public/Images/map.svg"
import email from "../../public/Images/email.svg"
import form_bg from "../../public/Images/form-bg.svg"
import right from "../../public/Images/right.svg";
---

<section class="bg-[#3E96F4] flex flex-wrap relative mt-[3.125rem] md:mt-[3.125rem] lg:mt-[6.25rem]" id="section">
    <div
        class="bg-lets-craft w-full md:w-5/12 bg-no-repeat bg-center bg-cover flex place-items-end justify-center"
    >
    <!-- class="block md:absolute md:left-80 md:-top-32 ml-0 md:ml-auto"     -->
    <!-- class="block md:absolute f_left f_top ml-0 md:ml-auto" -->

    <Image loading="eager" 
            src={form_bg} alt="form_bg"
            alt="Image description"
    class="block md:absolute  ml-0 md:ml-auto"    
            
        />
    </div>
    <div
        class="mx-5 md:max-w-7xl md:mx-auto w-full md:w-7/12 md:px-24 p-0 py-3 md:p-10"
    >
        <h2 class="font-semibold text-white text-2xl md:text-3xl lg:text-4xl">
            Let's craft awesomeness together!
        </h2>
        <div
            class="mt-5 flex justify-between bg-white rounded-lg px-5 py-3 w-56"
        >
            <a
                href="/contact-us"
                class="text-[#3E96F4] text-sm md:text-base font-semibold font-inter"
                >Fill up a form now.</a
            >
            <Image loading="eager"  src={right} width={6} height={12} alt="right arrow "/>
        </div>
    </div>
    </div>
</section>

<footer class="bg-[#31393C] py-10 md:py-16 lg:py-20">
    <!-- <div class="md:max-w-7xl md:mx-auto md:px-24 lg:px-0 flex flex-wrap text-white">
        <div class="sm:w-full md:w-3/12 lg:w-3/12">
            <Image loading="eager"  src="'../../public/Images/footer_logo.svg" />
            <p class="text-sm leading-6 mt-5">
                ServiceNow and ERPNext Consulting, Implementation and
                Development Specialist.
            </p>
            <div class="my-5 pr-4">
                <div class="flex space-x-6 mt-6 md:mt-6 lg:mt-8">
                    <a href="https://in.linkedin.com/company/sanskar-technolab-pvt-ltd" class="text-gray-400">
                        <Image loading="eager" 
                            class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
                            src="../../public/Images/linkedin-footer.svg"
                        />
                        <p class="sr-only">Linkedin account</p>
                    </a>
                    <a href="https://www.facebook.com/SanskarTechnolab/" class="text-gray-400">
                        <Image loading="eager" 
                            class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
                            src="../../public/Images/fb.svg"
                        />
                        <p class="sr-only">Facebook page</p>
                    </a>
                    <a href="https://www.instagram.com/sanskartechnolab/" class="text-gray-400">
                        <Image loading="eager" 
                            class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
                            src="../../public/Images/insta-footer.svg"
                        />
                        <p class="sr-only">Instagram page</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="sm:w-full md:w-3/12 lg:w-3/12">
            <div class="text-base text[#F7FFFF] font-bold">ServiceNow</div>
            <div class="grid gap-5 mt-5">
                <p class="text-sm ">ServiceNow Development</p><hr>
                <p class="text-sm ">ServiceNow Partner</p><hr>
                <p class="text-sm ">ServiceNow Consultation</p><hr>
                <p class="text-sm ">Hire ServiceNow Developer</p><hr>
            </div>
        </div>
        <div class="sm:w-full md:w-3/12 lg:w-3/12">
            <div class="text-base text[#F7FFFF] font-bold">ERPNext</div>
            <div class="grid gap-5 mt-5">
                <p class="text-sm ">ERPNext Partner</p><hr class="">
                <p class="text-sm ">ERPNext Amazon Integration</p><hr>
            </div>
        </div>
        <div class="sm:w-full md:w-3/12 lg:w-3/12">
            <div class="text-base text[#F7FFFF] font-bold">Contact</div>
        </div>
    </div> -->

    <div
        class="md:max-w-7xl mx-5 md:mx-auto md:px-24 2xl:px-0 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 md:gap-7lg:gap-10 text-white"
    >
        <div class="">
            <a href="/">
                <Image loading="eager"  src={footer_logo} alt="logo" /></a>
            <p class="!text-sm leading-6 mt-5">
                ServiceNow and ERPNext Consulting, Implementation and
                Development Specialist.
            </p>
            <div class="my-5 pr-4">
                <div class="flex space-x-6 mt-6 md:mt-6 lg:mt-8">
                    <a href="https://in.linkedin.com/company/sanskar-technolab-pvt-ltd" class="text-gray-400">
                        <Image loading="eager" 
                            class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
                            src={linkedin_footer} alt="linkedin_footer"
                        />
                        <p class="sr-only">Linkedin account</p>
                    </a>
                    <a href="https://www.facebook.com/SanskarTechnolab/" class="text-gray-400">
                        <Image loading="eager" 
                            class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
                            src={fb} alt="facebook"
                        />
                        <p class="sr-only">Facebook page</p>
                    </a>
                    <a href="https://www.instagram.com/sanskartechnolab/" class="text-gray-400">
                        <Image loading="eager" 
                            class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
                            src={instagram} alt="instagram"
                        />
                        <p class="sr-only">Instagram page</p>
                    </a>
                </div>
            </div>
        </div>
       <div class="">
            <h4 class="!text-base text[#F7FFFF] font-bold"> Industries</h4>
            <div class="grid gap-2 md:gap-2 lg:gap-3 mt-2">
                
				<p class="border-bottom"></p> <a href="/manufacturing" class="mt-3 text-sm">Manufacturing</a>
                <a href="/textile" class="text-sm">Textile</a>
                <!--<a href="#" class="text-sm">Healthcare</a>-->
                <a href="/retail" class="text-sm">Retail</a>
				<!--<a href="#" class="text-sm">Construction</a>
                <a href="#" class="text-sm">Crowdfunding</a>-->
                <a href="/hr-payroll" class="text-sm">Human Resources</a>
                <!--<p class="border-bottom"></p><a href="#" class="text-sm">Ayurveda</a>-->
            </div>
        </div>

		 <div class="">
            <h4 class="!text-base text[#F7FFFF] font-bold">Discover</h4>
                <div class="grid gap-2 md:gap-2 lg:gap-3 mt-2">
                    <p class="border-bottom"></p><a href="/about" class="mt-3 text-sm">About</a>
                    <a href="/career" class="text-sm">Career</a>
                    <a href="/contact-us" class="text-sm">Contact</a>
                    <a href="/migoo-case-study" class="text-sm">Migoo Case Study</a>
                    <a href="/chatgpt-integration" class="text-sm">ChatGPT Integration</a>
                    <a href="/erpnext-implementation-partner" class="text-sm">ERRNext Implementation Partner</a>
                </div>
        </div>
         <div>
            <h4 class="!text-base text[#F7FFFF] font-bold">Contact</h4>
            <div class="!text-sm mt-5">
                <!-- <div class=""> -->
                    <a class="flex gap-1 justify-between" href="https://www.google.com/maps?sca_esv=566178271&output=search&q=B+-+305+-+308,+Shilp+Corporate+park,+Rajpath+Rangoli+Road,+Thaltej,+Ahmedabad.&source=lnms&entry=mc&sa=X&ved=2ahUKEwiW966Zr7OBAxWQwjgGHQHWAAsQ0pQJegQICBAB">
                    <div class="w-1/12"><Image loading="eager"  class="ml-1 mt-1 -mr-2" src={map} alt="map" /></div>
                    <div class="w-11/12">B - 305 - 308, Shilp Corporate park, Rajpath Rangoli Road, Thaltej, Ahmedabad. (Gujarat-India). </div>
                    </a>
                <!-- </div> -->
                 <!-- <div class="flex  cursor-pointer  mt-7 gap-1">
                    <div class="w-1/12 mt-1"><Image loading="eager"  src={email} alt="email" /><a href="mailto:info@sanskartechnolab.com" ></a></div>
                    <div class="w-11/12"><p>info@sanskartechnolab.com</p></div>
                </div> -->

                <div class="flex  cursor-pointer gap-1 justify-between"><a href="mailto:info@sanskartechnolab.com" class="mt-3 flex gap-2">
                    <div class="w-1/12 mt-1"><Image loading="eager"  src={email} alt="email" /></div>
                    <div class="w-11/12">info@sanskartechnolab.com</div></a>
                </div>
                <div class="flex gap-1 justify-between"><a href="tel:+91 9558112081" class="mt-3 flex gap-2">
                    <div class="w-1/12 flex lg:justify-center"><Image loading="eager"  src={phone} alt="phone" /></div>
                    <div class="w-11/12 ">(+91) 95581 12081</div></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<section class="bg-[#04000E]">
    <p class="md:max-w-7xl md:mx-auto md:px-24 lg:px-0 text-center p-2">
        <span class="text-[#918F96] text-sm leading-3"
            >&copy; 2023 Sanskar Technolab All Rights Reserved</span
        >
    </p>
</section>
<style>

    /* .f_left{
        left: 20rem;
    }
    .f_top
    {
        top: -8rem;
    }   

    @media only screen and (min-width: 692px) {
        .f_left{
        left: 0rem;
    }
    .f_top
    {
        top: -3rem;
    }  
}
@media only screen and (min-width: 836px) {
        .f_left{
        left: 0rem;
    }
    .f_top
    {
        top: 1rem;
    }  
}
@media only screen and (min-width: 928px) {
        .f_left{
        left: 1rem;
    }
    .f_top
    {
        top: -5.5rem;
    }  
}

@media only screen and (min-width: 1194px) {
        .f_left{
        left: 8rem;
    }
    .f_top
    {
        top: -8rem;
    }  
} */

    footer
    {
        font-family: Open Sans;
    }
    section{
        font-family: Open Sans;
    }
    .font-montserrat{
        font-family: Montserrat;
    }
    .bg-lets-craft{
		background-image: url('../../public/Images/form-bg-3.png');
	}

    .b{
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }

    .border-bottom{
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }
</style>
<script>
    var currentUrl = window.location.pathname;
    var contact = '/contact-us';
    var contact1 = '/contact-us/';
    var thanks = '/thank-you';
    var thanks1 = '/thank-you/';

    // Check if the current URL matches the target URL
    if (currentUrl === contact || currentUrl === thanks || currentUrl === contact1 || currentUrl === thanks1) {
        var section = document.getElementById("section");
        section.classList.add('!hidden')
        // section.classList.add('flex')
    } else {
        var section = document.getElementById("section");
        section.classList.remove('!hidden')
    }
</script>