---
import Navbar from "../components/navbar.astro";
// import Navbar from "../pages/test.astro"
import Footer from "../components/footer.astro";
import { Image, Picture } from "@astrojs/image/components";
import scroll from "../../public/Images/scroll-top.svg"
import favicon from "/favicon/favicon-32x32.png";

export interface Props {
	title: string;
	keyword?: string;
	description?: string;
	canonical_href?: string;
}

const { title, keyword='', description='', canonical_href=''} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- <meta name="description" content="Astro description" /> -->
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="icon" href={favicon} sizes="32x32"  type="image/png">
		<link rel="icon" href="/favicon-32x32.png" sizes="32x32"  type="image/png">
		
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="noindex,nofollow">

		{keyword && <meta name="keyword" content={keyword} />}
		{description && <meta name="description" content={description} /> }

		{canonical_href && <link rel="canonical" href={canonical_href} />}

		<title>{title}</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
			rel="stylesheet"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css"
			rel="stylesheet"
		/> 
		<link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet" />

		<!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/> -->

		<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" rel="stylesheet" /> -->

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />

		<!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
		  
	</head>
	<body>
		<main>
			<div class="fixed right-5 bottom-5 z-10 hidden items-center cursor-pointer" id="s_top">
				<Image src={scroll} alt="scroll to top"/>
				<!-- Scroll To Top -->
			</div>
			<Navbar />
			<slot />
			<Footer />
			<!-- <script 
				src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js" defer
			></script> -->
			<script
				src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
				defer></script>
				<!-- <script src="../../node_modules/flowbite/dist/flowbite.min.js" defer></script> -->
				<script src="https://unpkg.com/swiper/swiper-bundle.min.js" defer></script>
				<script
				src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js" defer></script>

				<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js" defer></script> -->
				
				<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" defer></script> -->

		</main>
		<script>
			

				function checkScrollPosition() {
					var scrollToTopButton = document.getElementById("s_top");

					if (window.scrollY > 300) {
						scrollToTopButton.style.display = "block";
					} else {
						scrollToTopButton.style.display = "none";
					}
					}

					var scroll = document.getElementById("s_top");
					scroll.addEventListener("click", scrollToTop);
					function scrollToTop() {
						window.scrollTo({
							top: 0,
							behavior: 'smooth' // You can also use 'auto' or 'instant'
						});
						}

					// Attach the scroll event listener to the window
					window.addEventListener("scroll", checkScrollPosition);



		</script>
	</body>
</html>
